openapi: 3.2.0
info:
  title: Benchmark Email RESTful API v3.0 Inbox Checker API
  description: 'RESTful API for managing email marketing contacts, lists, campaigns, automations, reports, images, and webhooks within the Benchmark Email platform. To use the API, you need a Benchmark Email API token available at https://ui.benchmarkemail.com/Integrate#API. Rate limit: 500 calls per 2 minutes and 60,000 calls per day.'
  version: 3.0.0
  contact:
    name: Benchmark Email Developer Support
    url: https://developer.benchmarkemail.com/
  license:
    name: Proprietary
servers:
- url: https://clientapi.benchmarkemail.com
  description: Benchmark Email Client API
security:
- apiKeyAuth: []
tags:
- name: Inbox Checker
  description: Test emails in inbox preview
paths:
  /Inbox/:
    get:
      tags:
      - Inbox Checker
      summary: Get a Inbox List
      operationId: get__inbox
      parameters:
      - name: Filter
        in: query
        required: false
        schema:
          type: string
      - name: PageNumber
        in: query
        required: false
        schema:
          type: string
      - name: PageSize
        in: query
        required: false
        schema:
          type: string
      - name: Status
        in: query
        required: false
        schema:
          type: string
      - name: OrderBy
        in: query
        required: false
        schema:
          type: string
      - name: SortOrder
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get a Inbox List


        Query String Parameters :


        Parameter

        Required

        Type

        Description


        Status

        Optional

        string

        Completed (1) Or Not (0)


        PageNumber

        Required

        string

        Page Number


        PageSize

        Requ'
    post:
      tags:
      - Inbox Checker
      summary: Create a Inbox
      operationId: post__inbox
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Create a Inbox


        Request Body Parameters :


        Parameter

        Required

        Type

        Description


        EmailID

        Required

        string

        Email ID


        TestID

        Required

        string

        Test ID (ID of the Applications in which the test is required like 0,22)


        Response Body'
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /Inbox/{ID}:
    delete:
      tags:
      - Inbox Checker
      summary: Delete a Inbox
      operationId: delete__inbox__id
      parameters:
      - name: ID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Delete a Inbox


        Request Body Parameters:


        Parameter

        Required

        Type

        Description


        ID

        Required

        string

        Inbox ID


        Response Body Parameters:


        Parameter

        Type

        Description


        Status'
    get:
      tags:
      - Inbox Checker
      summary: Get a Inbox Master Result
      operationId: get__inbox__id
      parameters:
      - name: ID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get a Inbox Master Result


        Request Body Parameters :


        Parameter

        Required

        Type

        Description


        ID

        Required

        string

        Inbox ID


        Response Body Parameters:


        Parameter

        Type

        Description


        Status</t'
  /Inbox/Tests:
    get:
      tags:
      - Inbox Checker
      summary: Get a Inbox Detail Result
      operationId: get__inbox_tests
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get a Inbox Detail Tests


        Request Body Parameters : None


        Response body parameters :


        Parameter

        Type

        Description


        TotalPurchase

        int

        Total Purchase test


        TotalTest

        int

        Total tests used


        TotalBalance

        int'
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: AuthToken
      description: API token obtained from https://ui.benchmarkemail.com/Integrate#API
