openapi: 3.2.0
info:
  title: Benchmark Email RESTful API v3.0 Segments API
  description: 'RESTful API for managing email marketing contacts, lists, campaigns, automations, reports, images, and webhooks within the Benchmark Email platform. To use the API, you need a Benchmark Email API token available at https://ui.benchmarkemail.com/Integrate#API. Rate limit: 500 calls per 2 minutes and 60,000 calls per day.'
  version: 3.0.0
  contact:
    name: Benchmark Email Developer Support
    url: https://developer.benchmarkemail.com/
  license:
    name: Proprietary
servers:
- url: https://clientapi.benchmarkemail.com
  description: Benchmark Email Client API
security:
- apiKeyAuth: []
tags:
- name: Segments
  description: Manage contact segments
paths:
  /Contact/{ListID}/Segments:
    post:
      tags:
      - Segments
      summary: Creating segment from contact IDs
      operationId: post__contact__listid__segments
      parameters:
      - name: ListID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Creates segment from contact IDs


        URL Parameters


        KeyRequiredDescription


        {{ListID}}requiredID of the list


        Body Parameters (to be encoded as a JSON string)


        KeyRequiredDescription


        ContactIDsrequiredIDs of the contacts to be inserted'
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /Contact/Segments:
    get:
      tags:
      - Segments
      summary: Getting a list of segments
      operationId: get__contact_segments
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get Segments


        Query String parameters


        KeyRequiredTypeDescription


        PageNumberoptionalint Page Number


        PageSizerequiredint Number of rows on the page


        Filterrequiredstring Filter value


        OrderByrequiredstring Order By Column ('
  /Contact/Segments/{SegmentID}:
    delete:
      tags:
      - Segments
      summary: Delete Segment
      operationId: delete__contact_segments__segmentid
      parameters:
      - name: SegmentID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Deletes an existing segment


        URL Parameters


        KeyRequiredTypeDescription


        required{{SegmentID}}stringID of the segment


        Response body parameters


        KeyTypeDescription


        statusstring1 if successful, -1 if error'
    get:
      tags:
      - Segments
      summary: Get segment by ID
      operationId: get__contact_segments__segmentid
      parameters:
      - name: SegmentID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get an existing segment by ID


        URL Parameters


        KeyRequiredTypeDescription


        {{SegmentID}}requiredstringID of the segment


        Response body parameters


        KeyTypeDescription


        Statusstring1 if successful, -1 if error


        <t'
    patch:
      tags:
      - Segments
      summary: Update Segment
      operationId: patch__contact_segments__segmentid
      parameters:
      - name: SegmentID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Update Segment


        URL Parameters


        KeyRequiredTypeDescription


        {{SegmentID}}requiredstringID of the segment


        Body Parameters (To be passed as a JSON string)


        KeyRequiredTypeDescription


        Dataoptional<a href="http://w'
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /Contact/Segments/{SegmentID}/SegmentDetails:
    get:
      tags:
      - Segments
      summary: Get Segment Details
      operationId: get__contact_segments__segmentid__segmentdetails
      parameters:
      - name: SegmentID
        in: path
        required: true
        schema:
          type: string
      - name: PageNumber
        in: query
        required: false
        schema:
          type: string
      - name: PageSize
        in: query
        required: false
        schema:
          type: string
      - name: OrderBy
        in: query
        required: false
        schema:
          type: string
      - name: SortOrder
        in: query
        required: false
        schema:
          type: string
      - name: SearchFilter
        in: query
        required: false
        schema:
          type: string
      - name: SearchType
        in: query
        required: false
        schema:
          type: string
      - name: SearchField
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get Segment Details


        URL Parameters


        KeyRequiredTypeDescription


        {{SegmentID}}requiredstringID of the segment


        Query String Parameters


        KeyRequiredTypeDescription


        PageNumberoptionalintPage Number


        PageSiz'
  /Contact/Segments/Name/{ListID}:
    get:
      tags:
      - Segments
      summary: Get Segment Auto Generate Name
      operationId: get__contact_segments_name__listid
      parameters:
      - name: ListID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get Segment Auto Generate Name


        URL Parameters


        KeyRequiredTypeDescription


        {{ListID}}requiredstringID of the list


        Response body parameters


        KeyTypeDescription


        Statusstring1 if successful, -1 if error


        <td'
  /Contact/Segments/{SegmentID}/Criteria:
    delete:
      tags:
      - Segments
      summary: Delete the Segment Criteria
      operationId: delete__contact_segments__segmentid__criteria
      parameters:
      - name: SegmentID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Delete Segment


        URL Parameters


        KeyRequiredTypeDescription


        {{SegmentID}}requiredstringID of the segment


        Response body parameters


        KeyTypeDescription


        Statusstring1 if successful, -1 if error


        ErrorData'
    post:
      tags:
      - Segments
      summary: Create Criteria
      operationId: post__contact_segments__segmentid__criteria
      parameters:
      - name: SegmentID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Create a new Segments Criteria


        URL Parameters


        KeyRequiredTypeDescription


        {{SegmentID}}requiredstringID of the segment


        Body Parameters (To be passed as a JSON string)


        KeyRequiredTypeDescription


        Criteriarequired<'
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /Contact/{ListID}/SegmentLists:
    get:
      tags:
      - Segments
      summary: Get Segment List
      operationId: get__contact__listid__segmentlists
      parameters:
      - name: ListID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get Segment List


        URL Parameters


        KeyRequiredTypeDescription


        {{ListID}}requiredstringID of the list


        Response body parameters


        KeyTypeDescription


        Statusstring1 if successful, -1 if error


        Count<td'
  /Contact/{ID}/Segment/Download:
    get:
      tags:
      - Segments
      summary: Get download segment data
      operationId: get__contact__id__segment_download
      parameters:
      - name: ID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get download segment data


        URL Parameters


        KeyRequiredTypeDescription


        {{ID}}requiredstringIDs of the segment


        Response body parameters


        KeyTypeDescription


        Statusstring1 if successful, -1 error


        Segment'
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: AuthToken
      description: API token obtained from https://ui.benchmarkemail.com/Integrate#API
