openapi: 3.2.0
info:
  title: Benchmark Email RESTful API v3.0 Third Party Signup Forms…
  description: 'RESTful API for managing email marketing contacts, lists, campaigns, automations, reports, images, and webhooks within the Benchmark Email platform. To use the API, you need a Benchmark Email API token available at https://ui.benchmarkemail.com/Integrate#API. Rate limit: 500 calls per 2 minutes and 60,000 calls per day.'
  version: 3.0.0
  contact:
    name: Benchmark Email Developer Support
    url: https://developer.benchmarkemail.com/
  license:
    name: Proprietary
servers:
- url: https://clientapi.benchmarkemail.com
  description: Benchmark Email Client API
security:
- apiKeyAuth: []
tags:
- name: Third Party Signup Forms
  description: Third-party signup form integrations
paths:
  /Client/Integrations/SignupForm/Magento:
    get:
      tags:
      - Third Party Signup Forms
      summary: Get SignupForm for Magento
      operationId: get__client_integrations_signupform_magento
      parameters:
      - name: ID
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get SignupForm for Magento


        Query String Parameters :


        Parameter

        Required

        Type

        Description


        ID

        Required

        int

        Listbuilder ID


        Response Body Parameters :


        Parameter

        Type

        Description


        Data

        string'
  /Client/Integrations/SignupForm/Tumbler:
    get:
      tags:
      - Third Party Signup Forms
      summary: Get SignupForm Tumbler
      operationId: get__client_integrations_signupform_tumbler
      parameters:
      - name: ID
        in: query
        required: false
        schema:
          type: string
      - name: Title
        in: query
        required: false
        schema:
          type: string
      - name: Subscribe
        in: query
        required: false
        schema:
          type: string
      - name: Email
        in: query
        required: false
        schema:
          type: string
      - name: Language
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get Third Party SignupForm Tumbler


        Query String Parameters :


        Parameter

        Required

        Type

        Description


        ID

        Required

        int

        Listbuilder ID


        Title

        optional

        String

        Title Text


        Language

        optional

        string

        Language


        Subscribe

        optional

        string

        Sub'
  /Client/Integrations/SignupForm/Unbounce:
    get:
      tags:
      - Third Party Signup Forms
      summary: Get SignupForm For Unbounce
      operationId: get__client_integrations_signupform_unbounce
      parameters:
      - name: ID
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get SignupForm For Unbounce


        Query String Parameters :


        Parameter

        Required

        Type

        Description


        ID

        Required

        int

        ContactMaster ID


        Response Body Parameters :


        Parameter

        Type

        Description


        Data

        string'
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: AuthToken
      description: API token obtained from https://ui.benchmarkemail.com/Integrate#API
