openapi: 3.2.0
info:
  title: Benchmark Email RESTful API v3.0 Webhooks API
  description: 'RESTful API for managing email marketing contacts, lists, campaigns, automations, reports, images, and webhooks within the Benchmark Email platform. To use the API, you need a Benchmark Email API token available at https://ui.benchmarkemail.com/Integrate#API. Rate limit: 500 calls per 2 minutes and 60,000 calls per day.'
  version: 3.0.0
  contact:
    name: Benchmark Email Developer Support
    url: https://developer.benchmarkemail.com/
  license:
    name: Proprietary
servers:
- url: https://clientapi.benchmarkemail.com
  description: Benchmark Email Client API
security:
- apiKeyAuth: []
tags:
- name: Webhooks
  description: Manage webhooks for event notifications
paths:
  /Contact/{ListID}/Webhooks/{ID}:
    patch:
      tags:
      - Webhooks
      summary: Update Webhook
      operationId: patch__contact__listid__webhooks__id
      parameters:
      - name: ListID
        in: path
        required: true
        schema:
          type: string
      - name: ID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Update webhook data


        URL Parameters


        KeyRequiredTypeDescription


        {{ListID}}requiredstringID of the list


        {{ID}}requiredstringID of the webhook


        Body Parameters (To be passed as a JSON string)


        KeyRequiredTypeDescription</t'
      requestBody:
        content:
          application/json:
            schema:
              type: object
    delete:
      tags:
      - Webhooks
      summary: Delete the Webhooks
      operationId: delete__contact__listid__webhooks__id
      parameters:
      - name: ListID
        in: path
        required: true
        schema:
          type: string
      - name: ID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Delete webhooks


        URL Parameters


        KeyRequiredTypeDescription


        {{ListID}}requiredstringID of the list


        {{ID}}requiredstringID of the webhook


        Response body parameters


        KeyTypeDescription


        Status</'
  /Contact/{ListID}/Webhooks:
    post:
      tags:
      - Webhooks
      summary: Create Webhook
      operationId: post__contact__listid__webhooks
      parameters:
      - name: ListID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Create New Webhook


        URL Parameters


        KeyRequiredTypeDescription


        {{ListID}}requiredstringID of the list


        Body Parameters (To be passed as a JSON string)


        KeyRequiredTypeDescription


        Datarequired<a href="http://www'
      requestBody:
        content:
          application/json:
            schema:
              type: object
    get:
      tags:
      - Webhooks
      summary: Get Webhooks
      operationId: get__contact__listid__webhooks
      parameters:
      - name: ListID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get a list of webhooks in the specified list


        URL Parameters


        KeyRequiredTypeDescription


        {{ListID}}requiredstringID of the list


        Response body parameters


        KeyTypeDescription


        Statusstring1 if successful, -1 if error'
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: AuthToken
      description: API token obtained from https://ui.benchmarkemail.com/Integrate#API
