openapi: 3.2.0
info:
  title: Benchmark Email RESTful API v3.0 Automation Creation API
  description: 'RESTful API for managing email marketing contacts, lists, campaigns, automations, reports, images, and webhooks within the Benchmark Email platform. To use the API, you need a Benchmark Email API token available at https://ui.benchmarkemail.com/Integrate#API. Rate limit: 500 calls per 2 minutes and 60,000 calls per day.'
  version: 3.0.0
  contact:
    name: Benchmark Email Developer Support
    url: https://developer.benchmarkemail.com/
  license:
    name: Proprietary
servers:
- url: https://clientapi.benchmarkemail.com
  description: Benchmark Email Client API
security:
- apiKeyAuth: []
tags:
- name: Automation Creation
  description: Create and manage automation workflows
paths:
  /Automation/{AutomationID}:
    patch:
      tags:
      - Automation Creation
      summary: Update an Automation
      operationId: patch__automation__automationid
      parameters:
      - name: AutomationID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Create an Automation


        URL Parameters


        Key

        Required

        Type


        {{AutomationID}}

        Required

        Automation ID


        Body Parameters (to be encoded as a JSON string)


        Key

        Required

        Type


        Detail

        Required

        See for details on <a href=''http://www.benchmarkem'
      requestBody:
        content:
          application/json:
            schema:
              type: object
    get:
      tags:
      - Automation Creation
      summary: Get details of an Automation
      operationId: get__automation__automationid
      parameters:
      - name: AutomationID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get details of an Automation


        URL Parameters


        Key

        Required

        Description


        {{AutomationID}}

        Required

        Automation ID


        Response body parameters


        KeyTypeDescription


        StatusString1 if success, -1 if error


        Data<a href=''htt'
  /Automation/{AutomationID}/Emails/{AutomationDetailID}:
    get:
      tags:
      - Automation Creation
      summary: Get details for an Automation Email
      operationId: get__automation__automationid__emails__automationdetailid
      parameters:
      - name: AutomationID
        in: path
        required: true
        schema:
          type: string
      - name: AutomationDetailID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Create copy of an Automation email


        URL Parameters


        Key

        Required

        Description


        {{AutomationID}}

        Required

        Automation ID


        {{AutomationDetailID}}

        Required

        Automation email ID


        Response body parameters


        KeyTypeDescription'
    patch:
      tags:
      - Automation Creation
      summary: Update Email in Automation
      operationId: patch__automation__automationid__emails__automationdetailid
      parameters:
      - name: AutomationID
        in: path
        required: true
        schema:
          type: string
      - name: AutomationDetailID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Create an Automation


        URL Parameters


        Key

        Required

        Description


        {{AutomationID}}

        Required

        Automation ID


        {{AutomationDetailID}}

        Required

        Automation Email ID


        Body Parameters (to be encoded as a JSON string)


        Key

        Required

        Description


        </thead'
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /Automation/:
    post:
      tags:
      - Automation Creation
      summary: Create an Automation
      operationId: post__automation
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Create an Automation


        Body Parameters (to be encoded as a JSON string)


        Key

        Required

        Type


        Detail

        Required

        See for details on AutomationDetailData


        Response body parameters


        KeyTypeDescription


        <tbo'
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /Automation/{AutomationID}/Emails/{AutomationDetailID}/Content:
    post:
      tags:
      - Automation Creation
      summary: Create Email Content for an Automation
      operationId: post__automation__automationid__emails__automationdetailid__content
      parameters:
      - name: AutomationID
        in: path
        required: true
        schema:
          type: string
      - name: AutomationDetailID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Create email content for an Automation


        URL Parameters


        Key

        Required

        Description


        {{AutomationID}}

        Required

        Automation ID


        {{AutomationDetailID}}

        Required

        Automation Email ID


        Body Parameters (to be encoded as a JSON string)


        Key

        Required

        Type

        </t'
      requestBody:
        content:
          application/json:
            schema:
              type: object
    patch:
      tags:
      - Automation Creation
      summary: Update Email Content for an Automation
      operationId: patch__automation__automationid__emails__automationdetailid__content
      parameters:
      - name: AutomationID
        in: path
        required: true
        schema:
          type: string
      - name: AutomationDetailID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Update email content for an Automation


        URL Parameters


        Key

        Required

        Description


        {{AutomationID}}

        Required

        Automation ID


        {{AutomationDetailID}}

        Required

        Automation Email ID


        Body Parameters (to be encoded as a JSON string)


        Key

        Required

        Type

        </t'
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /Automation/{AutomationID}/Emails:
    post:
      tags:
      - Automation Creation
      summary: Add Email in Automation
      operationId: post__automation__automationid__emails
      parameters:
      - name: AutomationID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Create an Automation


        URL Parameters


        Key

        Required

        Description


        {{AutomationID}}

        Required

        Automation ID


        Body Parameters (to be encoded as a JSON string)


        Key

        Required

        Type


        Detail

        Required

        See for details on <a href=''http://www.benc'
      requestBody:
        content:
          application/json:
            schema:
              type: object
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: AuthToken
      description: API token obtained from https://ui.benchmarkemail.com/Integrate#API
