openapi: 3.2.0
info:
  title: Benchmark Email RESTful API v3.0 Email Editor API
  description: 'RESTful API for managing email marketing contacts, lists, campaigns, automations, reports, images, and webhooks within the Benchmark Email platform. To use the API, you need a Benchmark Email API token available at https://ui.benchmarkemail.com/Integrate#API. Rate limit: 500 calls per 2 minutes and 60,000 calls per day.'
  version: 3.0.0
  contact:
    name: Benchmark Email Developer Support
    url: https://developer.benchmarkemail.com/
  license:
    name: Proprietary
servers:
- url: https://clientapi.benchmarkemail.com
  description: Benchmark Email Client API
security:
- apiKeyAuth: []
tags:
- name: Email Editor
  description: Email template and layout management
paths:
  /Emails/Layout:
    get:
      tags:
      - Email Editor
      summary: GET Layout list
      operationId: get__emails_layout
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'GET Layout list


        Response body parameters


        KeyTypeDescription


        Statusstring1 if successful, -1 if error


        CountintTotal number


        DataLayoutListDataLayout Data'
  /Emails/TemplateCategory:
    get:
      tags:
      - Email Editor
      summary: GET Template Category list
      operationId: get__emails_templatecategory
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get a list of contacts


        Query String parameters


        KeyRequiredTypeDescription


        LanguageoptionalintLanguage


        Filter[Version]optionalintVersion


        IsRSSoptionalint1 if RSS, 0 otherwise


        Response body parameters'
  /Emails/TemplateCategory/{CategoryID}:
    get:
      tags:
      - Email Editor
      summary: GET Template Category By Category ID
      operationId: get__emails_templatecategory__categoryid
      parameters:
      - name: CategoryID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'GET Template Category By Category ID


        URL Parameters


        KeyRequiredTypeDescription


        {{CategoryID}}requiredstringID of the template category


        Query String parameters


        KeyRequiredTypeDescription


        Languageoptionalstri'
  /Emails/Template/{TemplateID}:
    get:
      tags:
      - Email Editor
      summary: GET Template By Template ID
      operationId: get__emails_template__templateid
      parameters:
      - name: TemplateID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get a list of contacts


        URL Parameters


        KeyRequiredTypeDescription


        {{TemplateID}}requiredstringIDs of the template


        Response body parameters


        KeyTypeDescription


        Statusstring1 if successful, -1 if error


        <t'
  /Emails/Badges:
    get:
      tags:
      - Email Editor
      summary: GET Badges List
      operationId: get__emails_badges
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'GET Badges List


        Response body parameters


        KeyTypeDescription


        BadgeBadgeBadge Data'
  /Emails/Scheme:
    get:
      tags:
      - Email Editor
      summary: Get Scheme
      operationId: get__emails_scheme
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get Scheme


        Query String parameters


        KeyRequiredTypeDescription


        FilteroptionalstringFilter, default or saved


        LanguageoptionalstringLanguage


        FilterTypeoptionalstringFilter Type, type


        Response b'
    patch:
      tags:
      - Email Editor
      summary: Add / Update Scheme
      operationId: patch__emails_scheme
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Add / Update Scheme


        Query String parameters


        KeyRequiredTypeDescription


        Overwriteoptionalint1 Overwrite existing scheme

        0 Don''t overwrite existing scheme


        LanguageoptionalstringLanguage


        Body Parameters (To be passed as a JSON string)


        <'
  /Emails/Scheme/{ID}:
    delete:
      tags:
      - Email Editor
      summary: Delete Scheme
      operationId: delete__emails_scheme__id
      parameters:
      - name: ID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get a list of contacts


        URL Parameters


        KeyRequiredTypeDescription


        {{ID}}requiredstringID of the Scheme


        Response body parameters


        KeyTypeDescription


        Statusstring1 if successful, -1 if error


        Error</td'
  /Emails/Template:
    get:
      tags:
      - Email Editor
      summary: Get Templates
      operationId: get__emails_template
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get Templates


        URL Parameters


        KeyRequiredTypeDescription


        {{ID}}requiredstringID of the Email


        Query String parameters


        KeyRequiredTypeDescription


        PageNumberoptionalintPage number


        Pa'
  /Client/Integrations:
    get:
      tags:
      - Email Editor
      summary: Get Editor Integration Connection List
      operationId: get__client_integrations
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get Integration List


        Response Body Parameters :


        Parameter

        Type

        Description


        Data

        GenericList

        Generic List'
  /Client/Integrations/EbaySite:
    get:
      tags:
      - Email Editor
      summary: Get Ebay Site List
      operationId: get__client_integrations_ebaysite
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get Ebay Site List


        Response Body Parameters :


        Parameter

        Type

        Description


        Data

        GenericList

        Generic List'
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: AuthToken
      description: API token obtained from https://ui.benchmarkemail.com/Integrate#API
