openapi: 3.2.0
info:
  title: Benchmark Email RESTful API v3.0 Contact Configurations &…
  description: 'RESTful API for managing email marketing contacts, lists, campaigns, automations, reports, images, and webhooks within the Benchmark Email platform. To use the API, you need a Benchmark Email API token available at https://ui.benchmarkemail.com/Integrate#API. Rate limit: 500 calls per 2 minutes and 60,000 calls per day.'
  version: 3.0.0
  contact:
    name: Benchmark Email Developer Support
    url: https://developer.benchmarkemail.com/
  license:
    name: Proprietary
servers:
- url: https://clientapi.benchmarkemail.com
  description: Benchmark Email Client API
security:
- apiKeyAuth: []
tags:
- name: Contact Configurations & Searches
  description: Configure and search contacts
paths:
  /Contact/{ListID}/ContactDetails:
    get:
      tags:
      - Contact Configurations & Searches
      summary: /{{ListID}}/ContactDetails? | Search a List, Get Filtered Contacts
      operationId: get__contact__listid__contactdetails
      parameters:
      - name: ListID
        in: path
        required: true
        schema:
          type: string
      - name: SearchType
        in: query
        required: false
        schema:
          type: string
      - name: SearchField
        in: query
        required: false
        schema:
          type: string
      - name: SearchFilter
        in: query
        required: false
        schema:
          type: string
      - name: PageNumber
        in: query
        required: false
        schema:
          type: string
      - name: PageSize
        in: query
        required: false
        schema:
          type: string
      - name: OrderBy
        in: query
        required: false
        schema:
          type: string
      - name: SortOrder
        in: query
        required: false
        schema:
          type: string
      - name: Filter
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get Filtered Contacts


        URL Parameters


        KeyRequiredTypeDescription


        {{ListID}}requiredstringID of the list


        Query String parameters


        KeyRequiredTypeDescription


        SearchFilteroptionalstring Search value</td'
  /Contact/ContactDetails:
    get:
      tags:
      - Contact Configurations & Searches
      summary: /ContactDetails | Search by email and show lists it belongs to and status…
      operationId: get__contact_contactdetails
      parameters:
      - name: Search
        in: query
        required: false
        schema:
          type: string
      - name: SearchFilter
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Search Contacts


        Query String parameters


        KeyRequiredTypeDescription


        SearchFilteroptionalstring Search Filter


        Searchrequiredstring Email Address you want to search


        Response body parameters


        KeyTypeDescription'
  /Contact/{ListID}/ContactDetails/{ContactID}:
    get:
      tags:
      - Contact Configurations & Searches
      summary: /{{ListID}}/ContactDetails/{{ContactID}} | Show a contact field names valuesand…
      operationId: get__contact__listid__contactdetails__contactid
      parameters:
      - name: ListID
        in: path
        required: true
        schema:
          type: string
      - name: ContactID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get Contact Details


        URL Parameters


        KeyRequiredTypeDescription


        {{ListID}}requiredstringID of the list


        {{ContactID}}requiredstringID of the contact


        Response body parameters


        KeyTypeDescription


        <t'
  /Contact/ContactDetails/All:
    delete:
      tags:
      - Contact Configurations & Searches
      summary: /ContactDetails/All | Delete the selected contacts from ALL lists
      operationId: delete__contact_contactdetails_all
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Delete the selected contacts from ALL lists


        Request body parameters


        KeyRequiredTypeDescription


        SearchoptionalstringSearch value like email address


        FilteroptionalstringFilter value


        Body Parameters (To be passed as a JSON string)


        Key'
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: AuthToken
      description: API token obtained from https://ui.benchmarkemail.com/Integrate#API
