openapi: 3.2.0
info:
  title: Benchmark Email RESTful API v3.0 Email Email Rss Creation…
  description: 'RESTful API for managing email marketing contacts, lists, campaigns, automations, reports, images, and webhooks within the Benchmark Email platform. To use the API, you need a Benchmark Email API token available at https://ui.benchmarkemail.com/Integrate#API. Rate limit: 500 calls per 2 minutes and 60,000 calls per day.'
  version: 3.0.0
  contact:
    name: Benchmark Email Developer Support
    url: https://developer.benchmarkemail.com/
  license:
    name: Proprietary
servers:
- url: https://clientapi.benchmarkemail.com
  description: Benchmark Email Client API
security:
- apiKeyAuth: []
tags:
- name: Email  Email Rss Creation
  description: Email Email Rss Creation
paths:
  /Emails/{ID}:
    get:
      tags:
      - Email  Email Rss Creation
      summary: Get Details of Email
      operationId: get__emails__id
      parameters:
      - name: ID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get Details of Email


        URL Parameters


        KeyRequiredTypeDescription


        {{ID}}requiredstringIDs of the EMail


        Response body parameters


        KeyTypeDescription


        Statusstring1 if successful, -1 if error


        Error<'
    patch:
      tags:
      - Email  Email Rss Creation
      summary: Update the email
      operationId: patch__emails__id
      parameters:
      - name: ID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Update the email


        URL Parameters


        KeyRequiredTypeDescription


        {{ID}}requiredstringID of the email


        Body Parameters (To be passed as a JSON string)


        KeyRequiredTypeDescription


        Detailrequired<a href="http://www.be'
  /Emails/{ID}/ABSplit:
    get:
      tags:
      - Email  Email Rss Creation
      summary: Get Details for the AB Split
      operationId: get__emails__id__absplit
      parameters:
      - name: ID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get a list of contacts


        URL Parameters


        KeyRequiredTypeDescription


        {{ID}}requiredstringID of the email


        Response body parameters


        KeyTypeDescription


        Statusstring1 if successful, -1 if error


        Data<'
  /Emails/:
    post:
      tags:
      - Email  Email Rss Creation
      summary: Create Email
      operationId: post__emails
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Create Email


        Body Parameters (To be passed as a JSON string)


        KeyRequiredTypeDescription


        DetailrequiredEmailDataEmail Details


        Response body parameters


        KeyTypeDescription


        <'
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /Emails/{ID}/RecipientCount:
    get:
      tags:
      - Email  Email Rss Creation
      summary: Get the recipient count for the email
      operationId: get__emails__id__recipientcount
      parameters:
      - name: ID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get a list of contacts


        URL Parameters


        KeyRequiredTypeDescription


        {{ID}}requiredstringID of the Email


        Response body parameters


        KeyTypeDescription


        Statusstring1 = Successful, -1 Error


        Count'
  /Emails/{ID}/Schedule:
    post:
      tags:
      - Email  Email Rss Creation
      summary: /{{ID}}/Schedule | Send Email
      operationId: post__emails__id__schedule
      parameters:
      - name: ID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Schedule the email


        URL Parameters


        KeyRequiredTypeDescription


        {{ID}}requiredstringID of the email


        Body Parameters (To be passed as a JSON string)


        KeyRequiredTypeDescription


        ScheduleDaterequiredstring<td'
  /Emails/{ID}/RSSSchedule:
    post:
      tags:
      - Email  Email Rss Creation
      summary: Schedule RSS Emails
      operationId: post__emails__id__rssschedule
      parameters:
      - name: ID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get a list of contacts


        URL Parameters


        KeyRequiredTypeDescription


        {{ID}}requiredstringID of the email


        Body Parameters (To be passed as a JSON string)


        KeyRequiredTypeDescription


        Schedulerequiredstring<td'
  /Emails/{ID}/Test:
    post:
      tags:
      - Email  Email Rss Creation
      summary: Send Email Test
      operationId: post__emails__id__test
      parameters:
      - name: ID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get a list of contacts


        URL Parameters


        KeyRequiredTypeDescription


        {{ID}}requiredstringID of the email


        Body Parameters (To be passed as a JSON string)


        KeyRequiredTypeDescription


        EmailsrequiredstringC'
  /Emails/{ID}/Spam:
    get:
      tags:
      - Email  Email Rss Creation
      summary: SpamCheck
      operationId: get__emails__id__spam
      parameters:
      - name: ID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'SpamCheck


        URL Parameters


        KeyRequiredTypeDescription


        {{ID}}requiredstringID of the email


        Response body parameters


        KeyTypeDescription


        Statusstring1 if successful, -1 if error


        Error<a href="'
  /Emails/CommunityCategory:
    get:
      tags:
      - Email  Email Rss Creation
      summary: GET Community Category
      operationId: get__emails_communitycategory
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get a list of contacts


        Response body parameters


        KeyTypeDescription


        DataGenericListCommunity Category Data'
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: AuthToken
      description: API token obtained from https://ui.benchmarkemail.com/Integrate#API
