openapi: 3.2.0
info:
  title: Benchmark Email RESTful API v3.0 Poll Creation API
  description: 'RESTful API for managing email marketing contacts, lists, campaigns, automations, reports, images, and webhooks within the Benchmark Email platform. To use the API, you need a Benchmark Email API token available at https://ui.benchmarkemail.com/Integrate#API. Rate limit: 500 calls per 2 minutes and 60,000 calls per day.'
  version: 3.0.0
  contact:
    name: Benchmark Email Developer Support
    url: https://developer.benchmarkemail.com/
  license:
    name: Proprietary
servers:
- url: https://clientapi.benchmarkemail.com
  description: Benchmark Email Client API
security:
- apiKeyAuth: []
tags:
- name: Poll Creation
  description: Create and manage polls
paths:
  /Poll/:
    post:
      tags:
      - Poll Creation
      summary: Create Poll
      operationId: post__poll
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Create Poll


        Query String Parameters : None


        Request Body Parameters :


        Parameter

        Required

        Type

        Description


        PollID

        Required

        string

        Poll ID


        Name

        Required

        string

        Poll Name


        Question'
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /Poll/{PollID}:
    get:
      tags:
      - Poll Creation
      summary: Get details of poll
      operationId: get__poll__pollid
      parameters:
      - name: PollID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get details of poll


        Query string parameters : None


        Request Body parameters:


        Parameter

        Required

        Type

        Description


        PollID

        Required

        String

        Poll ID


        Response body parameters :


        Parameter

        Type'
    patch:
      tags:
      - Poll Creation
      summary: Update Poll
      operationId: patch__poll__pollid
      parameters:
      - name: PollID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Update Poll


        Query String Parameters : None


        Request Body Parameters :


        Parameter

        Required

        Type

        Description


        PollID

        Required

        string

        Poll ID


        Name

        Required

        string

        Poll Name


        Question'
      requestBody:
        content:
          application/json:
            schema:
              type: object
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: AuthToken
      description: API token obtained from https://ui.benchmarkemail.com/Integrate#API
