openapi: 3.0.3
info:
  title: Benchmark Email RESTful API v3.0 ABTest Creation Help API
  description: 'RESTful API for managing email marketing contacts, lists, campaigns, automations, reports, images, and webhooks within the Benchmark Email platform. To use the API, you need a Benchmark Email API token available at https://ui.benchmarkemail.com/Integrate#API. Rate limit: 500 calls per 2 minutes and 60,000 calls per day.'
  version: 3.0.0
  contact:
    name: Benchmark Email Developer Support
    url: https://developer.benchmarkemail.com/
  license:
    name: Proprietary
servers:
- url: https://clientapi.benchmarkemail.com
  description: Benchmark Email Client API
security:
- apiKeyAuth: []
tags:
- name: Help
  description: Help desk and support tickets
paths:
  /Help/:
    get:
      tags:
      - Help
      summary: Get List of Help Topic
      operationId: get__help
      parameters:
      - name: Filter[URL]
        in: query
        required: false
        schema:
          type: string
      - name: PageNumber
        in: query
        required: false
        schema:
          type: string
      - name: PageSize
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Get List of Help Topic</h4>\n<b>Query string parameters :</b> \n<table>\n  <thead>\n    <tr>\n      <th>Parameter</th>\n      <th>Required</th>\n      <th>Type</th>\n      <th>Description</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <td>Filter[URL]</td>\n      <td>Required</td>\n      <td>String</td>\n      <td>URL</td>\n    </tr>\n    <tr>\n      <td>PageNumber</td>\n      <td>Required</td>\n      <td>String</td>\n      <td>Page Number</td>\n    </tr>\n    <tr>\n      <td>PageSize</td>\n      <td>Required"
    post:
      tags:
      - Help
      summary: ' Email Support/feedback to support'
      operationId: post__help
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4> Email Support/feedback to support</h4>\n\n<h4>Body Parameters (to be encoded as a JSON string)</h4>\n<table>\n  <tr>\n    <th>Parameter</th>\n    <th>Required</th>\n    <th>Type</th>\n    <th>Description</th>\n  </tr>\n  <tr>\n    <td>Subject</td>\n    <td>Required</td>\n    <td>string</td>\n    <td>Subject</td>\n  </tr>\n  <tr>\n    <td>Message</td>\n    <td>Required</td>\n    <td>string</td>\n    <td>Your Message</td>\n  </tr>\n  <tr>\n    <td>Name</td>\n    <td>Required</td>\n    <td>string</td>\n    <td>Name of "
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /Help/Ticket:
    post:
      tags:
      - Help
      summary: Generate Ticket
      operationId: post__help_ticket
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Generate Ticket</h4>\n\n<b>Body Parameters (to be encoded as a JSON string)</b>\n<table>\n  <tr>\n    <th>Parameter</th>\n    <th>Required</th>\n    <th>Type</th>\n    <th>Description</th>\n  </tr>\n  <tr>\n    <td>Name</td>\n    <td>Required</td>\n    <td>string</td>\n    <td>Name of a poll to be created</td>\n  </tr>\n</table>\n\n<h4>Response body parameters</h4>\n<table>\n<thead>\n<tr>\n<th>Key</th><th>Type</th><th>Description</th></tr>\n</thead>\n<tbody>\n<tr><td>Error</td><td><a href=\"http://www.benchmarkemail."
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: AuthToken
      description: API token obtained from https://ui.benchmarkemail.com/Integrate#API
