openapi: 3.2.0
info:
  title: Benchmark Email RESTful API v3.0 ABTest Creation API
  description: 'RESTful API for managing email marketing contacts, lists, campaigns, automations, reports, images, and webhooks within the Benchmark Email platform. To use the API, you need a Benchmark Email API token available at https://ui.benchmarkemail.com/Integrate#API. Rate limit: 500 calls per 2 minutes and 60,000 calls per day.'
  version: 3.0.0
  contact:
    name: Benchmark Email Developer Support
    url: https://developer.benchmarkemail.com/
  license:
    name: Proprietary
servers:
- url: https://clientapi.benchmarkemail.com
  description: Benchmark Email Client API
security:
- apiKeyAuth: []
tags:
- name: ABTest Creation
  description: Create and manage A/B split tests
paths:
  /ABSplit/:
    post:
      tags:
      - ABTest Creation
      summary: Create AB Test
      operationId: post__absplit
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Create AB split


        Body Parameters (to be encoded as a JSON string)


        Key

        Required

        Description


        Name

        Required

        Name of AB test


        Type

        Required

        Test type (like 1,2,3,4) 1.From Name / Subject Line Test 2.Campaign vs. Campaign Test 3.Multiple Variable Test 4.Delivery Time Test'
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /ABSplit/{ID}:
    get:
      tags:
      - ABTest Creation
      summary: Get Details for the AB Test
      operationId: get__absplit__id
      parameters:
      - name: ID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get Details for the AB Split


        URL parameter :


        Parameter

        Type

        Description


        ID

        string

        ABSplit ID


        Response body parameters:


        Parameter

        Type

        Description


        Status

        string

        1 if successful, -1 if err'
    patch:
      tags:
      - ABTest Creation
      summary: Update the AB Test
      operationId: patch__absplit__id
      parameters:
      - name: ID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Update AB split


        URL parameters:


        Parameter

        Type

        Description


        ID

        string

        ABSplit ID


        Body Parameters (to be encoded as a JSON string)


        Key

        Required

        Description


        Name

        Required

        Name of AB test


        Type

        Required

        Test type ('
      requestBody:
        content:
          application/json:
            schema:
              type: object
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: AuthToken
      description: API token obtained from https://ui.benchmarkemail.com/Integrate#API
