openapi: 3.2.0
info:
  title: Benchmark Email RESTful API v3.0 Agency Account API
  description: 'RESTful API for managing email marketing contacts, lists, campaigns, automations, reports, images, and webhooks within the Benchmark Email platform. To use the API, you need a Benchmark Email API token available at https://ui.benchmarkemail.com/Integrate#API. Rate limit: 500 calls per 2 minutes and 60,000 calls per day.'
  version: 3.0.0
  contact:
    name: Benchmark Email Developer Support
    url: https://developer.benchmarkemail.com/
  license:
    name: Proprietary
servers:
- url: https://clientapi.benchmarkemail.com
  description: Benchmark Email Client API
security:
- apiKeyAuth: []
tags:
- name: Agency Account
  description: Manage linked agency accounts
paths:
  /Client/LinkAccount/:
    post:
      tags:
      - Agency Account
      summary: Link Account
      operationId: post__client_linkaccount
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Link Account


        Query string parameters : None


        Request Body parameters:


        Parameter

        Required

        Type

        Description


        Login

        Required

        string

        Login ID


        Password

        Required

        string

        From Email Address'
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /Client/LinkAccount:
    get:
      tags:
      - Agency Account
      summary: Get list of link accounts
      operationId: get__client_linkaccount
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get list of link accounts


        Query string parameters : None


        Request Body parameters: None


        Response body parameters :


        Parameter

        Type

        Description


        Count

        string

        Number of link accounts


        Data

        <a href="http://www.benchmarkemail.com/models.htm#ClientLinkAccountDetail'
  /Client/LinkAccount/{ID}:
    delete:
      tags:
      - Agency Account
      summary: Delete Link Account
      operationId: delete__client_linkaccount__id
      parameters:
      - name: ID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Delete Link Account


        Query string parameters : None


        Request Body parameters:


        Parameter

        Required

        Type

        Description


        ID

        Required

        string

        Link Account ID


        Response body parameters :


        Parameter

        Type'
    patch:
      tags:
      - Agency Account
      summary: Update Link Account
      operationId: patch__client_linkaccount__id
      parameters:
      - name: ID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Update Link Account


        Query string parameters : None


        Request Body parameters:


        Parameter

        Required

        Type

        Description


        ID

        Required

        string

        Link Account ID


        Login

        Required

        string

        Login ID


        <t'
    get:
      tags:
      - Agency Account
      summary: Get Link Account Details
      operationId: get__client_linkaccount__id
      parameters:
      - name: ID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get Link Account Details


        Query string parameters : None


        Request Body parameters:


        Parameter

        Required

        Type

        Description


        ID

        Required

        string

        Link Account ID


        Response body parameters :


        Parameter

        Type'
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: AuthToken
      description: API token obtained from https://ui.benchmarkemail.com/Integrate#API
