openapi: 3.2.0
info:
  title: Benchmark Email RESTful API v3.0 Archive API
  description: 'RESTful API for managing email marketing contacts, lists, campaigns, automations, reports, images, and webhooks within the Benchmark Email platform. To use the API, you need a Benchmark Email API token available at https://ui.benchmarkemail.com/Integrate#API. Rate limit: 500 calls per 2 minutes and 60,000 calls per day.'
  version: 3.0.0
  contact:
    name: Benchmark Email Developer Support
    url: https://developer.benchmarkemail.com/
  license:
    name: Proprietary
servers:
- url: https://clientapi.benchmarkemail.com
  description: Benchmark Email Client API
security:
- apiKeyAuth: []
tags:
- name: Archive
  description: Manage email archive and archive pages
paths:
  /Archive:
    get:
      tags:
      - Archive
      summary: Get a list of emails for archive
      operationId: get__archive
      parameters:
      - name: PageNumber
        in: query
        required: false
        schema:
          type: string
      - name: PageSize
        in: query
        required: false
        schema:
          type: string
      - name: Filter
        in: query
        required: false
        schema:
          type: string
      - name: OrderBy
        in: query
        required: false
        schema:
          type: string
      - name: SortOrder
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get a list of emails for archive


        Query String Parameter :


        Key

        Required

        Description


        PageNumber

        optional

        Page Number


        PageSize

        optional

        Number of records to show per page


        Filter

        optional

        Filter for archive name


        OrderBy

        optional

        The column to sort on


        SortOrder</'
  /Archive/:
    post:
      tags:
      - Archive
      summary: Adding an email to archive
      operationId: post__archive
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Add an email to archive page


        Body Parameters (to be encoded as a JSON string)


        Key

        Required

        Description


        EmailID

        Required

        ID of the Email which want to add as archive


        Response body parameters


        KeyTypeDescription


        Return valueString1 if su'
      requestBody:
        content:
          application/json:
            schema:
              type: object
    patch:
      tags:
      - Archive
      summary: Update archive home page data
      operationId: patch__archive
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Update archieve home page data like Page Title ,logo,header,footer etc


        Body Parameters (to be encoded as a JSON string)


        Key

        Required

        Type


        data

        Required

        ArchiveHomePageData


        Response body parameters


        KeyTypeDescription</'
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /Archive/{ID}:
    delete:
      tags:
      - Archive
      summary: Delete email from archive
      operationId: delete__archive__id
      parameters:
      - name: ID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Delete an email from archive


        URL Parameters


        Key

        Required

        Description


        {{ID}}

        Required

        Archive ID


        Response body parameters


        KeyTypeDescription


        Return valueString1 if success, -1 if error'
  /Archive/Domain:
    get:
      tags:
      - Archive
      summary: Get details about Archive Page
      operationId: get__archive_domain
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Getting details about Archive Page


        Response body parameters


        KeyTypeDescription


        ArchiveURLStringArchive URL


        ShareStringShare


        SharePanelStringShare Panel


        DomainStringDomain


        ArchiveRootURLStringArchive Root URL


        ImageString'
  /Archive/AddDomain:
    post:
      tags:
      - Archive
      summary: Adding or Updating archive domain
      operationId: post__archive_adddomain
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Add / Update archive domain


        Body Parameters (to be encoded as a JSON string)


        Key

        Required

        Description


        Domain

        Required

        Name of the Archive Domain'
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /Archive/{mode}:
    get:
      tags:
      - Archive
      summary: Get HTML for button
      operationId: get__archive__mode
      parameters:
      - name: mode
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get HTML for button


        URL Parameters


        Key

        Required

        Description


        {{Mode}}

        Required

        ID of the button selected for archive(eg. 1,2,3,4,5,6,1000 etc)


        Response body parameters


        Key

        Type

        Description


        Code

        String

        HTML of button


        ArchiveURL

        S'
  /Archive/Image/{mode}:
    get:
      tags:
      - Archive
      summary: Get image for button
      operationId: get__archive_image__mode
      parameters:
      - name: mode
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get HTML for button


        URL Parameters


        Key

        Required

        Description


        {{Mode}}

        Required

        ID of the button selected for archive(eg. 1,2,3,4,5,6,1000 etc)


        Response body parameters


        Key

        Type

        Description


        Image

        String

        URL of the image


        Status

        In'
  /Archive/ArchivePages:
    get:
      tags:
      - Archive
      summary: Getting list of archive pages
      operationId: get__archive_archivepages
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Response body parameters


        Key

        Type

        Description


        Count

        Int

        Count of the archive pages


        Status

        String

        1 if success, -1 if error


        HideThumbnail

        String

        Whether the thumbnail should be hidden or not


        ArchiveIDs

        String

        Comma separated list of archive IDs


        Data

        <'
  /Archive/AddArchiveHome:
    post:
      tags:
      - Archive
      summary: Update the Archive Home Page
      operationId: post__archive_addarchivehome
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Update the Archive Home Page


        Body Parameters (to be encoded as a JSON string)


        Key

        Required

        Description


        SelArchiveIDs

        Required

        ID of the Email which want to add as archive


        Vieworders

        Required

        view order for email


        chkHide

        Required

        include thumbnail or not either true or false


        </tbo'
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /Archive/ArchiveHomePage:
    get:
      tags:
      - Archive
      summary: Getting the archive home page
      operationId: get__archive_archivehomepage
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get the archive home page


        Response body parameters


        KeyTypeDescription


        StatusString1 if success, -1 if error


        DataArchiveHomePageDataArray'
  /Archive/{ArchiveID}/Detail:
    get:
      tags:
      - Archive
      summary: Get the details of archive email
      operationId: get__archive__archiveid__detail
      parameters:
      - name: ArchiveID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get the details of archive email which id is pass


        URL Parameters


        Key

        Required

        Description


        {{ArchiveID}}

        Required

        Archive ID


        Response body parameters


        Key

        Type

        Description


        ArchiveRootURL

        String

        Archive main URL


        EmailID

        String</td'
  /Archive/{ArchiveID}/Update:
    patch:
      tags:
      - Archive
      summary: Update the archive email details
      operationId: patch__archive__archiveid__update
      parameters:
      - name: ArchiveID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Update the archive email details like description,URL etc


        Body Parameters (to be encoded as a JSON string)


        Key

        Required

        Type


        ArchiveID

        Required

        Archive ID


        data

        Required

        ArchiveData


        Response body parameters'
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /Archive/ArchiveHome/{Domain}/{Type}:
    get:
      tags:
      - Archive
      summary: Get Archive Home Data
      operationId: get__archive_archivehome__domain___type
      parameters:
      - name: Domain
        in: path
        required: true
        schema:
          type: string
      - name: Type
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get the details of archive email which id is pass


        URL Parameters


        KeyRequiredDescription


        DomainRequiredArchive Domain


        TypeRequiredType

        Home - Home

        Image - Image


        Response body parameters


        KeyTypeDescription


        <'
  /Archive/ArchiveEmail/{Domain}:
    post:
      tags:
      - Archive
      summary: Get HTML for Archive Newsletter
      operationId: post__archive_archiveemail__domain
      parameters:
      - name: Domain
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get HTML for Archive Newsletter


        URL Parameters


        KeyRequiredDescription


        DomainRequiredArchive Domain


        Body Parameters (to be encoded as a JSON string)


        KeyRequiredDescription


        ArchiveURLRequiredArchive URL


        Archive ID'
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: AuthToken
      description: API token obtained from https://ui.benchmarkemail.com/Integrate#API
