openapi: 3.2.0
info:
  title: Benchmark Email RESTful API v3.0 Security API
  description: 'RESTful API for managing email marketing contacts, lists, campaigns, automations, reports, images, and webhooks within the Benchmark Email platform. To use the API, you need a Benchmark Email API token available at https://ui.benchmarkemail.com/Integrate#API. Rate limit: 500 calls per 2 minutes and 60,000 calls per day.'
  version: 3.0.0
  contact:
    name: Benchmark Email Developer Support
    url: https://developer.benchmarkemail.com/
  license:
    name: Proprietary
servers:
- url: https://clientapi.benchmarkemail.com
  description: Benchmark Email Client API
security:
- apiKeyAuth: []
tags:
- name: Security
  description: Authentication and security operations
paths:
  /Client/Setting:
    get:
      tags:
      - Security
      summary: /Client/Setting | Get Client Account Settings
      operationId: get__client_setting
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get Client Account Settings


        Query String Parameters : None


        Request Body Parameters: None


        Response Body Parameters :


        Parameter

        Type

        Description


        Company

        SettingCompanyData

        Array of error


        Footer'
  /Client/PIN:
    post:
      tags:
      - Security
      summary: Change Security PIN
      operationId: post__client_pin
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Change Security PIN


        Body Parameters (to be encoded as a JSON string)


        Key

        Required

        Description


        ResetPIN

        Required

        New PIN


        ResetConfirmPIN

        Required

        Confirm New PIN


        ResetOldPIN

        Required

        Current PIN


        Response Body Parameters :


        Parameter'
      requestBody:
        content:
          application/json:
            schema:
              type: object
    patch:
      tags:
      - Security
      summary: Save Security PIN
      operationId: patch__client_pin
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Save Security PIN


        Body Parameters (to be encoded as a JSON string)


        Key

        Required

        Description


        NewPIN

        Required

        New PIN


        ConfirmNewPIN

        Required

        Confirm New PIN


        Response Body Parameters :


        Parameter

        Type

        Description'
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /Client/PIN/Disable:
    post:
      tags:
      - Security
      summary: Disable Security PIN
      operationId: post__client_pin_disable
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Disable Security PIN


        Body Parameters (to be encoded as a JSON string)


        Key

        Required

        Description


        DisableOldPIN

        Required

        Old PIN


        Response Body Parameters :


        Parameter

        Type

        Description


        retVal

        string

        retu'
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /Client/PIN/Email:
    post:
      tags:
      - Security
      summary: Send PIN via email incase you forgot
      operationId: post__client_pin_email
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Send PIN via email incase you forgot


        Response Body Parameters :


        Parameter

        Type

        Description


        retVal

        string

        return Value


        Error

        ErrorData

        Array of error


        Status

        <'
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: AuthToken
      description: API token obtained from https://ui.benchmarkemail.com/Integrate#API
