openapi: 3.2.0
info:
  title: Benchmark Email RESTful API v3.0 Sub Account API
  description: 'RESTful API for managing email marketing contacts, lists, campaigns, automations, reports, images, and webhooks within the Benchmark Email platform. To use the API, you need a Benchmark Email API token available at https://ui.benchmarkemail.com/Integrate#API. Rate limit: 500 calls per 2 minutes and 60,000 calls per day.'
  version: 3.0.0
  contact:
    name: Benchmark Email Developer Support
    url: https://developer.benchmarkemail.com/
  license:
    name: Proprietary
servers:
- url: https://clientapi.benchmarkemail.com
  description: Benchmark Email Client API
security:
- apiKeyAuth: []
tags:
- name: Sub Account
  description: Manage sub-accounts and their settings
paths:
  /Client/SubAccount:
    get:
      tags:
      - Sub Account
      summary: Get Sub-Accounts
      operationId: get__client_subaccount
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get Sub-Accounts


        Query string parameters : None


        Response Body Parameters :


        Parameter

        Type

        Description


        Count

        String

        Number of Sub-Accounts


        Data

        ClientDetail'
    post:
      tags:
      - Sub Account
      summary: Create Sub-Account
      operationId: post__client_subaccount
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Create Sub-Account


        URL parameters (to be encoded as JSON in body) :


        Parameter

        Required

        Type

        Description


        Detail

        Required

        SubAccountDetail

        Sub Account Detail Array


        Response Body Parameters :


        Parameter

        Type</th'
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /Client/SubAccount/History:
    get:
      tags:
      - Sub Account
      summary: Get Sub-Account History
      operationId: get__client_subaccount_history
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get Sub-Account History


        Query string parameters : None


        Response Body Parameters :


        Parameter

        Type

        Description


        Data

        ClientDate


        Status

        string

        1 = Successful, -1 Error'
  /Client/SubAccount/{ID}:
    get:
      tags:
      - Sub Account
      summary: Get Sub-Account Details
      operationId: get__client_subaccount__id
      parameters:
      - name: ID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get Sub-Account Details


        Query string parameters :


        Parameter

        Required

        Type

        Description


        ID

        Required

        string

        Client ID


        Response Body Parameters :


        Parameter

        Type

        Description


        </thead'
    patch:
      tags:
      - Sub Account
      summary: Update Sub Account
      operationId: patch__client_subaccount__id
      parameters:
      - name: ID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Update Sub Account


        Query String Parameter:


        Parameter

        Required

        Type

        Description


        ID

        Required

        string

        Sub Account ID


        URL parameters (to be encoded as JSON in body) :


        Parameter

        Required

        Type'
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /Client/Plan:
    get:
      tags:
      - Sub Account
      summary: /Plan | Plan Details & Limits, Get Plan Information
      operationId: get__client_plan
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get Client''s Plan Information


        Response Body Parameters :


        Parameter

        Type

        Description


        Addon

        AddonResult


        EmailPlan

        EmailPlanResult<'
  /Client/ProfileDetails:
    get:
      tags:
      - Sub Account
      summary: Get Profile Details
      operationId: get__client_profiledetails
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get Client''s Profile Details


        Response Body Parameters :


        Parameter

        Type

        Description


        Responce

        ClientProfileDetails

        Array'
  /Client/SubAccount/{ID}/Status:
    patch:
      tags:
      - Sub Account
      summary: Change Sub-Account status
      operationId: patch__client_subaccount__id__status
      parameters:
      - name: ID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Change Sub-Account status


        Query string parameters : None


        Request Body parameters:


        Parameter

        Required

        Type

        Description


        Status

        Required

        string

        1 to activate, 0 to deactivate


        Response body parameters :


        Parameter<'
  /Client/SubAccount/History/{HistoryID}:
    get:
      tags:
      - Sub Account
      summary: Get Sub-Account history details
      operationId: get__client_subaccount_history__historyid
      parameters:
      - name: HistoryID
        in: path
        required: true
        schema:
          type: string
      - name: ID
        in: query
        required: false
        schema:
          type: string
      - name: StartDate
        in: query
        required: false
        schema:
          type: string
      - name: EndDate
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get Sub-Account history details


        Query string parameters :


        Parameter

        Required

        Type

        Description


        ID

        Required

        string

        History ID


        StartDate

        Required

        string

        Billing cycle start date


        EndDate'
  /Client/SubAccount/{ID}/Balance:
    get:
      tags:
      - Sub Account
      summary: Get Sub-Account balance
      operationId: get__client_subaccount__id__balance
      parameters:
      - name: ID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get Sub-Account balance


        Query string parameters :


        Parameter

        Required

        Type

        Description


        ID

        Required

        string

        Sub-Account holder client ID


        Response body parameters :


        Parameter

        Type

        Description'
  /Client/SubAccount/{ID}/Inbox:
    post:
      tags:
      - Sub Account
      summary: Add/Remove inbox tests from Sub-Account
      operationId: post__client_subaccount__id__inbox
      parameters:
      - name: ID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Add/Remove inbox tests from Sub-Account


        Request Body parameters:


        Parameter

        Required

        Type

        Description


        ID

        Required

        string

        Sub-Account holder Client ID


        Tests

        Required

        int


        Response'
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /Client/SubAccount/{ID}/PlanList:
    get:
      tags:
      - Sub Account
      summary: Get Sub-Accounts plan list
      operationId: get__client_subaccount__id__planlist
      parameters:
      - name: ID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get Sub-Accounts plan list


        Request Body parameters:


        Parameter

        Required

        Type

        Description


        ID

        Required

        string

        Sub-Account holder client ID


        Response body parameters :


        Parameter

        Type

        Description</t'
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: AuthToken
      description: API token obtained from https://ui.benchmarkemail.com/Integrate#API
