openapi: 3.2.0
info:
  title: Benchmark Email RESTful API v3.0 Contact Reports & Metrics…
  description: 'RESTful API for managing email marketing contacts, lists, campaigns, automations, reports, images, and webhooks within the Benchmark Email platform. To use the API, you need a Benchmark Email API token available at https://ui.benchmarkemail.com/Integrate#API. Rate limit: 500 calls per 2 minutes and 60,000 calls per day.'
  version: 3.0.0
  contact:
    name: Benchmark Email Developer Support
    url: https://developer.benchmarkemail.com/
  license:
    name: Proprietary
servers:
- url: https://clientapi.benchmarkemail.com
  description: Benchmark Email Client API
security:
- apiKeyAuth: []
tags:
- name: Contact Reports & Metrics
  description: Contact reporting and metrics
paths:
  /Contact/ActiveCount:
    get:
      tags:
      - Contact Reports & Metrics
      summary: /ActiveCount | Total all active emails by account, Get ActiveCount
      operationId: get__contact_activecount
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get ActiveCount


        Response body parameters


        KeyTypeDescription


        Statusstring1 if successful, -1 if error


        CountintTotal count'
  /Contact/{ContactEmail}/ContactReportHistory:
    get:
      tags:
      - Contact Reports & Metrics
      summary: /{{ContactEmail}}/ContactReportHistory || Engagement by a Contact, Get contact…
      operationId: get__contact__contactemail__contactreporthistory
      parameters:
      - name: ContactEmail
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get contact history


        URL Parameters


        KeyRequiredTypeDescription


        {{EMail}}requiredstringEMail Address


        Query String parameters


        KeyRequiredTypeDescription


        PageNumberoptionalintPage number


        <tr'
  /Contact/{EMailID}/ContactReportHistory:
    get:
      tags:
      - Contact Reports & Metrics
      summary: /{{ContactID}}/ContactReportHistory || Get contact history
      operationId: get__contact__emailid__contactreporthistory
      parameters:
      - name: EMailID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get contact history


        URL Parameters


        KeyRequiredTypeDescription


        {{EMailID}}requiredstringEMail Address


        Query String parameters


        KeyRequiredTypeDescription


        PageNumberoptionalintPage number


        <'
  /Contact/UniqueCount:
    get:
      tags:
      - Contact Reports & Metrics
      summary: /UniqueCount || Get UniqueCount
      operationId: get__contact_uniquecount
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get UniqueCount


        Response body parameters


        KeyTypeDescription


        Statusstring1 if successful, -1 if error


        CountintTotal count'
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: AuthToken
      description: API token obtained from https://ui.benchmarkemail.com/Integrate#API
