openapi: 3.0.3
info:
  title: Benchmark Email RESTful API v3.0 ABTest Creation List Reporting or  Metrics API
  description: 'RESTful API for managing email marketing contacts, lists, campaigns, automations, reports, images, and webhooks within the Benchmark Email platform. To use the API, you need a Benchmark Email API token available at https://ui.benchmarkemail.com/Integrate#API. Rate limit: 500 calls per 2 minutes and 60,000 calls per day.'
  version: 3.0.0
  contact:
    name: Benchmark Email Developer Support
    url: https://developer.benchmarkemail.com/
  license:
    name: Proprietary
servers:
- url: https://clientapi.benchmarkemail.com
  description: Benchmark Email Client API
security:
- apiKeyAuth: []
tags:
- name: List Reporting or  Metrics
  description: List reporting and metrics
paths:
  /Contact/{ListID}/ContactSummary:
    get:
      tags:
      - List Reporting or  Metrics
      summary: /{{ListID}}/ContactSummary || Send Performance, Get the contact summary
      operationId: get__contact__listid__contactsummary
      parameters:
      - name: ListID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get summary details of a contact list

        <h4>URL Parameters</h4>

        <table>

        <thead>

        <tr>

        <th>Key</th>

        <th>Required</th>

        <th>Description</th>

        </tr>

        </thead>

        <tbody>

        <tr>

        <td>{{ListID}}</td>

        <td>required</td>

        <td>ID of the contact list</td>

        </tr>

        </tbody>

        </table>


        <h4>Response body parameters</h4>

        <table>

        <thead>

        <tr>

        <th>Key</th><th>Type</th><th>Description</th></tr>

        </thead>

        <tbody>

        <tr><td>Status</td><td>string</td><td>1 if successful, -1 if error</td></tr>

        <tr><td>Data</td><td>ContactSummaryRecord<'
  /Contact/{ListID}/CleanCount:
    get:
      tags:
      - List Reporting or  Metrics
      summary: 'Get the clean count '
      operationId: get__contact__listid__cleancount
      parameters:
      - name: ListID
        in: path
        required: true
        schema:
          type: string
      - name: ct
        in: query
        required: false
        schema:
          type: string
      - name: ctc
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "Gets the clean count\r\n<h4>URL Parameters</h4>\r\n<table>\r\n<thead>\r\n<tr>\r\n<th>Key</th>\r\n<th>Required</th>\r\n<th>Description</th>\r\n</tr>\r\n</thead>\r\n<tbody>\r\n<tr>\r\n<td>{{ListID}}</td>\r\n<td>required</td>\r\n<td>ID of the contact ID</td>\r\n</tr>\r\n</tbody>\r\n</table>\r\n\r\n<h4>Query String Parameters</h4>\r\n<table>\r\n<thead>\r\n<tr>\r\n<th>Key</th>\r\n<th>Required</th>\r\n<th>Description</th>\r\n</tr>\r\n</thead>\r\n<tbody>\r\n<tr>\r\n<td>ct</td>\r\n<td>required</td>\r\n<td>Clean Type</td>\r\n</tr>\r\n<tr>\r\n<td>ctc</td>\r\n<td>required</td>"
  /Contact/{ID}/Download:
    get:
      tags:
      - List Reporting or  Metrics
      summary: Get Download report
      operationId: get__contact__id__download
      parameters:
      - name: ID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Get a list of contacts</h4>\r\n<h4>URL Parameters</h4>\r\n<table>\r\n<thead>\r\n<tr>\r\n<th>Key</th><th>Required</th><th>Type</th><th>Description</th></tr>\r\n</thead>\r\n<tbody>\r\n<tr><td>{{ID}}</td><td>required</td><td>string</td><td>IDs of the lists</td></tr>\r\n</tbody>\r\n</table>\r\n\r\n<h4>Response body parameters</h4>\r\n<table>\r\n<thead>\r\n<tr>\r\n<th>Key</th><th>Type</th><th>Description</th></tr>\r\n</thead>\r\n<tbody>\r\n<tr><td>Status</td><td>string</td><td>1 if successful, -1 error</td></tr>\r\n<tr><td>ListName</td"
  /Contact/Count/{ListIDs}/{SegmentIDs}:
    get:
      tags:
      - List Reporting or  Metrics
      summary: /Count/{{ListIDs}}/{{SegmentIDs}} ||Get Contacts Count
      operationId: get__contact_count__listids___segmentids
      parameters:
      - name: ListIDs
        in: path
        required: true
        schema:
          type: string
      - name: SegmentIDs
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Get Contacts Count</h4>\r\n<h4>URL Parameters</h4>\r\n<table>\r\n<thead>\r\n<tr>\r\n<th>Key</th><th>Required</th><th>Type</th><th>Description</th></tr>\r\n</thead>\r\n<tbody>\r\n<tr><td>{{ListIDs}}</td><td>required</td><td>string</td><td>IDs of the lists</td></tr>\r\n<tr><td>{{SegmentIDs}}</td><td>required</td><td>string</td><td>IDs of the segments</td></tr>\r\n</tbody>\r\n</table>\r\n\r\n<h4>Query String parameters</h4>\r\n<table>\r\n<thead>\r\n<tr>\r\n<th>Key</th><th>Required</th><th>Type</th><th>Description</th></tr>\r\n</t"
  /Contact/TrashCount:
    get:
      tags:
      - List Reporting or  Metrics
      summary: /TrashCount | Get TrashCount
      operationId: get__contact_trashcount
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Get a list of contacts</h4>\r\n\r\n<h4>Response body parameters</h4>\r\n<table>\r\n<thead>\r\n<tr>\r\n<th>Key</th><th>Type</th><th>Description</th></tr>\r\n</thead>\r\n<tbody>\r\n<tr><td>Status</td><td>string</td><td>1 if successful, -1 if error</td></tr>\r\n<tr><td>Count</td><td>int</td><td>Total count</td></tr>\r\n</tbody>\r\n</table>"
  /Contact/ExportToList:
    get:
      tags:
      - List Reporting or  Metrics
      summary: /ExportToList? | Engagement Reporting, Get Export List
      operationId: get__contact_exporttolist
      parameters:
      - name: ReportFor
        in: query
        required: false
        schema:
          type: string
      - name: EmailID
        in: query
        required: false
        schema:
          type: string
      - name: IsOverWrite
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "Export List\r\n\r\n<h4>Query String Parameters</h4>\r\n<table>\r\n<thead>\r\n<tr>\r\n<th>Key</th>\r\n<th>Required</th>\r\n<th>Description</th>\r\n</tr>\r\n</thead>\r\n<tbody>\r\n<tr>\r\n<td>ReportFor</td>\r\n<td>optional</td>\r\n<td><ul><li><code>1</code> - Clicks</li><li><code>2</code> - Forwards</li><li><code>3</code> - Bounces</li><li><code>5</code> - Unsubscribe</li><li><code>6</code> - Opens</li><li><code>7</code> - Unopens</li><li><code>8</code> – Clicks For url</li><li><code>11</code> - Individual Survey</li><li><code"
  /Contact/ContactImportStatus:
    get:
      tags:
      - List Reporting or  Metrics
      summary: /ContactImportStatus | Get Contact Import Status
      operationId: get__contact_contactimportstatus
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Get Contact Import Status</h4>\r\n\r\n<h4>Response body parameters</h4>\r\n<table>\r\n<thead>\r\n<tr>\r\n<th>Key</th><th>Type</th><th>Description</th></tr>\r\n</thead>\r\n<tbody>\r\n<tr><td>Status</td><td>string</td><td>1 if successful, -1 if error</td></tr>\r\n<tr><td>ImportType</td><td>string</td><td>Import Type</td></tr>\r\n<tr><td>ContactFound</td><td>string</td><td>Contact Found Count</td></tr>\r\n<tr><td>ContactIncrease</td><td>string</td><td></td></tr>\r\n<tr><td>Count</td><td>int</td><td>Total count</td></tr>"
  /Contact/{ListID}/AuditHistory:
    get:
      tags:
      - List Reporting or  Metrics
      summary: /{{ListID}}/AuditHistory || Get contact audit history
      operationId: get__contact__listid__audithistory
      parameters:
      - name: ListID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Get contact audit history</h4>\r\n<h4>URL Parameters</h4>\r\n<table>\r\n<thead>\r\n<tr>\r\n<th>Key</th><th>Required</th><th>Type</th><th>Description</th></tr>\r\n</thead>\r\n<tbody>\r\n<tr><td>{{ListID}}</td><td>required</td><td>string</td><td>ID of the list</td></tr>\r\n</tbody>\r\n</table>\r\n\r\n<h4>Query String parameters</h4>\r\n<table>\r\n<thead>\r\n<tr>\r\n<th>Key</th><th>Required</th><th>Type</th><th>Description</th></tr>\r\n</thead>\r\n<tbody>\r\n<tr><td>PageNumber</td><td>optional</td><td>int</td><td>Page number</td></"
  /Contact/{ListID}/AuditHistoryDetails/{BatchID}/{GroupID}:
    get:
      tags:
      - List Reporting or  Metrics
      summary: Get contact audit history detail
      operationId: get__contact__listid__audithistorydetails__batchid___groupid
      parameters:
      - name: ListID
        in: path
        required: true
        schema:
          type: string
      - name: BatchID
        in: path
        required: true
        schema:
          type: string
      - name: GroupID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h5> see /{{ListID}}/AuditHistory || Get contact audit history - to get BatchID</h5>\r\n<h4>Get contact audit history detail</h4>\r\n<h4>URL Parameters</h4>\r\n<table>\r\n<thead>\r\n<tr>\r\n<th>Key</th><th>Required</th><th>Type</th><th>Description</th></tr>\r\n</thead>\r\n<tbody>\r\n<tr><td>{{ListID}}</td><td>required</td><td>string</td><td>ID of the list</td></tr>\r\n<tr><td>{{BatchID}}</td><td>required</td><td>string</td><td>ID of the batch</td></tr>\r\n<tr><td>{{GroupID}}</td><td>required</td><td>string</td><td>ID"
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: AuthToken
      description: API token obtained from https://ui.benchmarkemail.com/Integrate#API
