openapi: 3.2.0
info:
  title: Benchmark Email RESTful API v3.0 Survey Creation API
  description: 'RESTful API for managing email marketing contacts, lists, campaigns, automations, reports, images, and webhooks within the Benchmark Email platform. To use the API, you need a Benchmark Email API token available at https://ui.benchmarkemail.com/Integrate#API. Rate limit: 500 calls per 2 minutes and 60,000 calls per day.'
  version: 3.0.0
  contact:
    name: Benchmark Email Developer Support
    url: https://developer.benchmarkemail.com/
  license:
    name: Proprietary
servers:
- url: https://clientapi.benchmarkemail.com
  description: Benchmark Email Client API
security:
- apiKeyAuth: []
tags:
- name: Survey Creation
  description: Create and manage surveys
paths:
  /Survey/{ID}:
    get:
      tags:
      - Survey Creation
      summary: Get a Details of survey
      operationId: get__survey__id
      parameters:
      - name: ID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get a Details of survey


        Query string parameters : None


        Request Body parameters :


        Parameter

        Required

        Type

        Description


        ID

        Required

        string

        Survey ID


        Response Body Parameters :


        Parameter

        Type

        Description


        <tb'
    patch:
      tags:
      - Survey Creation
      summary: Update Details of Survey
      operationId: patch__survey__id
      parameters:
      - name: ID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Update Details of Survey


        Query string Parameters : None


        Request Body Parameters :


        Parameter

        Required

        Type

        Description


        ID

        Required

        string

        Survey ID


        Data

        Required'
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /Survey/TemplateList:
    get:
      tags:
      - Survey Creation
      summary: Get template list of survey
      operationId: get__survey_templatelist
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get template list of survey


        Query string Parameters : None


        Request Body Parameters : None


        Response Body Parameters :


        Parameter

        Type

        Description


        Count

        int

        Total number


        Status

        string

        1 if successful, -1 if error


        Data

        <a'
  /Survey/{ID}/Question/{QuestionID}:
    delete:
      tags:
      - Survey Creation
      summary: Delete question of a survey
      operationId: delete__survey__id__question__questionid
      parameters:
      - name: ID
        in: path
        required: true
        schema:
          type: string
      - name: QuestionID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Delete question of a Survey


        Query string parameters : None


        Request Body Parameters :


        Parameter

        Required

        Type

        Description


        ID

        Required

        string

        Survey ID


        QuestionID

        Required

        string

        Question ID


        </t'
    patch:
      tags:
      - Survey Creation
      summary: Update Question of a Survey
      operationId: patch__survey__id__question__questionid
      parameters:
      - name: ID
        in: path
        required: true
        schema:
          type: string
      - name: QuestionID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Update Question of a Survey


        Query string parameters : None


        Request Body Parameters :


        Parameter

        Required

        Type

        Description


        ID

        Required

        string

        Survey ID


        QuestionID

        Required

        string

        Question ID


        <'
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /Survey/{ID}/QuestionSort:
    patch:
      tags:
      - Survey Creation
      summary: Sort Question of a survey
      operationId: patch__survey__id__questionsort
      parameters:
      - name: ID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Sort Question of a survey


        Query string parameters : None


        Request Body Parameters :


        Parameter

        Required

        Type

        Description


        ID

        Required

        string

        Survey ID


        SortOrder

        Required

        string

        Comma seperated question ids'
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /Survey/{ID}/Question:
    post:
      tags:
      - Survey Creation
      summary: Add Question to Survey
      operationId: post__survey__id__question
      parameters:
      - name: ID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Add Question to Survey


        Query string Parameters : None


        Request Body Parameters :


        Parameter

        Required

        Type

        Description


        ID

        Required

        string

        Survey ID


        QuestionData

        Required

        <a href="http://www.benchmarkemail.com/models.htm#SurveyQ'
      requestBody:
        content:
          application/json:
            schema:
              type: object
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: AuthToken
      description: API token obtained from https://ui.benchmarkemail.com/Integrate#API
