openapi: 3.2.0
info:
  title: Benchmark Email RESTful API v3.0 Partner API
  description: 'RESTful API for managing email marketing contacts, lists, campaigns, automations, reports, images, and webhooks within the Benchmark Email platform. To use the API, you need a Benchmark Email API token available at https://ui.benchmarkemail.com/Integrate#API. Rate limit: 500 calls per 2 minutes and 60,000 calls per day.'
  version: 3.0.0
  contact:
    name: Benchmark Email Developer Support
    url: https://developer.benchmarkemail.com/
  license:
    name: Proprietary
servers:
- url: https://clientapi.benchmarkemail.com
  description: Benchmark Email Client API
security:
- apiKeyAuth: []
tags:
- name: Partner
  description: Partner commission and referral management
paths:
  /Partner/CommissionList:
    get:
      tags:
      - Partner
      summary: Get Commission List
      operationId: get__partner_commissionlist
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get Commission List


        Query string parameters : None


        Request Body parameters: None


        Response Body Parameters :


        Parameter

        Type

        Description


        Count

        String

        Number of Commission List


        Data

        <a href="http://www.benchmarkemail.com/models.htm#PartnerCommissionsListData"'
  /Partner/ReferralsList:
    get:
      tags:
      - Partner
      summary: Get Referrals List
      operationId: get__partner_referralslist
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get referrals list


        Query string parameters : None


        Request Body parameters: None


        Response Body Parameters :


        Parameter

        Type

        Description


        Count

        String

        Number of Commission List


        Data

        Pa'
  /Partner/ReferralsLevel1List:
    get:
      tags:
      - Partner
      summary: Get Referrals Level 1 List
      operationId: get__partner_referralslevel1list
      parameters:
      - name: imonth
        in: query
        required: false
        schema:
          type: string
      - name: iyear
        in: query
        required: false
        schema:
          type: string
      - name: sort
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get Referrals Level 1 List


        Query string parameters :


        Parameter

        Required

        Type

        Description


        imonth

        Required

        String

        Month


        iyear

        Required

        String

        Year


        Sort

        Required

        <td'
  /Partner/WebPageAdsDetail:
    get:
      tags:
      - Partner
      summary: Get Web Page Ads Detail
      operationId: get__partner_webpageadsdetail
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get Web Page Ads Detail


        Query string parameters : None


        Request Body parameters: None


        Response Body Parameters :


        Parameter

        Type

        Description


        ID

        String


        ClientID

        string

        Client ID


        HtmlResponse

        <t'
  /Partner/CommissionLevel1List:
    get:
      tags:
      - Partner
      summary: Get Partner Commission Level 1 List
      operationId: get__partner_commissionlevel1list
      parameters:
      - name: imonth
        in: query
        required: false
        schema:
          type: string
      - name: iyear
        in: query
        required: false
        schema:
          type: string
      - name: sort
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get Partner Commission Level 1 List


        Query string parameters :


        Parameter

        Required

        Type

        Description


        imonth

        Required

        String

        Month


        iyear

        Required

        String

        Year


        Sort

        Required'
  /Partner/CommissionLevel2List:
    get:
      tags:
      - Partner
      summary: Get Partner Commission Level 2 List
      operationId: get__partner_commissionlevel2list
      parameters:
      - name: client_id
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get Partner Commission Level 2 List


        Query string parameters :


        Parameter

        Required

        Type

        Description


        Client ID

        Required

        String

        Client ID


        Response Body Parameters :


        Parameter

        Type

        Description</th'
  /Partner/Profile:
    get:
      tags:
      - Partner
      summary: Get Profile Details
      operationId: get__partner_profile
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get Profile Details


        Query String Parameters : None


        Request Body Parameters : None


        Response Body Parameter :


        Parameter

        Type

        Description


        Response

        ProfileData

        Partner Profile Details'
    patch:
      tags:
      - Partner
      summary: Update Profile Details
      operationId: patch__partner_profile
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Update Profile Details


        Query String Parameters : None


        Request Body Parameters :


        Parameter

        Type

        Description


        Detail

        ProfileUpdate

        Partner Profile Details


        Response Body Parameter :


        <thead'
      requestBody:
        content:
          application/json:
            schema:
              type: object
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: AuthToken
      description: API token obtained from https://ui.benchmarkemail.com/Integrate#API
