openapi: 3.2.0
info:
  title: Benchmark Email RESTful API v3.0 Video Gallery API
  description: 'RESTful API for managing email marketing contacts, lists, campaigns, automations, reports, images, and webhooks within the Benchmark Email platform. To use the API, you need a Benchmark Email API token available at https://ui.benchmarkemail.com/Integrate#API. Rate limit: 500 calls per 2 minutes and 60,000 calls per day.'
  version: 3.0.0
  contact:
    name: Benchmark Email Developer Support
    url: https://developer.benchmarkemail.com/
  license:
    name: Proprietary
servers:
- url: https://clientapi.benchmarkemail.com
  description: Benchmark Email Client API
security:
- apiKeyAuth: []
tags:
- name: Video Gallery
  description: Manage video gallery
paths:
  /Video:
    get:
      tags:
      - Video Gallery
      summary: Get a list of videos
      operationId: get__video
      parameters:
      - name: Filter
        in: query
        required: false
        schema:
          type: string
      - name: PageNumber
        in: query
        required: false
        schema:
          type: string
      - name: PageSize
        in: query
        required: false
        schema:
          type: string
      - name: OrderBy
        in: query
        required: false
        schema:
          type: string
      - name: SortOrder
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get a list of videos


        Query string parameters :


        Parameter

        Required

        Type

        Description


        Filter

        Optional

        int

        Filter


        PageNumber

        Required

        int

        Page Numbe'
    post:
      tags:
      - Video Gallery
      summary: Uploading videos
      operationId: post__video
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Uploading videos


        Query string parameters : None


        Request Body parameters :


        Parameter

        Required

        Type

        Description


        VideoUrl

        Required

        string

        URL of a video


        Response body parameters :'
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /Video/{VideoID}:
    delete:
      tags:
      - Video Gallery
      summary: Deleting videos
      operationId: delete__video__videoid
      parameters:
      - name: VideoID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Deleting videos


        Query string parameters : None


        Request Body parameters :


        Parameter

        Required

        Type

        Description


        VideoID

        Required

        string

        ID of the video (can be comma seperated multiple too)


        Response Body parameters :

        <table borde'
    get:
      tags:
      - Video Gallery
      summary: Getting video details
      operationId: get__video__videoid
      parameters:
      - name: VideoID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Getting video details


        Query string parameters : None


        Request Body parameters :


        Parameter

        Required

        Type

        Description


        VideoID

        Required

        string

        ID of the video


        Response Body parameters :

        <table border="0" cellspacing="0" cellpaddin'
  /Video/{VideoID}/Copy:
    post:
      tags:
      - Video Gallery
      summary: Sharing video
      operationId: post__video__videoid__copy
      parameters:
      - name: VideoID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Sharing video


        Query string parameters :


        Parameter

        Required

        Type

        Description


        VideoID

        Required

        string

        ID of the video


        Request Body parameters :


        Parameter

        <th'
      requestBody:
        content:
          application/json:
            schema:
              type: object
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: AuthToken
      description: API token obtained from https://ui.benchmarkemail.com/Integrate#API
