openapi: 3.2.0
info:
  title: Benchmark Email RESTful API v3.0 List Configurations &…
  description: 'RESTful API for managing email marketing contacts, lists, campaigns, automations, reports, images, and webhooks within the Benchmark Email platform. To use the API, you need a Benchmark Email API token available at https://ui.benchmarkemail.com/Integrate#API. Rate limit: 500 calls per 2 minutes and 60,000 calls per day.'
  version: 3.0.0
  contact:
    name: Benchmark Email Developer Support
    url: https://developer.benchmarkemail.com/
  license:
    name: Proprietary
servers:
- url: https://clientapi.benchmarkemail.com
  description: Benchmark Email Client API
security:
- apiKeyAuth: []
tags:
- name: List Configurations & Searches
  description: Configure and search contact lists
paths:
  /Contact/:
    post:
      tags:
      - List Configurations & Searches
      summary: / | Create new List, Create List
      operationId: post__contact
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Create List


        Body Parameters (To be passed as a JSON string)


        KeyRequiredTypeDescription


        DatarequiredContactMasterRecordList Details


        Response body parameters


        KeyTypeDescription'
      requestBody:
        content:
          application/json:
            schema:
              type: object
    get:
      tags:
      - List Configurations & Searches
      summary: / | All lists or filter for a list, Get a list of contacts
      operationId: get__contact
      parameters:
      - name: Status
        in: query
        required: false
        schema:
          type: string
      - name: PageNumber
        in: query
        required: false
        schema:
          type: string
      - name: PageSize
        in: query
        required: false
        schema:
          type: string
      - name: SearchFilter
        in: query
        required: false
        schema:
          type: string
      - name: OrderBy
        in: query
        required: false
        schema:
          type: string
      - name: SortOrder
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get a list of contacts


        Query String parameters


        KeyRequiredTypeDescription


        PageNumberoptionalintPage number


        PageSizeoptionalintNumber of records to show per page


        OrderByoptionalstringField to order by, email, date, count,'
  /Contact/{ListID}:
    get:
      tags:
      - List Configurations & Searches
      summary: /{{ListID}} | Deep View, Get contact lists detail
      operationId: get__contact__listid
      parameters:
      - name: ListID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get contact lists detail


        URL Parameters


        KeyRequiredTypeDescription


        {{ListIDs}}requiredstringIDs of the lists


        Response body parameters


        KeyTypeDescription


        Statusstring1 if successful, -1 if error


        Da'
    delete:
      tags:
      - List Configurations & Searches
      summary: /{{ListID}} || Delete list
      operationId: delete__contact__listid
      parameters:
      - name: ListID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Delete Single List


        URL Parameters


        KeyRequiredTypeDescription


        {{ListID}}requiredstringID of the list


        Response body parameters


        KeyTypeDescription


        Statusstring1 if successful, -1 if error


        Error<'
  /Contact/{ListID}/Fields:
    get:
      tags:
      - List Configurations & Searches
      summary: /{{ListID}}/Fields | Field Names, Get contact lists attributes
      operationId: get__contact__listid__fields
      parameters:
      - name: ListID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get contact lists attributes


        URL Parameters


        KeyRequiredTypeDescription


        {{ListIDs}}requiredstringIDs of the lists


        Response body parameters


        KeyTypeDescription


        Statusstring1 if successful, -1 if error


        <t'
  /Contact/{ListIDs}/All:
    get:
      tags:
      - List Configurations & Searches
      summary: /{{ListID}}/All || Deep View of a list, fields and types, Get contact lists
      operationId: get__contact__listids__all
      parameters:
      - name: ListIDs
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get contact lists


        URL Parameters


        KeyRequiredTypeDescription


        {{ListIDs}}requiredstringIDs of the lists


        Response body parameters


        KeyTypeDescription


        Statusstring1 if successful, -1 if error


        Data'
  /Contact/DeleteListCheck/{ListIDs}:
    get:
      tags:
      - List Configurations & Searches
      summary: Delete List Check
      operationId: get__contact_deletelistcheck__listids
      parameters:
      - name: ListIDs
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get a list of contacts


        URL Parameters


        KeyRequiredTypeDescription


        {{ListIDs}}requiredstringIDs of the lists


        Response body parameters


        KeyTypeDescription


        Statusstring1 if successful, -1 if error


        Erro'
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: AuthToken
      description: API token obtained from https://ui.benchmarkemail.com/Integrate#API
