openapi: 3.2.0
info:
  title: Benchmark Email RESTful API v3.0 Add Contacts API
  description: 'RESTful API for managing email marketing contacts, lists, campaigns, automations, reports, images, and webhooks within the Benchmark Email platform. To use the API, you need a Benchmark Email API token available at https://ui.benchmarkemail.com/Integrate#API. Rate limit: 500 calls per 2 minutes and 60,000 calls per day.'
  version: 3.0.0
  contact:
    name: Benchmark Email Developer Support
    url: https://developer.benchmarkemail.com/
  license:
    name: Proprietary
servers:
- url: https://clientapi.benchmarkemail.com
  description: Benchmark Email Client API
security:
- apiKeyAuth: []
tags:
- name: Add Contacts
  description: Add and import contacts to lists
paths:
  /Contact/{ListID}/ContactDetails:
    post:
      tags:
      - Add Contacts
      summary: /Contact/{{ListID}}/ContactDetails || Add Contact
      operationId: post__contact__listid__contactdetails
      parameters:
      - name: ListID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Add Contact


        URL Parameters


        KeyRequiredTypeDescription


        {{ListID}}requiredstringID of the list


        Body Parameters (To be passed as a JSON string)


        KeyRequiredTypeDescription


        Datarequired<a href="http://www.benchm'
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /Contact/{ListID}/ContactDetails/{ContactID}:
    patch:
      tags:
      - Add Contacts
      summary: Update Contact
      operationId: patch__contact__listid__contactdetails__contactid
      parameters:
      - name: ListID
        in: path
        required: true
        schema:
          type: string
      - name: ContactID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Update Contact


        URL Parameters


        KeyRequiredTypeDescription


        {{ListID}}requiredstringID of the list


        {{ContactID}}requiredstringID of the contact


        Body Parameters (To be passed as a JSON string)


        KeyRequiredTypeDescription</'
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /Contact/{ListID}/ContactDetails/CSV/Upload:
    post:
      tags:
      - Add Contacts
      summary: '{{ListID}}/ContactDetails/CSV/Upload |Save email address which are not verified…'
      operationId: post__contact__listid__contactdetails_csv_upload
      parameters:
      - name: ListID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Save email address which are not verified and uploaded


        URL parameters


        KeyRequiredTypeDescription


        ListIDrequiredstringID of the list


        Body Parameters (To be passed as a JSON string)


        KeyRequiredTypeDescription


        Datare'
  /Contact/{ListID}/Mapping:
    patch:
      tags:
      - Add Contacts
      summary: /{{ListID}}/Mapping | Change mapping
      operationId: patch__contact__listid__mapping
      parameters:
      - name: ListID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Changes file mapping


        URL Parameters


        KeyRequiredTypeDescription


        {{ListID}}requiredstringID of the list


        Body Parameters (to be encoded as a JSON string)


        KeyRequiredTypeDescription


        FileNamerequiredstring<'
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /Contact/{ListID}/Compilation:
    patch:
      tags:
      - Add Contacts
      summary: /{{ListID}}/Compilation | Changing list compilation details
      operationId: patch__contact__listid__compilation
      parameters:
      - name: ListID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Changes file upload compilation


        URL Parameters


        KeyRequiredTypeDescription


        {{ListID}}requiredstringID of the list


        Body Parameters (to be encoded as a JSON string)


        KeyRequiredTypeDescription


        Descriptionrequired<t'
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /Contact/{ListID}/Mapping/{FileName}:
    get:
      tags:
      - Add Contacts
      summary: Get list mapping
      operationId: get__contact__listid__mapping__filename
      parameters:
      - name: ListID
        in: path
        required: true
        schema:
          type: string
      - name: FileName
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Gets the mapping of the uploaded list against its fields


        URL Parameters


        Key

        Required

        Description


        {{ListID}}

        required

        ID of the list


        {{FileName}}

        required

        Name of the file


        Response body parameters


        Key

        Type

        Description


        <'
  /Contact/{ListID}/ContactDetails/CSV:
    post:
      tags:
      - Add Contacts
      summary: Save email address
      operationId: post__contact__listid__contactdetails_csv
      parameters:
      - name: ListID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Save email address


        URL Parameters


        KeyRequiredTypeDescription


        {{ListID}}requiredstringID of the list


        Body Parameters (To be passed as a JSON string)


        KeyRequiredTypeDescription


        EmailIDsrequiredstring<td'
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /Contact/{ListID}/ContactDetails/CSV/Verified:
    post:
      tags:
      - Add Contacts
      summary: Save email address which verified
      operationId: post__contact__listid__contactdetails_csv_verified
      parameters:
      - name: ListID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Save email address which verified


        URL Parameters


        KeyRequiredTypeDescription


        {{ListID}}requiredstringID of the list


        Body Parameters (To be passed as a JSON string)


        KeyRequiredTypeDescription


        EmailIDsrequired'
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /Contact/{ID}/ContactDetails/CSV/Upload/Verified:
    post:
      tags:
      - Add Contacts
      summary: Save email address which is verified and uploaded
      operationId: post__contact__id__contactdetails_csv_upload_verified
      parameters:
      - name: ID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Save email address which is verified and uploaded


        URL parameters


        KeyRequiredTypeDescription


        ListIDrequiredstringID of the list


        Body Parameters (To be passed as a JSON string)


        KeyRequiredTypeDescription


        Datarequire'
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: AuthToken
      description: API token obtained from https://ui.benchmarkemail.com/Integrate#API
