openapi: 3.2.0
info:
  title: Benchmark Email RESTful API v3.0 Account Settings API
  description: 'RESTful API for managing email marketing contacts, lists, campaigns, automations, reports, images, and webhooks within the Benchmark Email platform. To use the API, you need a Benchmark Email API token available at https://ui.benchmarkemail.com/Integrate#API. Rate limit: 500 calls per 2 minutes and 60,000 calls per day.'
  version: 3.0.0
  contact:
    name: Benchmark Email Developer Support
    url: https://developer.benchmarkemail.com/
  license:
    name: Proprietary
servers:
- url: https://clientapi.benchmarkemail.com
  description: Benchmark Email Client API
security:
- apiKeyAuth: []
tags:
- name: Account Settings
  description: Manage account settings and configurations
paths:
  /Client/Setting:
    patch:
      tags:
      - Account Settings
      summary: Update Client Accounts Setting
      operationId: patch__client_setting
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Update Client Accounts Setting


        Query String Parameters : None


        Request Body Parameters:


        Parameter

        Type

        Description


        Company

        SettingCompanyData

        Setting Company Data


        Language

        string'
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /Client/Password:
    patch:
      tags:
      - Account Settings
      summary: Change Password
      operationId: patch__client_password
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Change Password


        Body Parameters (to be encoded as a JSON string)


        Key

        Required

        Description


        NewPassword

        Required

        New Password


        ConfirmPassword

        Required

        Confirm Password


        Response Body Parameters :


        Parameter

        Type

        Description'
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /Client/Email/ResetLink:
    patch:
      tags:
      - Account Settings
      summary: Send Reset Email
      operationId: patch__client_email_resetlink
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Send Reset Email to change primary email


        Response Body Parameters :


        Parameter

        Type

        Description


        retVal

        string

        return Value


        Error

        ErrorData

        Array of error


        Status'
  /Client/ConfirmedEmail/All:
    get:
      tags:
      - Account Settings
      summary: Get All Confirmed Email
      operationId: get__client_confirmedemail_all
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get All Confirmed Email


        Query string parameters : None


        Request Body parameters: None


        Response body parameters :


        Parameter

        Type

        Description


        Count

        string

        Total Confirmed Emails


        Data

        <a href="http://www.benchmarkemail.com/models.htm#ClientConfirmEmailAllData"'
  /Client/ConfirmedEmail/Email:
    post:
      tags:
      - Account Settings
      summary: Send Confirm Email Verification Email
      operationId: post__client_confirmedemail_email
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Send Confirm Email Verification Email


        Query string parameters : None


        Request Body parameters:


        Parameter

        Required

        Type

        Description


        EmailIDs

        Required

        string

        Email Address


        Response body parameters :


        Parameter</th'
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /Client/ConfirmedEmail:
    get:
      tags:
      - Account Settings
      summary: Get List of Confirmed Emails
      operationId: get__client_confirmedemail
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get List of Confirmed Emails


        Query String Parameters : None


        Request Body Parameters: None


        Response Body Parameters :


        Parameter

        Type

        Description


        Emails

        string

        List of Emails


        Error

        ErrorData</t'
  /Client/Email/Reset:
    get:
      tags:
      - Account Settings
      summary: Get Current email at the time of Reset Email
      operationId: get__client_email_reset
      parameters:
      - name: GUID
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get Current email at the time of Reset Email


        Query String Parameter :


        Key

        Required

        Description


        GUID

        optional

        Unique ID


        Response body parameters


        KeyTypeDescription


        EmailStringEmail Address


        StatusString1 if success, -1'
    patch:
      tags:
      - Account Settings
      summary: Update/Reset Email
      operationId: patch__client_email_reset
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Reset primary email


        URL Parameters (To be encoded as JSON parameter)


        Key

        Required

        Description


        GUID

        Required

        The ID which is available on the email link send for reset the email


        NewEmail

        Required

        New Email


        ConfirmEmail

        Required

        Confirm Email


        Response bo'
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /Client/:
    patch:
      tags:
      - Account Settings
      summary: Update/Edit Profile
      operationId: patch__client
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Update/Edit Profile like first name,phone no etc


        URL Parameters (To be encoded as JSON parameter)


        Key

        Required

        Description


        FirstName

        Required

        First Name


        LastName

        Required

        Last Name


        PhoneNo

        Required

        Phone Number


        Response body parameters


        <t'
      requestBody:
        content:
          application/json:
            schema:
              type: object
    get:
      tags:
      - Account Settings
      summary: Get Client Details
      operationId: get__client
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get Client Details


        Query String Parameters : None


        Request Body Parameters: None


        Response Body Parameters :


        Parameter

        Type

        Description


        Response

        ProfileData

        Client Profile data'
  /Client/Token/{Type}:
    get:
      tags:
      - Account Settings
      summary: Get Token
      operationId: get__client_token__type
      parameters:
      - name: Type
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get Token


        Query String Parameters : None


        Request Body Parameters: None


        Response Body Parameters :


        Parameter

        Type

        Description


        AuthURL

        string

        Auth URL


        Name

        string

        Client Name


        Secret

        string'
  /Client/Token:
    post:
      tags:
      - Account Settings
      summary: Generate Token
      operationId: post__client_token
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Generate Token


        Query String Parameters : None


        Request Body Parameters: None


        Response Body Parameters :


        Parameter

        Type

        Description


        retVal

        string

        Token'
  /Client/Token/{Type}/Detail:
    get:
      tags:
      - Account Settings
      summary: Get Token Details
      operationId: get__client_token__type__detail
      parameters:
      - name: Type
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
  /Client/FilterDomain:
    get:
      tags:
      - Account Settings
      summary: Get Client Filter Domain
      operationId: get__client_filterdomain
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get Client Filter Domain


        Query String Parameters : None


        Request Body Parameters: None


        Response Body Parameters :


        Parameter

        Type

        Description


        Count

        string

        Number of Domains


        Data

        ClientFilt'
  /Client/InitSurvey:
    post:
      tags:
      - Account Settings
      summary: Save Website Domain
      operationId: post__client_initsurvey
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Provide your domain name to link it to your account


        Response Body Parameters :


        Parameter

        Required

        Type

        Description


        CompanyWebsite

        Required

        String

        Company Website like BobsVacations.com'
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /Client/ConfirmedEmail/{Email}:
    get:
      tags:
      - Account Settings
      summary: Resend Confirm Email
      operationId: get__client_confirmedemail__email
      parameters:
      - name: Email
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Resend Confirm Email


        Query string parameters : None


        Request Body parameters:


        Parameter

        Required

        Type

        Description


        Email

        Required

        string

        Email ID


        Response body parameters :


        Parameter

        Type'
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: AuthToken
      description: API token obtained from https://ui.benchmarkemail.com/Integrate#API
