openapi: 3.2.0
info:
  title: Benchmark Email RESTful API v3.0 Help API
  description: 'RESTful API for managing email marketing contacts, lists, campaigns, automations, reports, images, and webhooks within the Benchmark Email platform. To use the API, you need a Benchmark Email API token available at https://ui.benchmarkemail.com/Integrate#API. Rate limit: 500 calls per 2 minutes and 60,000 calls per day.'
  version: 3.0.0
  contact:
    name: Benchmark Email Developer Support
    url: https://developer.benchmarkemail.com/
  license:
    name: Proprietary
servers:
- url: https://clientapi.benchmarkemail.com
  description: Benchmark Email Client API
security:
- apiKeyAuth: []
tags:
- name: Help
  description: Help desk and support tickets
paths:
  /Help/:
    get:
      tags:
      - Help
      summary: Get List of Help Topic
      operationId: get__help
      parameters:
      - name: Filter[URL]
        in: query
        required: false
        schema:
          type: string
      - name: PageNumber
        in: query
        required: false
        schema:
          type: string
      - name: PageSize
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get List of Help Topic


        Query string parameters :


        Parameter

        Required

        Type

        Description


        Filter[URL]

        Required

        String

        URL


        PageNumber

        Required

        String

        Page Number


        PageSize

        Required'
    post:
      tags:
      - Help
      summary: Email Support/feedback to support
      operationId: post__help
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Email Support/feedback to support


        Body Parameters (to be encoded as a JSON string)


        Parameter

        Required

        Type

        Description


        Subject

        Required

        string

        Subject


        Message

        Required

        string

        Your Message


        Name

        Required

        string

        Name of'
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /Help/Ticket:
    post:
      tags:
      - Help
      summary: Generate Ticket
      operationId: post__help_ticket
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Generate Ticket


        Body Parameters (to be encoded as a JSON string)


        Parameter

        Required

        Type

        Description


        Name

        Required

        string

        Name of a poll to be created


        Response body parameters


        KeyTypeDescription


        Error<a href="http://www.benchmarkemail.'
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: AuthToken
      description: API token obtained from https://ui.benchmarkemail.com/Integrate#API
