openapi: 3.2.0
info:
  title: Benchmark Email RESTful API v3.0 List Reporting or Metrics…
  description: 'RESTful API for managing email marketing contacts, lists, campaigns, automations, reports, images, and webhooks within the Benchmark Email platform. To use the API, you need a Benchmark Email API token available at https://ui.benchmarkemail.com/Integrate#API. Rate limit: 500 calls per 2 minutes and 60,000 calls per day.'
  version: 3.0.0
  contact:
    name: Benchmark Email Developer Support
    url: https://developer.benchmarkemail.com/
  license:
    name: Proprietary
servers:
- url: https://clientapi.benchmarkemail.com
  description: Benchmark Email Client API
security:
- apiKeyAuth: []
tags:
- name: List Reporting or  Metrics
  description: List reporting and metrics
paths:
  /Contact/{ListID}/ContactSummary:
    get:
      tags:
      - List Reporting or  Metrics
      summary: /{{ListID}}/ContactSummary || Send Performance, Get the contact summary
      operationId: get__contact__listid__contactsummary
      parameters:
      - name: ListID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get summary details of a contact list


        URL Parameters


        Key

        Required

        Description


        {{ListID}}

        required

        ID of the contact list


        Response body parameters


        KeyTypeDescription


        Statusstring1 if successful, -1 if error


        DataContactSummaryRecord<'
  /Contact/{ListID}/CleanCount:
    get:
      tags:
      - List Reporting or  Metrics
      summary: Get the clean count
      operationId: get__contact__listid__cleancount
      parameters:
      - name: ListID
        in: path
        required: true
        schema:
          type: string
      - name: ct
        in: query
        required: false
        schema:
          type: string
      - name: ctc
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Gets the clean count


        URL Parameters


        Key

        Required

        Description


        {{ListID}}

        required

        ID of the contact ID


        Query String Parameters


        Key

        Required

        Description


        ct

        required

        Clean Type


        ctc

        required'
  /Contact/{ID}/Download:
    get:
      tags:
      - List Reporting or  Metrics
      summary: Get Download report
      operationId: get__contact__id__download
      parameters:
      - name: ID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get a list of contacts


        URL Parameters


        KeyRequiredTypeDescription


        {{ID}}requiredstringIDs of the lists


        Response body parameters


        KeyTypeDescription


        Statusstring1 if successful, -1 error


        ListName</td'
  /Contact/Count/{ListIDs}/{SegmentIDs}:
    get:
      tags:
      - List Reporting or  Metrics
      summary: /Count/{{ListIDs}}/{{SegmentIDs}} ||Get Contacts Count
      operationId: get__contact_count__listids___segmentids
      parameters:
      - name: ListIDs
        in: path
        required: true
        schema:
          type: string
      - name: SegmentIDs
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get Contacts Count


        URL Parameters


        KeyRequiredTypeDescription


        {{ListIDs}}requiredstringIDs of the lists


        {{SegmentIDs}}requiredstringIDs of the segments


        Query String parameters


        KeyRequiredTypeDescription


        </t'
  /Contact/TrashCount:
    get:
      tags:
      - List Reporting or  Metrics
      summary: /TrashCount | Get TrashCount
      operationId: get__contact_trashcount
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get a list of contacts


        Response body parameters


        KeyTypeDescription


        Statusstring1 if successful, -1 if error


        CountintTotal count'
  /Contact/ExportToList:
    get:
      tags:
      - List Reporting or  Metrics
      summary: /ExportToList? | Engagement Reporting, Get Export List
      operationId: get__contact_exporttolist
      parameters:
      - name: ReportFor
        in: query
        required: false
        schema:
          type: string
      - name: EmailID
        in: query
        required: false
        schema:
          type: string
      - name: IsOverWrite
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Export List


        Query String Parameters


        Key

        Required

        Description


        ReportFor

        optional


        1 - Clicks


        2 - Forwards


        3 - Bounces


        5 - Unsubscribe


        6 - Opens


        7 - Unopens


        8 – Clicks For url


        11 - Individual Survey


        <code'
  /Contact/ContactImportStatus:
    get:
      tags:
      - List Reporting or  Metrics
      summary: /ContactImportStatus | Get Contact Import Status
      operationId: get__contact_contactimportstatus
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get Contact Import Status


        Response body parameters


        KeyTypeDescription


        Statusstring1 if successful, -1 if error


        ImportTypestringImport Type


        ContactFoundstringContact Found Count


        ContactIncreasestring


        CountintTotal count'
  /Contact/{ListID}/AuditHistory:
    get:
      tags:
      - List Reporting or  Metrics
      summary: /{{ListID}}/AuditHistory || Get contact audit history
      operationId: get__contact__listid__audithistory
      parameters:
      - name: ListID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get contact audit history


        URL Parameters


        KeyRequiredTypeDescription


        {{ListID}}requiredstringID of the list


        Query String parameters


        KeyRequiredTypeDescription


        PageNumberoptionalintPage number</'
  /Contact/{ListID}/AuditHistoryDetails/{BatchID}/{GroupID}:
    get:
      tags:
      - List Reporting or  Metrics
      summary: Get contact audit history detail
      operationId: get__contact__listid__audithistorydetails__batchid___groupid
      parameters:
      - name: ListID
        in: path
        required: true
        schema:
          type: string
      - name: BatchID
        in: path
        required: true
        schema:
          type: string
      - name: GroupID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'see /{{ListID}}/AuditHistory || Get contact audit history - to get BatchID


        Get contact audit history detail


        URL Parameters


        KeyRequiredTypeDescription


        {{ListID}}requiredstringID of the list


        {{BatchID}}requiredstringID of the batch


        {{GroupID}}requiredstringID'
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: AuthToken
      description: API token obtained from https://ui.benchmarkemail.com/Integrate#API
