openapi: 3.2.0
info:
  title: Benchmark Email RESTful API v3.0 Image Gallery API
  description: 'RESTful API for managing email marketing contacts, lists, campaigns, automations, reports, images, and webhooks within the Benchmark Email platform. To use the API, you need a Benchmark Email API token available at https://ui.benchmarkemail.com/Integrate#API. Rate limit: 500 calls per 2 minutes and 60,000 calls per day.'
  version: 3.0.0
  contact:
    name: Benchmark Email Developer Support
    url: https://developer.benchmarkemail.com/
  license:
    name: Proprietary
servers:
- url: https://clientapi.benchmarkemail.com
  description: Benchmark Email Client API
security:
- apiKeyAuth: []
tags:
- name: Image Gallery
  description: Manage image gallery
paths:
  /Images/Summary:
    get:
      tags:
      - Image Gallery
      summary: Get account summary
      operationId: get__images_summary
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get account summary


        Query string parameters : None


        Request body parameters : None


        Response body parameters :


        Parameter

        Type

        Description


        FreePlan

        int

        1 = FreePlan, 0 = PaidPlan


        Limit

        int

        Total Space


        PremiumCl'
  /Images/:
    get:
      tags:
      - Image Gallery
      summary: Get a list of images
      operationId: get__images
      parameters:
      - name: Filter
        in: query
        required: false
        schema:
          type: string
      - name: PageNumber
        in: query
        required: false
        schema:
          type: string
      - name: PageSize
        in: query
        required: false
        schema:
          type: string
      - name: OrderBy
        in: query
        required: false
        schema:
          type: string
      - name: SortOrder
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get a list of images


        Query string parameters :


        Parameter

        Required

        Type

        Description


        Filter

        Optional

        int

        Filterr


        PageNumber

        Required

        int

        Page Number


        PageSize

        Required

        int

        Num'
    post:
      tags:
      - Image Gallery
      summary: Upload an Image
      operationId: post__images
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Upload an Image


        Query string parameters : None


        Response Body Parameters :


        Parameter

        Required

        Type

        Description


        Data

        Required

        File

        Image file to be uploaded


        Response body parameters :


        Parameter</'
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
  /Images/{ImageID}:
    get:
      tags:
      - Image Gallery
      summary: Get image details
      operationId: get__images__imageid
      parameters:
      - name: ImageID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get image details


        Query string parameters : None


        Request Body Parameter


        Parameter

        Required

        Type

        Description


        ImageID

        Required

        string

        Image ID


        Response body parameters :


        Parameter

        Type

        Descripti'
    delete:
      tags:
      - Image Gallery
      summary: Delete an image
      operationId: delete__images__imageid
      parameters:
      - name: ImageID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Delete an image


        Query string parameters : None


        Request Body Parameters :


        Parameter

        Required

        Type

        Description


        ImageID

        Required

        string

        Image ID


        Response Body Parameters :


        Parameter

        Type

        Description


        Response

        int

        <td'
    patch:
      tags:
      - Image Gallery
      summary: Update an image
      operationId: patch__images__imageid
      parameters:
      - name: ImageID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Update an image


        Query string parameters :


        Parameter

        Required

        Type

        Description


        ImageID

        Required

        string

        Image ID


        Request Body Parameters :


        Parameter

        Required

        Type

        Description


        ImageURL

        Required if ImageName is not passed</td'
  /Images/{ImageID}/Copy:
    post:
      tags:
      - Image Gallery
      summary: Copy image to sub-account
      operationId: post__images__imageid__copy
      parameters:
      - name: ImageID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Copy image to sub-account


        Query string parameters :


        Parameter

        Required

        Type

        Description


        ImageID

        Required

        string

        Image ID


        Request Body Parameters :


        Parameter

        Required

        Type

        Description


        Clients

        Required

        string</'
  /Images/Giphy/Images/List:
    get:
      tags:
      - Image Gallery
      summary: Get list of Giphy images
      operationId: get__images_giphy_images_list
      parameters:
      - name: PageNumber
        in: query
        required: false
        schema:
          type: string
      - name: PageSize
        in: query
        required: false
        schema:
          type: string
      - name: Filter
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get list of Giphy images


        Query string parameters :


        Parameter

        Required

        Type

        Description


        PageNumber

        Optional

        string

        Page Number


        PageSize

        Optional

        string

        Number of records per page


        Filter</t'
  /Images/{ImageType}/{Extra}:
    post:
      tags:
      - Image Gallery
      summary: Upload Logo Image
      operationId: post__images__imagetype___extra
      parameters:
      - name: ImageType
        in: path
        required: true
        schema:
          type: string
      - name: Extra
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Upload Logo Image


        Query string parameters : None


        Response Body Parameters :


        Parameter

        Required

        Type

        Description


        Data

        Required

        File

        Image file to be uploaded


        ImageType

        Required

        string

        Type of a image


        Extr'
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: AuthToken
      description: API token obtained from https://ui.benchmarkemail.com/Integrate#API
