openapi: 3.2.0
info:
  title: Benchmark Email RESTful API v3.0 General API
  description: 'RESTful API for managing email marketing contacts, lists, campaigns, automations, reports, images, and webhooks within the Benchmark Email platform. To use the API, you need a Benchmark Email API token available at https://ui.benchmarkemail.com/Integrate#API. Rate limit: 500 calls per 2 minutes and 60,000 calls per day.'
  version: 3.0.0
  contact:
    name: Benchmark Email Developer Support
    url: https://developer.benchmarkemail.com/
  license:
    name: Proprietary
servers:
- url: https://clientapi.benchmarkemail.com
  description: Benchmark Email Client API
security:
- apiKeyAuth: []
tags:
- name: General
  description: General operations
paths:
  /Client/Notification:
    get:
      tags:
      - General
      summary: Get Notification
      operationId: get__client_notification
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get Notification


        Response body parameters :


        Parameter

        Type

        Description


        Data

        NotificationData

        Array


        Errors

        ErrorData

        Array</'
  /Client/Responsive:
    get:
      tags:
      - General
      summary: Check if Responsive
      operationId: get__client_responsive
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Check if Responsive


        Response body parameters :


        Parameter

        Type

        Description


        IsResponsive

        String

        0=Not,1 =Responsive


        Errors

        ErrorData

        Array


        Status

        string<'
    patch:
      tags:
      - General
      summary: Set Responsive
      operationId: patch__client_responsive
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Set Responsive


        Body Parameters (to be encoded as a JSON string)


        Key

        Required

        Description


        IsResponsive

        Required

        Is Responsive=1,Not = 0


        Response body parameters :


        Parameter

        Type

        Description


        IsResponsive

        String</td'
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /Client/RatingRange:
    get:
      tags:
      - General
      summary: Get Clients Rating Range
      operationId: get__client_ratingrange
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get Clients Rating Range


        Parameter

        Type

        Description


        MinRating

        String

        Min Rating


        MaxRating

        string

        Max Rating'
  /Client/Archive/Domain:
    get:
      tags:
      - General
      summary: Get Archive Domain Name
      operationId: get__client_archive_domain
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get Archive Domain Name


        Query String Parameters : None


        Request Body Parameters: None


        Response Body Parameters :


        Parameter

        Type

        Description


        DomainName

        string

        Domain Name'
  /Client/Community/Domain:
    get:
      tags:
      - General
      summary: Get Community Domain
      operationId: get__client_community_domain
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get Community Domain


        Query String Parameters : None


        Request Body Parameters: None


        Response Body Parameters :


        Parameter

        Type

        Description


        DomainName

        string

        Domain Name'
  /Client/DMarc:
    get:
      tags:
      - General
      summary: Get DMARC List
      operationId: get__client_dmarc
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get DMarc List


        Query String Parameters : None


        Request Body Parameters: None


        Response Body Parameters :


        Parameter

        Type

        Description


        Data

        GenericList

        Generic List'
  /Client/ListUploadTerms:
    get:
      tags:
      - General
      summary: Get List Upload Terms
      operationId: get__client_listuploadterms
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get List Upload Terms


        Response Body Parameters :


        Parameter

        Type

        Description


        Status

        String

        1=successfull,-1 not success


        Error

        ErrorData

        Array of error


        Data

        <'
  /Contact/{ListID}:
    patch:
      tags:
      - General
      summary: Modify Contact List
      operationId: patch__contact__listid
      parameters:
      - name: ListID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Modifies an existing contact list


        URL Parameters


        Key

        Required

        Description


        {{ListID}}

        required

        ID of the contact list


        Body Parameters (To be passed as a JSON string)


        KeyRequiredDescription


        NameoptionalList Name</'
  /Contact/ContactDetails:
    delete:
      tags:
      - General
      summary: Delete the selected contacts from current lists
      operationId: delete__contact_contactdetails
      parameters:
      - name: Search
        in: query
        required: false
        schema:
          type: string
      - name: Filter
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Delete the selected contacts from current lists


        Request body parameters


        KeyRequiredTypeDescription


        SearchoptionalstringSearch value like email address


        FilteroptionalstringFilter value


        Body Parameters (To be passed as a JSON string)


        Key<'
  /Contact/{ID}/Download:
    post:
      tags:
      - General
      summary: Download report
      operationId: post__contact__id__download
      parameters:
      - name: ID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Download report


        URL Parameters


        KeyRequiredTypeDescription


        {{ID}}requiredstringIDs of the list


        Body Parameters (To be passed as a JSON string)


        KeyRequiredTypeDescription


        PINrequiredstring4 digit Sec'
  /Contact/{ListIDs}/Compare:
    get:
      tags:
      - General
      summary: Compare contacts
      operationId: get__contact__listids__compare
      parameters:
      - name: ListIDs
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Compares contacts


        Response: 1 if successful, -1 if error


        URL Parameters


        Key

        Required

        Description


        {{ListIDs}}

        required

        IDs of the lists


        Response body parameters


        KeyTypeDescription


        Statusstring1 if successful, -1 if error'
  /Contact/{CleanListID}/Clean:
    post:
      tags:
      - General
      summary: Clean List
      operationId: post__contact__cleanlistid__clean
      parameters:
      - name: CleanListID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Cleans the specified list


        URL Parameters


        Key

        Required

        Description


        {{CleanListID}}

        required

        ID of the contact list to be cleaned


        Body Parameters (to be encoded as a JSON string)


        Key

        Required

        Description


        HardBounces

        required

        1 if hard bounces are to be clean'
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /Contact/{ListID}/Trash:
    delete:
      tags:
      - General
      summary: Delete Trash List
      operationId: delete__contact__listid__trash
      parameters:
      - name: ListID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Delete Trash List


        URL Parameters


        KeyRequiredTypeDescription


        {{ListID}}requiredstringID of the list


        Response body parameters


        KeyTypeDescription


        Statusstring1 if successful, -1 if error


        Error<t'
  /Contact/{listID}/ContactDetails/{ContactID}:
    delete:
      tags:
      - General
      summary: Delete the selected contacts from current list from contact details page
      operationId: delete__contact__listid__contactdetails__contactid
      parameters:
      - name: listID
        in: path
        required: true
        schema:
          type: string
      - name: ContactID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Delete the selected contacts from current list from contact details page


        URL Parameters


        KeyRequiredTypeDescription


        {{ListID}}optionalstringID of the list


        {{ContactID}}optionalstringID of the contact


        Request body parameters


        KeyRequired'
  /Contact/{ListID}/ContactDetails/All/{ContactID}:
    delete:
      tags:
      - General
      summary: Delete the selected contacts from ALL lists from Contact Details page
      operationId: delete__contact__listid__contactdetails_all__contactid
      parameters:
      - name: ListID
        in: path
        required: true
        schema:
          type: string
      - name: ContactID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Delete the selected contacts from ALL lists from Contact Details page


        URL Parameters


        KeyRequiredTypeDescription


        {{ListID}}requiredstringID of the list


        {{ContactID}}requiredstringID of the contact


        Response body parameters


        KeyType<'
  /Contact/ContactDetails/{ContactID}:
    delete:
      tags:
      - General
      summary: DELETE Contact only from search contact page
      operationId: delete__contact_contactdetails__contactid
      parameters:
      - name: ContactID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Delete Contact only from search contact page


        URL Parameters


        KeyRequiredTypeDescription


        {{ContactID}}requiredstringID of the contact


        Request body parameters


        KeyRequiredTypeDescription


        Searchoptionalstring</t'
  /Contact/{ListID}/MoveToDNC/{ContactID}:
    delete:
      tags:
      - General
      summary: Move Contacts to Do Not Contact (i.e Master Unsubscribe list)
      operationId: delete__contact__listid__movetodnc__contactid
      parameters:
      - name: ListID
        in: path
        required: true
        schema:
          type: string
      - name: ContactID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Move Contacts to Do Not Contact (i.e Master Unsubscribe list)


        URL Parameters


        KeyRequiredTypeDescription


        {{ListID}}requiredstringID of the list


        {{ContactIDs}}requiredstringID of the Contact


        Response body parameters


        KeyTypeDesc'
  /Contact/{ListID}/MoveContacts/{TargetListID}/{ContactIDs}:
    post:
      tags:
      - General
      summary: Move Contacts
      operationId: post__contact__listid__movecontacts__targetlistid___contactids
      parameters:
      - name: ListID
        in: path
        required: true
        schema:
          type: string
      - name: TargetListID
        in: path
        required: true
        schema:
          type: string
      - name: ContactIDs
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Move Contacts


        URL Parameters


        KeyRequiredTypeDescription


        {{ListID}}requiredstringID of the list


        {{TargetListIDs}}requiredstringID of the target list where the contact is to be moved


        {{ContactIDs}}requiredstringID of the Contact


        Resp'
  /Contact/{ListID}/MoveContacts:
    post:
      tags:
      - General
      summary: Move Bulk Contacts
      operationId: post__contact__listid__movecontacts
      parameters:
      - name: ListID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Move Bulk Contacts


        URL Parameters


        KeyRequiredTypeDescription


        {{ListID}}requiredstringID of the list


        Body Parameters (To be passed as a JSON string)


        KeyRequiredTypeDescription


        TargetListIDsrequiredstring</td'
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /Contact/CopyContacts/{ListID}/{ContactID}:
    post:
      tags:
      - General
      summary: Copy Contacts
      operationId: post__contact_copycontacts__listid___contactid
      parameters:
      - name: ListID
        in: path
        required: true
        schema:
          type: string
      - name: ContactID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Copy Contacts


        URL Parameters


        KeyRequiredTypeDescription


        {{ListID}}requiredstringID of the list


        {{ContactID}}requiredstringID of the contact


        Response body parameters


        KeyTypeDescription


        Sta'
  /Contact/CopyContacts:
    post:
      tags:
      - General
      summary: Copy Bulk Contacts
      operationId: post__contact_copycontacts
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Copy Bulk Contacts


        Body Parameters (To be passed as a JSON string)


        KeyRequiredTypeDescription


        TargetListIDsrequiredstringTarget List ID


        ContactIDsrequiredstringComma separated list of Contact IDs


        Response body parameters


        KeyType</th'
  /Contact/{ListID}/ShareLists/{ClientIDs}:
    post:
      tags:
      - General
      summary: Share Lists with SubAccounts
      operationId: post__contact__listid__sharelists__clientids
      parameters:
      - name: ListID
        in: path
        required: true
        schema:
          type: string
      - name: ClientIDs
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Share Lists with SubAccounts


        URL Parameters


        KeyRequiredTypeDescription


        {{ListID}}requiredstringID of the list


        {{ClientIDs}}requiredstringClient ID of the sub-accounts with whom to share


        Response body parameters


        KeyTypeDescrip'
  /Contact/{ListID}/ResendEmails:
    post:
      tags:
      - General
      summary: Resend Email
      operationId: post__contact__listid__resendemails
      parameters:
      - name: ListID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Resend Email


        URL Parameters


        KeyRequiredTypeDescription


        {{ListID}}requiredstringID of the list


        Post Parameters


        KeyRequiredTypeDescription


        {{ContactID}}requiredstringIDs of the contact


        </t'
  /Contact/{ListIDs}/MergeLists:
    get:
      tags:
      - General
      summary: Get contact Merge List
      operationId: get__contact__listids__mergelists
      parameters:
      - name: ListIDs
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get contact Merge List


        URL Parameters


        KeyRequiredTypeDescription


        {{ListIDs}}requiredstringIDs of the lists


        Response body parameters


        KeyTypeDescription


        Statusstring1 if successful, -1 if error


        Data'
  /Contact/{ListIDs}/MergeIntoExistingList:
    post:
      tags:
      - General
      summary: Merge contacts into Existing List
      operationId: post__contact__listids__mergeintoexistinglist
      parameters:
      - name: ListIDs
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Merge contacts into Existing List


        URL Parameters


        KeyRequiredTypeDescription


        {{ListIDs}}requiredstringIDs of the lists


        Body Parameters (To be passed as a JSON string)


        KeyRequiredTypeDescription


        TargetListIDoptional</'
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /Contact/{ListIDs}/MergeIntoListNewList:
    post:
      tags:
      - General
      summary: Merge contacts into new list
      operationId: post__contact__listids__mergeintolistnewlist
      parameters:
      - name: ListIDs
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Merge contacts into new list


        URL Parameters


        KeyRequiredTypeDescription


        {{ListIDs}}requiredstringIDs of the lists


        Body Parameters (To be passed as a JSON string)


        KeyRequiredTypeDescription


        NewListrequiredstr'
  /Contact/{ListID}/SplitIntoListNewList:
    post:
      tags:
      - General
      summary: Split contacts into new list
      operationId: post__contact__listid__splitintolistnewlist
      parameters:
      - name: ListID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Split contacts into new list


        URL Parameters


        KeyRequiredTypeDescription


        {{ListIDs}}requiredstringIDs of the lists


        Body Parameters (To be passed as a JSON string)


        KeyRequiredTypeDescription


        NewListrequiredstr'
  /Contact/DeleteList/{ListIDss}:
    delete:
      tags:
      - General
      summary: Delete List
      operationId: delete__contact_deletelist__listidss
      parameters:
      - name: ListIDss
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Delete List


        URL Parameters


        KeyRequiredTypeDescription


        {{ListIDs}}requiredstringIDs of the lists


        Response body parameters


        KeyTypeDescription


        Statusstring1 if successful, -1 if error


        Error<'
  /Contact/DeleteTrashList/{ListIDs}:
    delete:
      tags:
      - General
      summary: Delete Trash List
      operationId: delete__contact_deletetrashlist__listids
      parameters:
      - name: ListIDs
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get a list of contacts


        URL Parameters


        KeyRequiredTypeDescription


        {{ListIDs}}requiredstringIDs of the lists


        Response body parameters


        KeyTypeDescription


        Statusstring1 if successful, -1 if error


        Erro'
  /Contact/RestoreTrashList/{ListIDs}:
    patch:
      tags:
      - General
      summary: Restore Trash List
      operationId: patch__contact_restoretrashlist__listids
      parameters:
      - name: ListIDs
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Restore Trash List


        URL Parameters


        KeyRequiredTypeDescription


        {{ListIDs}}requiredstringIDs of the lists


        Response body parameters


        KeyTypeDescription


        Statusstring1 if successful, -1 if error


        Error</t'
  /Emails/{ID}:
    delete:
      tags:
      - General
      summary: Delete the email
      operationId: delete__emails__id
      parameters:
      - name: ID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Delete the email


        URL Parameters


        KeyRequiredTypeDescription


        {{ID}}requiredstringIDs of the email


        Response body parameters


        KeyTypeDescription


        Statusstring1 if successful, -1 if error


        Data<a'
    post:
      tags:
      - General
      summary: Copy an existing email
      operationId: post__emails__id
      parameters:
      - name: ID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Copy an existing email


        URL Parameters


        KeyRequiredTypeDescription


        {{ID}}requiredstringID of the email


        Body Parameters (To be passed as a JSON string)


        KeyRequiredTypeDescription


        NamerequiredstringNam'
  /Emails/{ID}/Trash:
    delete:
      tags:
      - General
      summary: Permenantly delete an email from Trash
      operationId: delete__emails__id__trash
      parameters:
      - name: ID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Permenantly delete an email from Trash


        URL Parameters


        KeyRequiredTypeDescription


        {{ID}}requiredstringIDs of the email


        Response body parameters


        KeyTypeDescription


        Statusstring1 if successful, -1 if error


        <'
    post:
      tags:
      - General
      summary: Restore an email from Trash
      operationId: post__emails__id__trash
      parameters:
      - name: ID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get a list of contacts


        URL Parameters


        KeyRequiredTypeDescription


        {{ID}}requiredstringIDs of the email


        Response body parameters


        KeyTypeDescription


        Statusstring1 if successful, -1 if error


        Data'
  /Emails/{ID}/Preview:
    get:
      tags:
      - General
      summary: Get the Preview for the email
      operationId: get__emails__id__preview
      parameters:
      - name: ID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get a list of contacts


        Query String parameters


        KeyRequiredTypeDescription


        EmailAddressoptionalstringEmail Address


        HTMLContentoptionalstringHTML Content


        TextContentoptionalstringText Content


        Response body parameters'
  /Emails/Community/{ID}:
    patch:
      tags:
      - General
      summary: Add Email to Community
      operationId: patch__emails_community__id
      parameters:
      - name: ID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get a list of contacts


        URL Parameters


        KeyRequiredTypeDescription


        {{ID}}requiredstringID of the email


        Body Parameters (To be passed as a JSON string)


        KeyRequiredTypeDescription


        Communityrequiredstring<t'
  /Emails/CommunityGetEmail/{ID}:
    get:
      tags:
      - General
      summary: GET Community Email By ID
      operationId: get__emails_communitygetemail__id
      parameters:
      - name: ID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get a list of contacts


        URL Parameters


        KeyRequiredTypeDescription


        {{ID}}requiredstringID of the Email


        Response body parameters


        KeyTypeDescription


        IDstringID


        CommunityNamestringCom'
  /Emails/{ID}/ShareTemplate:
    post:
      tags:
      - General
      summary: Share Template to sub accounts
      operationId: post__emails__id__sharetemplate
      parameters:
      - name: ID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Share Template to sub accounts


        URL Parameters


        KeyRequiredTypeDescription


        {{ID}}requiredstringID of the Email


        Body Parameters (To be passed as a JSON string)


        KeyRequiredTypeDescription


        SubAccountrequiredstri'
  /Emails/{ID}/ABSplit:
    delete:
      tags:
      - General
      summary: Delete ABSplit Campaign
      operationId: delete__emails__id__absplit
      parameters:
      - name: ID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Delete ABSplit Campaign


        URL parameters


        KeyRequiredTypeDescription


        IDoptionalstringID of the email


        Response body parameters


        KeyTypeDescription


        Statusstring1 if successful, -1 if error


        Error<'
  /Automation:
    get:
      tags:
      - General
      summary: Get list of automation
      operationId: get__automation
      parameters:
      - name: PageNumber
        in: query
        required: false
        schema:
          type: string
      - name: PageSize
        in: query
        required: false
        schema:
          type: string
      - name: Filter
        in: query
        required: false
        schema:
          type: string
      - name: OrderBy
        in: query
        required: false
        schema:
          type: string
      - name: SortOrder
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get a list of automation


        Query String Parameter :


        Key

        Required

        Description


        PageNumber

        optional

        Page Number


        PageSize

        optional

        Number of records to show per page


        Filter

        optional

        Filter for automation name


        OrderBy

        optional

        Column by which to sort like name,schedule,email,status,da'
  /Automation/{AutomationID}:
    delete:
      tags:
      - General
      summary: Delete an Automation
      operationId: delete__automation__automationid
      parameters:
      - name: AutomationID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Delete an automation


        URL Parameters


        Key

        Required

        Description


        {{AutomationID}}

        Required

        Automation ID


        Response body parameters


        KeyTypeDescription


        StatusString1 if success, -1 if error


        Error<a href="http://ww'
  /Automation/{AutomationID}/Emails/{AutomationDetailID}:
    post:
      tags:
      - General
      summary: Copy email in an Automation
      operationId: post__automation__automationid__emails__automationdetailid
      parameters:
      - name: AutomationID
        in: path
        required: true
        schema:
          type: string
      - name: AutomationDetailID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Create copy of an Automation email


        URL Parameters


        Key

        Required

        Description


        {{AutomationID}}

        Required

        Automation ID


        {{AutomationDetailID}}

        Required

        Automation email ID


        Response body parameters


        KeyTypeDescription'
    delete:
      tags:
      - General
      summary: Delete an Automation Email
      operationId: delete__automation__automationid__emails__automationdetailid
      parameters:
      - name: AutomationID
        in: path
        required: true
        schema:
          type: string
      - name: AutomationDetailID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Delete an Automation Email


        URL Parameters


        Key

        Required

        Description


        {{AutomationID}}

        Required

        Automation ID


        {{AutomationDetailID}}

        Required

        Automation Email ID


        Response body parameters


        KeyTypeDescription


        Status<'
  /Automation/{AutomationID}/Copy:
    post:
      tags:
      - General
      summary: Create copy of exiting Automation
      operationId: post__automation__automationid__copy
      parameters:
      - name: AutomationID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Create copy of an Automation


        URL Parameters


        Key

        Required

        Description


        {{AutomationID}}

        Required

        Automation ID


        Body Parameters (to be encoded as a JSON string)


        Key

        Required

        Description


        {{Name}}

        Required

        Name of the new automation'
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /ABSplit/:
    get:
      tags:
      - General
      summary: Get a list of AB Tests
      operationId: get__absplit
      parameters:
      - name: PageNumber
        in: query
        required: false
        schema:
          type: string
      - name: PageSize
        in: query
        required: false
        schema:
          type: string
      - name: Filter
        in: query
        required: false
        schema:
          type: string
      - name: FilterType
        in: query
        required: false
        schema:
          type: string
      - name: OrderBy
        in: query
        required: false
        schema:
          type: string
      - name: SortOrder
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get a Inbox List


        URL body parameter


        Parameter

        Type

        Description


        PageNumber

        string

        Page Number


        PageSize

        string

        Number of rows on the page


        OrderBy

        string

        Order By Column


        Filter'
  /ABSplit/{ID}:
    delete:
      tags:
      - General
      summary: Delete the AB Test email
      operationId: delete__absplit__id
      parameters:
      - name: ID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Move the email to trash


        URL parameters:


        Parameter

        Type

        Description


        ID

        string

        ABSplit ID


        Response body parameters:


        Parameter

        Type

        Description


        Status

        string

        1 if successful, -1 if error'
  /ABSplit/{ID}/Status:
    patch:
      tags:
      - General
      summary: Update the AB Test Status
      operationId: patch__absplit__id__status
      parameters:
      - name: ID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Update the ABSplit Status


        URL parameters:


        Parameter

        Type

        Description


        ID

        string

        ABSplit ID


        Body Parameters (to be encoded as a JSON string)


        Key

        Required

        Description


        Status

        Required

        Status of AB test like draft/START/SCHEDULE/AUTOMATIC/SUSPEND/RESCHEDULE'
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /Survey:
    get:
      tags:
      - General
      summary: Get a list of survey
      operationId: get__survey
      parameters:
      - name: PageNumber
        in: query
        required: false
        schema:
          type: string
      - name: PageSize
        in: query
        required: false
        schema:
          type: string
      - name: OrderBy
        in: query
        required: false
        schema:
          type: string
      - name: Filter
        in: query
        required: false
        schema:
          type: string
      - name: SortOrder
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get a list of survey


        Query string parameters:


        Parameter

        Required

        Type

        Description


        PageNumber

        Optional

        int

        Page Number


        PageSize

        Optional

        int

        Number of rows on the page


        OrderBy

        Optional

        st'
  /Survey/{ID}/Copy:
    post:
      tags:
      - General
      summary: Copy a Survey
      operationId: post__survey__id__copy
      parameters:
      - name: ID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Copy a Survey


        Query String Parameters : None


        Request Body Parameters :


        Parameter

        Required

        Type

        Description


        ID

        Required

        string

        Survey ID


        Name

        Required

        string

        Survey Name


        Re'
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /Survey/{ID}:
    delete:
      tags:
      - General
      summary: Delete a Survey
      operationId: delete__survey__id
      parameters:
      - name: ID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Delete a Survey


        Query string Parameters : None


        Request Body Parameters :


        Parameter

        Required

        Type

        Description


        ID

        Required

        string

        Survey ID


        Response Body Parameters :


        Parameter

        Type

        <'
  /Survey/{ID}/StatusUpdate/{Status}:
    patch:
      tags:
      - General
      summary: Update status of the survey
      operationId: patch__survey__id__statusupdate__status
      parameters:
      - name: ID
        in: path
        required: true
        schema:
          type: string
      - name: Status
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Update status of the survey


        Query string parameters : None


        Request Body Parameters:


        Parameter

        Required

        Type

        Description


        ID

        Required

        string

        Survey ID


        Status

        Required

        string

        1 Active, 0 Inactive, 3 Reactivate</td'
  /Poll/:
    get:
      tags:
      - General
      summary: Get list of Polls
      operationId: get__poll
      parameters:
      - name: Filter
        in: query
        required: false
        schema:
          type: string
      - name: PageNumber
        in: query
        required: false
        schema:
          type: string
      - name: PageSize
        in: query
        required: false
        schema:
          type: string
      - name: OrderBy
        in: query
        required: false
        schema:
          type: string
      - name: SortOrder
        in: query
        required: false
        schema:
          type: string
      - name: status
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get list of Polls.


        Query string parameters :


        Parameter

        Required

        Type

        Description


        Filter

        Optional

        int

        Filterr


        PageNumber

        Required

        int

        Page Number


        PageSize

        Required

        int

        Numbe'
  /Poll/{PollID}/Copy:
    post:
      tags:
      - General
      summary: Copy a poll
      operationId: post__poll__pollid__copy
      parameters:
      - name: PollID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Copy a poll


        Query string parameters :


        Parameter

        Required

        Type

        Description


        PollID

        Required

        string

        Poll ID


        Request Body Parameters :


        Parameter

        Required

        Type

        Description


        Name

        Required

        string

        Name of'
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /Poll/{PollID}:
    delete:
      tags:
      - General
      summary: Delete a poll
      operationId: delete__poll__pollid
      parameters:
      - name: PollID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Delete a poll


        Query string parameters : None


        Request Body Parameters :


        Parameter

        Required

        Type

        Description


        PollID

        Required

        string

        Poll ID


        Response Body Parameters :


        Parameter

        Type

        Description


        Response

        int

        ID'
  /Poll/{PollID}/Render:
    get:
      tags:
      - General
      summary: Get preview of a poll
      operationId: get__poll__pollid__render
      parameters:
      - name: PollID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get preview of a poll


        Query string parameters : None


        Request Body parameters:


        Parameter

        Required

        Type

        Description


        PollID

        Required

        String

        Poll ID


        Response body parameters :


        Parameter

        Type'
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: AuthToken
      description: API token obtained from https://ui.benchmarkemail.com/Integrate#API
