openapi: 3.2.0
info:
  title: Benchmark Email RESTful API v3.0 Engagement API
  description: 'RESTful API for managing email marketing contacts, lists, campaigns, automations, reports, images, and webhooks within the Benchmark Email platform. To use the API, you need a Benchmark Email API token available at https://ui.benchmarkemail.com/Integrate#API. Rate limit: 500 calls per 2 minutes and 60,000 calls per day.'
  version: 3.0.0
  contact:
    name: Benchmark Email Developer Support
    url: https://developer.benchmarkemail.com/
  license:
    name: Proprietary
servers:
- url: https://clientapi.benchmarkemail.com
  description: Benchmark Email Client API
security:
- apiKeyAuth: []
tags:
- name: Engagement
  description: Engagement analytics and list building
paths:
  /Engagement/CampaignList:
    get:
      tags:
      - Engagement
      summary: Get a Campaign List of Engagement
      operationId: get__engagement_campaignlist
      parameters:
      - name: PageNumber
        in: query
        required: false
        schema:
          type: string
      - name: PageSize
        in: query
        required: false
        schema:
          type: string
      - name: OrderBy
        in: query
        required: false
        schema:
          type: string
      - name: Filter
        in: query
        required: false
        schema:
          type: string
      - name: SortOrder
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get a Campaign List of Engagement


        Query string parameters :


        Parameter

        Required

        Type

        Description


        PageNumber

        Optional

        string

        Page Number


        PageSize

        Optional

        string

        Number of rows on the page


        Or'
  /Engagement/URLList:
    get:
      tags:
      - Engagement
      summary: Get a URLList of Engagement
      operationId: get__engagement_urllist
      parameters:
      - name: Filter
        in: query
        required: false
        schema:
          type: string
      - name: EmailIDs
        in: query
        required: false
        schema:
          type: string
      - name: PageNumber
        in: query
        required: false
        schema:
          type: string
      - name: PageSize
        in: query
        required: false
        schema:
          type: string
      - name: OrderBy
        in: query
        required: false
        schema:
          type: string
      - name: SortOrder
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get a URLList of Engagement


        Query string parameters :


        Parameter

        Required

        Type

        Description


        EmailIDs

        Required

        string

        List of Email Ids


        PageNumber

        Optional

        string

        Page Number


        PageSize'
  /Engagement/ClickURLContactCount:
    get:
      tags:
      - Engagement
      summary: Get a ClickURLContactCount of Engagement
      operationId: get__engagement_clickurlcontactcount
      parameters:
      - name: CampaignURLList
        in: query
        required: false
        schema:
          type: string
      - name: ClickAll
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get a ClickURLContactCount of Engagement


        Query string parameters :


        Parameter

        Required

        Type

        Description


        CampaignURLList

        Required

        string

        Campaign URL List


        ClickAll

        Optional

        string


        <b'
  /Engagement/ClickContactCount:
    get:
      tags:
      - Engagement
      summary: Get Click Contact Count
      operationId: get__engagement_clickcontactcount
      parameters:
      - name: EmailIDList
        in: query
        required: false
        schema:
          type: string
      - name: FilterType
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get Click Contact Count


        Query string parameters :


        Parameter

        Required

        Type

        Description


        EmailIDList

        Required

        string

        List of Email ID


        FilterType

        Required

        string

        1 (for Any)


        Response body'
  /Engagement/CreateList:
    post:
      tags:
      - Engagement
      summary: Create List of Engagement
      operationId: post__engagement_createlist
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Create List of Engagement


        Query string parameters : None


        Request Body Parameters


        Parameter

        Required

        Type

        New List Name


        ListName

        Required

        string

        New List Name


        Type

        Required

        string

        Type of list'
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /Engagement/NonContactCount:
    get:
      tags:
      - Engagement
      summary: Get Non Contact Count
      operationId: get__engagement_noncontactcount
      parameters:
      - name: EmailIDList
        in: query
        required: false
        schema:
          type: string
      - name: FilterType
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get Non Contact Count


        Query string parameters :


        Parameter

        Required

        Type

        Description


        EmailIDList

        Required

        string

        List of Email ID


        FilterType

        Required

        string

        1 (for Any)


        Response body pa'
  /Engagement/OpenContactCount:
    get:
      tags:
      - Engagement
      summary: Get Open Contact Count
      operationId: get__engagement_opencontactcount
      parameters:
      - name: EmailIDList
        in: query
        required: false
        schema:
          type: string
      - name: FilterType
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get Open Contact Count


        Query string parameters :


        Parameter

        Required

        Type

        Description


        EmailIDList

        Required

        string

        List of Email ID


        FilterType

        Required

        string

        1 (for Any)


        Response body p'
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: AuthToken
      description: API token obtained from https://ui.benchmarkemail.com/Integrate#API
