openapi: 3.2.0
info:
  title: Benchmark Email RESTful API v3.0 Survey API
  description: 'RESTful API for managing email marketing contacts, lists, campaigns, automations, reports, images, and webhooks within the Benchmark Email platform. To use the API, you need a Benchmark Email API token available at https://ui.benchmarkemail.com/Integrate#API. Rate limit: 500 calls per 2 minutes and 60,000 calls per day.'
  version: 3.0.0
  contact:
    name: Benchmark Email Developer Support
    url: https://developer.benchmarkemail.com/
  license:
    name: Proprietary
servers:
- url: https://clientapi.benchmarkemail.com
  description: Benchmark Email Client API
security:
- apiKeyAuth: []
tags:
- name: Survey
  description: Survey
paths:
  /Survey:
    post:
      tags:
      - Survey
      summary: Create a Survey
      operationId: post__survey
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Create a Survey


        Query String Parameters : None


        Request Body Parameters :


        Parameter

        Required

        Type

        Description


        Data

        Required

        SurveyData

        Array of survey data post.


        Response Body Paramete'
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /Survey/{ID}/CopyTemplate:
    post:
      tags:
      - Survey
      summary: Use template for Survey
      operationId: post__survey__id__copytemplate
      parameters:
      - name: ID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Copy template in Survey


        Query string parameters : None


        Request Body Parameters :


        Parameter

        Required

        Type

        Description


        ID

        Required

        string

        Survey ID


        Name

        Required

        string

        Survey name


        </ta'
      requestBody:
        content:
          application/json:
            schema:
              type: object
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: AuthToken
      description: API token obtained from https://ui.benchmarkemail.com/Integrate#API
