openapi: 3.2.0
info:
  title: Benchmark Email RESTful API v3.0 Signup Form API
  description: 'RESTful API for managing email marketing contacts, lists, campaigns, automations, reports, images, and webhooks within the Benchmark Email platform. To use the API, you need a Benchmark Email API token available at https://ui.benchmarkemail.com/Integrate#API. Rate limit: 500 calls per 2 minutes and 60,000 calls per day.'
  version: 3.0.0
  contact:
    name: Benchmark Email Developer Support
    url: https://developer.benchmarkemail.com/
  license:
    name: Proprietary
servers:
- url: https://clientapi.benchmarkemail.com
  description: Benchmark Email Client API
security:
- apiKeyAuth: []
tags:
- name: Signup Form
  description: Manage signup forms
paths:
  /SignupForm:
    get:
      tags:
      - Signup Form
      summary: Gets a list of Signup Forms
      operationId: get__signupform
      parameters:
      - name: PageNumber
        in: query
        required: false
        schema:
          type: string
      - name: PageSize
        in: query
        required: false
        schema:
          type: string
      - name: Filter
        in: query
        required: false
        schema:
          type: string
      - name: FilterField
        in: query
        required: false
        schema:
          type: string
      - name: OrderBy
        in: query
        required: false
        schema:
          type: string
      - name: SortOrder
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Gets a list of signup forms in the user''s account


        Query string parameters :


        Parameter

        Required

        Type

        Description


        PageNumber

        optional

        int

        Page Number


        PageSize

        optional

        int

        Number of records to show per page


        Filter

        optional

        string

        Filter text


        FilterField</'
  /SignupForm/:
    post:
      tags:
      - Signup Form
      summary: Creating a Signup Form
      operationId: post__signupform
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Creates a new signup form


        Body Parameters (to be encoded as a JSON string)


        Key

        Required

        Description


        Name

        optional

        Name of the signup form


        Lists

        optional

        List details as ID and Name

        [{"ID":"IDOfTheList", "Name":"NameOfTheList"},{"ID":"IDOfTheList", "Name":"NameOfTheList"}'
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /SignupForm/Template:
    get:
      tags:
      - Signup Form
      summary: Get templates for Signup Form (Classic Only)
      operationId: get__signupform_template
      parameters:
      - name: Language
        in: query
        required: false
        schema:
          type: string
      - name: Filter
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Gets templates for signup form


        Query string parameters :


        Parameter

        Required

        Type

        Description


        Language

        optional

        string

        Language


        Filter

        optional

        int

        Template Category ID


        Response Body parameters :


        Parameter

        Type

        <t'
  /SignupForm/{ID}/Copy:
    post:
      tags:
      - Signup Form
      summary: Copy an existing Signup Form
      operationId: post__signupform__id__copy
      parameters:
      - name: ID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Copies an existing signup form


        Query String Parameters : None


        Request Body Parameters:


        Parameter

        Required

        Type

        Description


        ID

        required

        string

        ID of the signup Form


        Name

        required

        string

        Name of the new signup form


        Response Body Parameters:

        <tabl'
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /SignupForm/{ID}:
    get:
      tags:
      - Signup Form
      summary: Get a details of Signup Form
      operationId: get__signupform__id
      parameters:
      - name: ID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get a details of Signup Form


        Query string parameters:None


        Request Body parameters:


        Parameter

        Required

        Type

        Description


        ID

        Required

        string

        Signup Form ID


        Response Body parameters:


        Parameter

        Type</t'
    patch:
      tags:
      - Signup Form
      summary: Update the Signup Form
      operationId: patch__signupform__id
      parameters:
      - name: ID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Update the signup Form


        Query String Parameters: None


        Request Body Parameters:


        Key

        Required

        Type

        Description


        ID

        Required

        string

        Signup Form ID


        Detail

        Required

        <a href="http://www.benchmarkemail.com/models.htm#SignupFormSignupForm'
      requestBody:
        content:
          application/json:
            schema:
              type: object
    delete:
      tags:
      - Signup Form
      summary: Delete an existing Signup Form
      operationId: delete__signupform__id
      parameters:
      - name: ID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Deletes an existing signup form


        Query string Parameters : None


        Request Body Parameters :


        Parameter

        Required

        type

        Description


        {ID}

        required

        string

        ID of the signup Form


        Response Body Parameters :


        Parameter

        type

        Description


        <t'
  /SignupForm/{ID}/Link:
    get:
      tags:
      - Signup Form
      summary: Get the link of the Signup form
      operationId: get__signupform__id__link
      parameters:
      - name: ID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get the link of the Signup form


        Query String Parameters:None


        Request Body parameters:


        Parameter

        Required

        Type

        Description


        ID

        Required

        string

        Signup Form ID


        Response Body parameters:


        Parameter

        Type<'
  /SignupForm/{ID}/Code/Preview:
    get:
      tags:
      - Signup Form
      summary: Get the code for Preview for the Signup Form
      operationId: get__signupform__id__code_preview
      parameters:
      - name: ID
        in: path
        required: true
        schema:
          type: string
      - name: Language
        in: query
        required: false
        schema:
          type: string
      - name: Style
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get the code for Preview for the Signup Form


        Query string parameters:


        Key

        Required

        Description


        ID

        Required

        Signup Form ID


        Request Body Parameters :


        Parameter

        Required

        Type

        Description


        </thea'
  /SignupForm/{ID}/Code/Button:
    get:
      tags:
      - Signup Form
      summary: Get the code for the Signup Form button
      operationId: get__signupform__id__code_button
      parameters:
      - name: ID
        in: path
        required: true
        schema:
          type: string
      - name: Language
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get the code for the signup form button


        Query string parameters:


        Parameter

        Required

        Type

        Description


        ID

        Required

        string

        Signup Form ID


        Request Body Parameters :


        Parameter

        Required

        Type'
  /SignupForm/{ID}/ContactFields:
    get:
      tags:
      - Signup Form
      summary: Get the contact fields of the Signup Form
      operationId: get__signupform__id__contactfields
      parameters:
      - name: ID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get the contact fields of the signup Form


        Query string parameters :


        Parameter

        Required

        Type

        Description


        ID

        Required

        string

        Signup Form ID


        Request Body parameters:

        None


        Response body parameters :


        Parameter'
  /SignupForm/{ID}/Test:
    post:
      tags:
      - Signup Form
      summary: Sending a test email for signup
      operationId: post__signupform__id__test
      parameters:
      - name: ID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Sending a test email for signup


        Query string parameters : None


        Request Body parameters:


        Key

        Required

        Description


        ID

        Required

        Signup Form ID


        FromEmail

        Required

        From Email Address


        FromName

        Required'
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /Contact/{ListID}/ListbuilderLists:
    get:
      tags:
      - Signup Form
      summary: Get signup form list
      operationId: get__contact__listid__listbuilderlists
      parameters:
      - name: ListID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get a list of contacts


        URL Parameters


        KeyRequiredTypeDescription


        {{ListIDs}}requiredstringIDs of the lists


        Response body parameters


        KeyTypeDescription


        Statusstring1 if successful, -1 if error


        Coun'
  /Contact/ListbuilderList:
    get:
      tags:
      - Signup Form
      summary: Get signup form list
      operationId: get__contact_listbuilderlist
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get signup form list


        Response body parameters


        KeyTypeDescription


        Statusstring1 if successful, -1 if error


        CountintTotal number


        DataSignupFormRecordSignup Form Data'
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: AuthToken
      description: API token obtained from https://ui.benchmarkemail.com/Integrate#API
