openapi: 3.0.3
info:
  title: Benchmark Email RESTful API v3.0
  description: 'RESTful API for managing email marketing contacts, lists, campaigns,
    automations, reports, images, and webhooks within the Benchmark Email platform.
    To use the API, you need a Benchmark Email API token available at https://ui.benchmarkemail.com/Integrate#API.
    Rate limit: 500 calls per 2 minutes and 60,000 calls per day.'
  version: 3.0.0
  contact:
    name: Benchmark Email Developer Support
    url: https://developer.benchmarkemail.com/
  license:
    name: Proprietary
servers:
- url: https://clientapi.benchmarkemail.com
  description: Benchmark Email Client API
security:
- apiKeyAuth: []
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: AuthToken
      description: API token obtained from https://ui.benchmarkemail.com/Integrate#API
paths:
  /Client/SubAccount:
    get:
      tags:
      - Sub-Account
      summary: Get Sub-Accounts
      operationId: get__client_subaccount
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Get Sub-Accounts</h4>\n<b>Query string parameters :</b> None\
        \ <br>\n\n<b>Response Body Parameters :</b>\n<table>\n  <thead>\n    <tr>\n\
        \      <th>Parameter</th>\n      <th>Type</th>\n      <th>Description</th>\n\
        \    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <td>Count</td>\n      <td>String</td>\n\
        \      <td>Number of Sub-Accounts</td>\n    </tr>\n    <tr>\n      <td>Data</td>\n\
        \      <td><a href=\"http://www.benchmarkemail.com/models.htm#ClientDetail\"\
        \ >ClientDetail</a></td>\n      <td>&nbsp;</td>\n    </tr>\n    <tr>"
    post:
      tags:
      - Sub-Account
      summary: Create Sub-Account
      operationId: post__client_subaccount
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Create Sub-Account</h4>\n<b>URL parameters (to be encoded\
        \ as JSON in body) :</b>\n<table>\n  <thead>\n    <tr>\n      <th>Parameter</th>\n\
        \      <th>Required</th>\n      <th>Type</th>\n      <th>Description</th>\n\
        \    </tr>\n  </thead>\n  <tbody>\n     <tr>\n      <td>Detail</td>\n    \
        \  <td>Required</td>\n      <td>SubAccountDetail</td>\n      <td>Sub Account\
        \ Detail Array</td>\n    </tr>\n  </tbody>\n</table>\n<b>Response Body Parameters\
        \ :</b>\n<table>\n  <thead>\n    <tr>\n      <th>Parameter</th>\n      <th>Type</th"
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /Client/SubAccount/History:
    get:
      tags:
      - Sub-Account
      summary: Get Sub-Account History
      operationId: get__client_subaccount_history
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Get Sub-Account History</h4>\n<b>Query string parameters :</b>\
        \ None <br>\n\n<b>Response Body Parameters :</b>\n<table>\n  <thead>\n   \
        \ <tr>\n      <th>Parameter</th>\n      <th>Type</th>\n      <th>Description</th>\n\
        \    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <td>Data</td>\n      <td><a\
        \ href=\"http://www.benchmarkemail.com/models.htm#ClientDate\" >ClientDate</a></td>\n\
        \      <td>&nbsp;</td>\n    </tr>\n    <tr>\n      <td>Status</td>\n     \
        \ <td>string</td>\n      <td>1 = Successful, -1 Error</td>\n    </tr>\n  "
  /Client/SubAccount/{ID}:
    get:
      tags:
      - Sub-Account
      summary: Get Sub-Account Details
      operationId: get__client_subaccount__id
      parameters:
      - name: ID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Get Sub-Account Details</h4>\n<b>Query string parameters :</b>\n\
        <table>\n  <thead>\n    <tr>\n      <th>Parameter</th>\n      <th>Required</th>\n\
        \      <th>Type</th>\n      <th>Description</th>\n    </tr>\n  </thead>\n\
        \  <tbody>\n    <tr>\n      <td>ID</td>\n      <td>Required</td>\n      <td>string</td>\n\
        \      <td>Client ID</td>\n    </tr>\n  </tbody>\n</table>\n<b>Response Body\
        \ Parameters :</b>\n<table>\n  <thead>\n    <tr>\n      <th>Parameter</th>\n\
        \      <th>Type</th>\n      <th>Description</th>\n    </tr>\n  </thead"
    patch:
      tags:
      - Sub-Account
      summary: Update Sub Account
      operationId: patch__client_subaccount__id
      parameters:
      - name: ID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Update Sub Account</h4>\n<b>Query String Parameter:</b>\n\
        <table>\n  <thead>\n    <tr>\n      <th>Parameter</th>\n      <th>Required</th>\n\
        \      <th>Type</th>\n      <th>Description</th>\n    </tr>\n  </thead>\n\
        \  <tbody>\n    <tr>\n      <td>ID</td>\n      <td>Required</td>\n      <td>string</td>\n\
        \      <td>Sub Account ID</td>\n    </tr>\n  </tbody>\n</table>\n<b>URL parameters\
        \ (to be encoded as JSON in body) :</b>\n<table>\n  <thead>\n    <tr>\n  \
        \    <th>Parameter</th>\n      <th>Required</th>\n      <th>Type</th>\n  "
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /Client/Plan:
    get:
      tags:
      - Sub-Account
      summary: /Plan | Plan Details & Limits, Get Plan Information
      operationId: get__client_plan
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Get Client's Plan Information</h4>\n<b>Response Body Parameters\
        \ :</b>\n<table>\n  <thead>\n    <tr>\n      <th>Parameter</th>\n      <th>Type</th>\n\
        \      <th>Description</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n\
        \      <td>Addon</td>\n      <td><a href=\"http://www.benchmarkemail.com/models.htm#ClientAddonResult\"\
        \ >AddonResult</a></td>\n      <td>&nbsp;</td>\n    </tr>\n    <tr>\n    \
        \  <td>EmailPlan</td>\n      <td><a href=\"http://www.benchmarkemail.com/models.htm#ClientEmailPlanResult\"\
        \ >EmailPlanResult<"
  /Client/ProfileDetails:
    get:
      tags:
      - Sub-Account
      summary: Get Profile Details
      operationId: get__client_profiledetails
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Get Client's Profile Details</h4>\n<b>Response Body Parameters\
        \ :</b>\n<table>\n  <thead>\n    <tr>\n      <th>Parameter</th>\n      <th>Type</th>\n\
        \      <th>Description</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n\
        \      <td>Responce</td>\n      <td><a href=\"http://www.benchmarkemail.com/models.htm#ClientProfileDetails\"\
        \ >ClientProfileDetails</a></td>\n      <td>Array</td>\n    </tr>\n  </tbody>\n\
        </table>"
  /Client/SubAccount/{ID}/Status:
    patch:
      tags:
      - Sub-Account
      summary: Change Sub-Account status
      operationId: patch__client_subaccount__id__status
      parameters:
      - name: ID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Change Sub-Account status</h4>\n<b>Query string parameters\
        \ :</b> None <br>\n\n<b>Request Body parameters:</b>\n<table>\n  <thead>\n\
        \    <tr>\n      <th>Parameter</th>\n      <th>Required</th>\n      <th>Type</th>\n\
        \      <th>Description</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n\
        \      <td>Status</td>\n      <td>Required</td>\n      <td>string</td>\n \
        \     <td>1 to activate, 0 to deactivate</td>\n    </tr>\n  </tbody>\n</table>\n\
        \n<b>Response body parameters :</b>\n<table>\n  <thead>\n    <tr>\n      <th>Parameter<"
  /Client/SubAccount/History/{HistoryID}:
    get:
      tags:
      - Sub-Account
      summary: Get Sub-Account history details
      operationId: get__client_subaccount_history__historyid
      parameters:
      - name: HistoryID
        in: path
        required: true
        schema:
          type: string
      - name: ID
        in: query
        required: false
        schema:
          type: string
      - name: StartDate
        in: query
        required: false
        schema:
          type: string
      - name: EndDate
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Get Sub-Account history details</h4>\n<b>Query string parameters\
        \ :</b>\n<table>\n  <thead>\n    <tr>\n      <th>Parameter</th>\n      <th>Required</th>\n\
        \      <th>Type</th>\n      <th>Description</th>\n    </tr>\n  </thead>\n\
        \  <tbody>\n    <tr>\n      <td>ID</td>\n      <td>Required</td>\n      <td>string</td>\n\
        \      <td>History ID</td>\n    </tr>\n    <tr>\n      <td>StartDate</td>\n\
        \      <td>Required</td>\n      <td>string</td>\n      <td>Billing cycle start\
        \ date</td>\n    </tr>\n    <tr>\n      <td>EndDate</td>\n "
  /Client/SubAccount/{ID}/Balance:
    get:
      tags:
      - Sub-Account
      summary: Get Sub-Account balance
      operationId: get__client_subaccount__id__balance
      parameters:
      - name: ID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Get Sub-Account balance</h4>\n<b>Query string parameters :</b>\n\
        <table>\n  <thead>\n    <tr>\n      <th>Parameter</th>\n      <th>Required</th>\n\
        \      <th>Type</th>\n      <th>Description</th>\n    </tr>\n  </thead>\n\
        \  <tbody>\n    <tr>\n      <td>ID</td>\n      <td>Required</td>\n      <td>string</td>\n\
        \      <td>Sub-Account holder client ID</td>\n    </tr>\n  </tbody>\n</table>\n\
        \n<b>Response body parameters :</b>\n<table>\n  <thead>\n    <tr>\n      <th>Parameter</th>\n\
        \      <th>Type</th>\n      <th>Description</th>"
  /Client/SubAccount/{ID}/Inbox:
    post:
      tags:
      - Sub-Account
      summary: Add/Remove inbox tests from Sub-Account
      operationId: post__client_subaccount__id__inbox
      parameters:
      - name: ID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Add/Remove inbox tests from Sub-Account</h4>\n<b>Request Body\
        \ parameters:</b>\n<table>\n  <thead>\n    <tr>\n      <th>Parameter</th>\n\
        \      <th>Required</th>\n      <th>Type</th>\n      <th>Description</th>\n\
        \    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <td>ID</td>\n      <td>Required</td>\n\
        \      <td>string</td>\n      <td>Sub-Account holder Client ID</td>\n    </tr>\n\
        \    <tr>\n      <td>Tests</td>\n      <td>Required</td>\n      <td>int</td>\n\
        \      <td>&nbsp;</td>\n    </tr>\n  </tbody>\n</table>\n\n<b>Response "
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /Client/SubAccount/{ID}/PlanList:
    get:
      tags:
      - Sub-Account
      summary: Get Sub-Accounts plan list
      operationId: get__client_subaccount__id__planlist
      parameters:
      - name: ID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Get Sub-Accounts plan list</h4>\n<b>Request Body parameters:</b>\n\
        <table>\n  <thead>\n    <tr>\n      <th>Parameter</th>\n      <th>Required</th>\n\
        \      <th>Type</th>\n      <th>Description</th>\n    </tr>\n  </thead>\n\
        \  <tbody>\n    <tr>\n      <td>ID</td>\n      <td>Required</td>\n      <td>string</td>\n\
        \      <td>Sub-Account holder client ID</td>\n    </tr>\n  </tbody>\n</table>\n\
        \n<b>Response body parameters :</b>\n<table>\n  <thead>\n    <tr>\n      <th>Parameter</th>\n\
        \      <th>Type</th>\n      <th>Description</t"
  /Client/Setting:
    get:
      tags:
      - Security
      summary: /Client/Setting | Get Client Account Settings
      operationId: get__client_setting
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Get Client Account Settings</h4>\n<b>Query String Parameters\
        \ :</b> None <br>\n\n<b>Request Body Parameters:</b> None <br>\n\n<b>Response\
        \ Body Parameters :</b>\n<table>\n  <thead>\n    <tr>\n      <th>Parameter</th>\n\
        \      <th>Type</th>\n      <th>Description</th>\n    </tr>\n  </thead>\n\
        \  <tbody>\n    <tr>\n      <td>Company</td>\n      <td><a href=\"http://www.benchmarkemail.com/models.htm#ClientSettingCompanyData\"\
        \ >SettingCompanyData</a></td>\n      <td>Array of error</td>\n    </tr>\n\
        \    <tr>\n      <td>Footer"
    patch:
      tags:
      - Account Settings
      summary: Update Client Accounts Setting
      operationId: patch__client_setting
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Update Client Accounts Setting</h4>\n<b>Query String Parameters\
        \ :</b> None <br>\n\n<b>Request Body Parameters:</b> \n<table>\n  <thead>\n\
        \    <tr>\n      <th>Parameter</th>\n      <th>Type</th>\n      <th>Description</th>\n\
        \    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <td>Company</td>\n    \
        \  <td><a href=\"http://www.benchmarkemail.com/models.htm#ClientSettingCompanyData\"\
        \ >SettingCompanyData</a></td>\n      <td>Setting Company Data</td>\n    </tr>\n\
        \    <tr>\n      <td>Language</td>\n      <td>string</td>\n     "
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /Client/PIN:
    post:
      tags:
      - Security
      summary: 'Change Security PIN '
      operationId: post__client_pin
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Change Security PIN</h4>\n<b>Body Parameters (to be encoded\
        \ as a JSON string)</b>\n<table>\n<thead>\n<tr>\n<th>Key</th>\n<th>Required</th>\n\
        <th>Description</th>\n</tr>\n</thead>\n<tbody>\n<tr>\n<td>ResetPIN</td>\n\
        <td>Required</td>\n<td>New PIN</td>\n</tr>\n<tr>\n<td>ResetConfirmPIN</td>\n\
        <td>Required</td>\n<td>Confirm New PIN</td>\n</tr>\n<tr>\n<td>ResetOldPIN</td>\n\
        <td>Required</td>\n<td>Current PIN</td>\n</tr>\n</tbody>\n</table>\n<b>Response\
        \ Body Parameters :</b>\n<table>\n  <thead>\n    <tr>\n      <th>Parameter</th>\n\
        \ "
      requestBody:
        content:
          application/json:
            schema:
              type: object
    patch:
      tags:
      - Security
      summary: Save Security PIN
      operationId: patch__client_pin
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Save Security PIN</h4>\n<b>Body Parameters (to be encoded\
        \ as a JSON string)</b>\n<table>\n<thead>\n<tr>\n<th>Key</th>\n<th>Required</th>\n\
        <th>Description</th>\n</tr>\n</thead>\n<tbody>\n<tr>\n<td>NewPIN</td>\n<td>Required</td>\n\
        <td>New PIN</td>\n</tr>\n<tr>\n<td>ConfirmNewPIN</td>\n<td>Required</td>\n\
        <td>Confirm New PIN</td>\n</tr>\n</tbody>\n</table>\n<b>Response Body Parameters\
        \ :</b>\n<table>\n  <thead>\n    <tr>\n      <th>Parameter</th>\n      <th>Type</th>\n\
        \      <th>Description</th>\n    </tr>\n  </thead>\n  <tbody>\n"
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /Client/PIN/Disable:
    post:
      tags:
      - Security
      summary: Disable Security PIN
      operationId: post__client_pin_disable
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Disable Security PIN</h4>\n<b>Body Parameters (to be encoded\
        \ as a JSON string)</b>\n<table>\n<thead>\n<tr>\n<th>Key</th>\n<th>Required</th>\n\
        <th>Description</th>\n</tr>\n</thead>\n<tbody>\n<tr>\n<td>DisableOldPIN</td>\n\
        <td>Required</td>\n<td>Old PIN</td>\n</tr>\n</tbody>\n</table>\n<b>Response\
        \ Body Parameters :</b>\n<table>\n  <thead>\n    <tr>\n      <th>Parameter</th>\n\
        \      <th>Type</th>\n      <th>Description</th>\n    </tr>\n  </thead>\n\
        \  <tbody>\n    <tr>\n      <td>retVal</td>\n      <td>string</td>\n     \
        \ <td>retu"
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /Client/PIN/Email:
    post:
      tags:
      - Security
      summary: Send PIN via email incase you forgot
      operationId: post__client_pin_email
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Send PIN via email incase you forgot</h4>\n<b>Response Body\
        \ Parameters :</b>\n<table>\n  <thead>\n    <tr>\n      <th>Parameter</th>\n\
        \      <th>Type</th>\n      <th>Description</th>\n    </tr>\n  </thead>\n\
        \  <tbody>\n    <tr>\n      <td>retVal</td>\n      <td>string</td>\n     \
        \ <td>return Value</td>\n    </tr>\n    <tr>\n      <td>Error</td>\n     \
        \ <td><a href=\"http://www.benchmarkemail.com/models.htm#ErrorData\" >ErrorData</a></td>\n\
        \      <td>Array of error</td>\n    </tr>\n    <tr>\n      <td>Status</td>\n\
        \      <"
  /Client/LinkAccount/:
    post:
      tags:
      - Agency Account
      summary: Link Account
      operationId: post__client_linkaccount
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Link Account</h4>\n<b>Query string parameters :</b> None <br>\n\
        \n<b>Request Body parameters:</b>\n<table>\n  <thead>\n    <tr>\n      <th>Parameter</th>\n\
        \      <th>Required</th>\n      <th>Type</th>\n      <th>Description</th>\n\
        \    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <td>Login</td>\n      <td>Required</td>\n\
        \      <td>string</td>\n      <td>Login ID</td>\n    </tr>\n    <tr>\n   \
        \   <td>Password</td>\n      <td>Required</td>\n      <td>string</td>\n  \
        \    <td>From Email  Address</td>\n    </tr>\n    <tr>\n     "
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /Client/LinkAccount:
    get:
      tags:
      - Agency Account
      summary: Get list of link accounts
      operationId: get__client_linkaccount
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Get list of link accounts</h4>\n<b>Query string parameters\
        \ :</b> None <br>\n\n<b>Request Body parameters:</b> None <br>\n\n<b>Response\
        \ body parameters :</b>\n<table>\n  <thead>\n    <tr>\n      <th>Parameter</th>\n\
        \      <th>Type</th>\n      <th>Description</th>\n    </tr>\n  </thead>\n\
        \  <tbody>\n    <tr>\n      <td>Count</td>\n      <td>string</td>\n      <td>Number\
        \ of link accounts </td>\n    </tr>\n    <tr>\n      <td>Data</td>\n     \
        \ <td><a href=\"http://www.benchmarkemail.com/models.htm#ClientLinkAccountDetail"
  /Client/LinkAccount/{ID}:
    delete:
      tags:
      - Agency Account
      summary: Delete Link Account
      operationId: delete__client_linkaccount__id
      parameters:
      - name: ID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Delete Link Account</h4>\n<b>Query string parameters :</b>\
        \ None\n\n<b>Request Body parameters:</b>\n<table>\n  <thead>\n    <tr>\n\
        \      <th>Parameter</th>\n      <th>Required</th>\n      <th>Type</th>\n\
        \      <th>Description</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n\
        \      <td>ID</td>\n      <td>Required</td>\n      <td>string</td>\n     \
        \ <td>Link Account ID</td>\n    </tr>\n  </tbody>\n</table>\n\n<b>Response\
        \ body parameters :</b>\n<table>\n  <thead>\n    <tr>\n      <th>Parameter</th>\n\
        \      <th>Type</th>\n     "
    patch:
      tags:
      - Agency Account
      summary: Update Link Account
      operationId: patch__client_linkaccount__id
      parameters:
      - name: ID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Update Link Account</h4>\n<b>Query string parameters :</b>\
        \ None <br>\n\n<b>Request Body parameters:</b>\n<table>\n  <thead>\n    <tr>\n\
        \      <th>Parameter</th>\n      <th>Required</th>\n      <th>Type</th>\n\
        \      <th>Description</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n\
        \      <td>ID</td>\n      <td>Required</td>\n      <td>string</td>\n     \
        \ <td>Link Account ID</td>\n    </tr>\n    <tr>\n      <td>Login</td>\n  \
        \    <td>Required</td>\n      <td>string</td>\n      <td>Login ID</td>\n \
        \   </tr>\n    <tr>\n      <t"
    get:
      tags:
      - Agency Account
      summary: Get Link Account Details
      operationId: get__client_linkaccount__id
      parameters:
      - name: ID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Get Link Account Details</h4>\n<b>Query string parameters\
        \ :</b> None\n\n<b>Request Body parameters:</b>\n<table>\n  <thead>\n    <tr>\n\
        \      <th>Parameter</th>\n      <th>Required</th>\n      <th>Type</th>\n\
        \      <th>Description</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n\
        \      <td>ID</td>\n      <td>Required</td>\n      <td>string</td>\n     \
        \ <td>Link Account ID</td>\n    </tr>\n  </tbody>\n</table>\n\n<b>Response\
        \ body parameters :</b>\n<table>\n  <thead>\n    <tr>\n      <th>Parameter</th>\n\
        \      <th>Type</th>\n"
  /Client/Password:
    patch:
      tags:
      - Account Settings
      summary: Change Password
      operationId: patch__client_password
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Change Password</h4>\n<b>Body Parameters (to be encoded as\
        \ a JSON string)</b>\n<table>\n<thead>\n<tr>\n<th>Key</th>\n<th>Required</th>\n\
        <th>Description</th>\n</tr>\n</thead>\n<tbody>\n<tr>\n<td>NewPassword</td>\n\
        <td>Required</td>\n<td>New Password</td>\n</tr>\n<tr>\n<td>ConfirmPassword</td>\n\
        <td>Required</td>\n<td>Confirm Password</td>\n</tr>\n</tbody>\n</table>\n\
        <b>Response Body Parameters :</b>\n<table>\n  <thead>\n    <tr>\n      <th>Parameter</th>\n\
        \      <th>Type</th>\n      <th>Description</th>\n    </tr>\n  </thead>"
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /Client/Email/ResetLink:
    patch:
      tags:
      - Account Settings
      summary: Send Reset Email
      operationId: patch__client_email_resetlink
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Send Reset Email to change primary email</h4>\n<b>Response\
        \ Body Parameters :</b>\n<table>\n  <thead>\n    <tr>\n      <th>Parameter</th>\n\
        \      <th>Type</th>\n      <th>Description</th>\n    </tr>\n  </thead>\n\
        \  <tbody>\n    <tr>\n      <td>retVal</td>\n      <td>string</td>\n     \
        \ <td>return Value</td>\n    </tr>\n    <tr>\n      <td>Error</td>\n     \
        \ <td><a href=\"http://www.benchmarkemail.com/models.htm#ErrorData\" >ErrorData</a></td>\n\
        \      <td>Array of error</td>\n    </tr>\n    <tr>\n      <td>Status</td>\n\
        \   "
  /Client/ConfirmedEmail/All:
    get:
      tags:
      - Account Settings
      summary: Get All Confirmed Email
      operationId: get__client_confirmedemail_all
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Get All Confirmed Email</h4>\n<b>Query string parameters :</b>\
        \ None <br>\n\n<b>Request Body parameters:</b> None <br>\n\n<b>Response body\
        \ parameters :</b>\n<table>\n  <thead>\n    <tr>\n      <th>Parameter</th>\n\
        \      <th>Type</th>\n      <th>Description</th>\n    </tr>\n  </thead>\n\
        \  <tbody>\n    <tr>\n      <td>Count</td>\n      <td>string</td>\n      <td>Total\
        \ Confirmed Emails</td>\n    </tr>\n    <tr>\n      <td>Data</td>\n      <td><a\
        \ href=\"http://www.benchmarkemail.com/models.htm#ClientConfirmEmailAllData\"\
        \ "
  /Client/ConfirmedEmail/Email:
    post:
      tags:
      - Account Settings
      summary: Send Confirm Email Verification Email
      operationId: post__client_confirmedemail_email
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Send Confirm Email Verification Email</h4>\n<b>Query string\
        \ parameters :</b> None <br>\n\n<b>Request Body parameters:</b> \n<table>\n\
        \  <thead>\n    <tr>\n      <th>Parameter</th>\n      <th>Required</th>\n\
        \      <th>Type</th>\n      <th>Description</th>\n    </tr>\n  </thead>\n\
        \  <tbody>\n    <tr>\n      <td>EmailIDs</td>\n      <td>Required</td>\n \
        \     <td>string</td>\n      <td>Email Address</td>\n    </tr>\n  </tbody>\n\
        </table>\n<b>Response body parameters :</b>\n<table>\n  <thead>\n    <tr>\n\
        \      <th>Parameter</th"
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /Client/ConfirmedEmail:
    get:
      tags:
      - Account Settings
      summary: Get List of Confirmed Emails
      operationId: get__client_confirmedemail
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Get List of Confirmed Emails</h4>\n<b>Query String Parameters\
        \ :</b> None <br>\n\n<b>Request Body Parameters:</b> None <br>\n\n<b>Response\
        \ Body Parameters :</b>\n<table>\n  <thead>\n    <tr>\n      <th>Parameter</th>\n\
        \      <th>Type</th>\n      <th>Description</th>\n    </tr>\n  </thead>\n\
        \  <tbody>\n    <tr>\n      <td>Emails</td>\n      <td>string</td>\n     \
        \ <td>List of Emails</td>\n    </tr>\n    <tr>\n      <td>Error</td>\n   \
        \   <td><a href=\"http://www.benchmarkemail.com/models.htm#ErrorData\" >ErrorData</a></t"
  /Client/Email/Reset:
    get:
      tags:
      - Account Settings
      summary: Get Current email at the time of Reset Email
      operationId: get__client_email_reset
      parameters:
      - name: GUID
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: '<h4>Get Current email at the time of Reset Email </h4>

        <b>Query String Parameter : </b>

        <table>

        <thead>

        <tr>

        <th>Key</th>

        <th>Required</th>

        <th>Description</th>

        </tr>

        </thead>

        <tbody>

        <tr>

        <td>GUID</td>

        <td>optional</td>

        <td>Unique ID</td>

        </tr>

        </tbody>

        </table>

        <b>Response body parameters</b>

        <table>

        <thead>

        <tr>

        <th>Key</th><th>Type</th><th>Description</th></tr>

        </thead>

        <tbody>

        <tr><td>Email</td><td>String</td><td>Email Address</td></tr>

        <tr><td>Status</td><td>String</td><td>1 if success, -1'
    patch:
      tags:
      - Account Settings
      summary: 'Update/Reset Email '
      operationId: patch__client_email_reset
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Reset primary email </h4>\r\n<b>URL Parameters (To be encoded\
        \ as JSON parameter)</b>\r\n<table>\r\n<thead>\r\n<tr>\r\n<th>Key</th>\r\n\
        <th>Required</th>\r\n<th>Description</th>\r\n</tr>\r\n</thead>\r\n<tbody>\r\
        \n<tr>\r\n<td>GUID</td>\r\n<td>Required</td>\r\n<td>The ID which is available\
        \ on the email link send for reset the email</a>\r\n</tr>\r\n<tr>\r\n<td>NewEmail</td>\r\
        \n<td>Required</td>\r\n<td>New Email</a>\r\n</tr>\r\n<tr>\r\n<td>ConfirmEmail</td>\r\
        \n<td>Required</td>\r\n<td>Confirm Email</a>\r\n</tr>\r\n</tbody>\r\n</table>\r\
        \n<b>Response bo"
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /Client/:
    patch:
      tags:
      - Account Settings
      summary: Update/Edit Profile
      operationId: patch__client
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Update/Edit Profile like first name,phone no etc </h4>\r\n\
        <b>URL Parameters (To be encoded as JSON parameter)</b>\r\n<table>\r\n<thead>\r\
        \n<tr>\r\n<th>Key</th>\r\n<th>Required</th>\r\n<th>Description</th>\r\n</tr>\r\
        \n</thead>\r\n<tbody>\r\n<tr>\r\n<td>FirstName</td>\r\n<td>Required</td>\r\
        \n<td>First Name</a>\r\n</tr>\r\n<tr>\r\n<td>LastName</td>\r\n<td>Required</td>\r\
        \n<td>Last Name</a>\r\n</tr>\r\n<tr>\r\n<td>PhoneNo</td>\r\n<td>Required</td>\r\
        \n<td>Phone Number</a>\r\n</tr>\r\n</tbody>\r\n</table>\r\n<b>Response body\
        \ parameters</b>\r\n<table>\r\n<t"
      requestBody:
        content:
          application/json:
            schema:
              type: object
    get:
      tags:
      - Account Settings
      summary: Get Client Details
      operationId: get__client
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Get Client Details</h4>\n<b>Query String Parameters :</b>\
        \ None <br>\n\n<b>Request Body Parameters:</b> None <br>\n\n<b>Response Body\
        \ Parameters :</b>\n<table>\n  <thead>\n    <tr>\n      <th>Parameter</th>\n\
        \      <th>Type</th>\n      <th>Description</th>\n    </tr>\n  </thead>\n\
        \  <tbody>\n    <tr>\n      <td>Response</td>\n      <td><a href=\"http://www.benchmarkemail.com/models.htm#ClientProfileData\"\
        \ >ProfileData</a></td>\n      <td>Client Profile data</td>\n    </tr>\n \
        \ </tbody>\n</table>"
  /Client/Token/{Type}:
    get:
      tags:
      - Account Settings
      summary: Get Token
      operationId: get__client_token__type
      parameters:
      - name: Type
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Get Token</h4>\n<b>Query String Parameters :</b> None <br>\n\
        \n<b>Request Body Parameters:</b> None <br>\n\n<b>Response Body Parameters\
        \ :</b>\n<table>\n  <thead>\n    <tr>\n      <th>Parameter</th>\n      <th>Type</th>\n\
        \      <th>Description</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n\
        \      <td>AuthURL</td>\n      <td>string</td>\n      <td>Auth URL</td>\n\
        \    </tr>\n    <tr>\n      <td>Name</td>\n      <td>string</td>\n      <td>Client\
        \ Name</td>\n    </tr>\n    <tr>\n      <td>Secret</td>\n      <td>string</td>\n\
        \ "
  /Client/Token:
    post:
      tags:
      - Account Settings
      summary: Generate Token
      operationId: post__client_token
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Generate Token</h4>\n<b>Query String Parameters :</b> None\
        \ <br>\n\n<b>Request Body Parameters:</b> None <br>\n\n<b>Response Body Parameters\
        \ :</b>\n<table>\n  <thead>\n    <tr>\n      <th>Parameter</th>\n      <th>Type</th>\n\
        \      <th>Description</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n\
        \      <td>retVal</td>\n      <td>string</td>\n      <td>Token</td>\n    </tr>\n\
        \  </tbody>\n</table>"
  /Client/Token/{Type}/Detail:
    get:
      tags:
      - Account Settings
      summary: Get Token Details
      operationId: get__client_token__type__detail
      parameters:
      - name: Type
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: <h4>Get Token Details</h4>
  /Client/FilterDomain:
    get:
      tags:
      - Account Settings
      summary: Get Client Filter Domain
      operationId: get__client_filterdomain
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Get Client Filter Domain</h4>\n<b>Query String Parameters\
        \ :</b> None <br>\n\n<b>Request Body Parameters:</b> None <br>\n\n<b>Response\
        \ Body Parameters :</b>\n<table>\n  <thead>\n    <tr>\n      <th>Parameter</th>\n\
        \      <th>Type</th>\n      <th>Description</th>\n    </tr>\n  </thead>\n\
        \  <tbody>\n    <tr>\n      <td>Count</td>\n      <td>string</td>\n      <td>Number\
        \ of Domains</td>\n    </tr>\n    <tr>\n      <td>Data</td>\n      <td><a\
        \ href=\"http://www.benchmarkemail.com/models.htm#ClientFilterDomain\" >ClientFilt"
  /Client/InitSurvey:
    post:
      tags:
      - Account Settings
      summary: Save Website Domain
      operationId: post__client_initsurvey
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: '<h4>Provide your domain name to link it to your account</h4>

        <b>Response Body Parameters : </b>

        <table>

        <thead>

        <tr>

        <th>Parameter</th>

        <th>Required</th>

        <th>Type</th>

        <th>Description</th>

        </tr>

        </thead>

        <tbody>

        <tr>

        <td>CompanyWebsite</td>

        <td>Required</td>

        <td>String</td>

        <td>Company Website like BobsVacations.com</td>

        </tr>

        </tbody>

        </table>'
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /Client/ConfirmedEmail/{Email}:
    get:
      tags:
      - Account Settings
      summary: Resend Confirm Email
      operationId: get__client_confirmedemail__email
      parameters:
      - name: Email
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Resend Confirm Email</h4>\n<b>Query string parameters :</b>\
        \ None <br>\n\n<b>Request Body parameters:</b> \n<table>\n  <thead>\n    <tr>\n\
        \      <th>Parameter</th>\n      <th>Required</th>\n      <th>Type</th>\n\
        \      <th>Description</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n\
        \      <td>Email</td>\n      <td>Required</td>\n      <td>string</td>\n  \
        \    <td>Email ID</td>\n    </tr>\n  </tbody>\n</table>\n<b>Response body\
        \ parameters :</b>\n<table>\n  <thead>\n    <tr>\n      <th>Parameter</th>\n\
        \      <th>Type</th>\n   "
  /Client/Notification:
    get:
      tags:
      - General
      summary: Get Notification
      operationId: get__client_notification
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Get Notification</h4>\n<b>Response body parameters :</b>\n\
        <table>\n  <thead>\n    <tr>\n      <th>Parameter</th>\n      <th>Type</th>\n\
        \      <th>Description</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n\
        \      <td>Data</td>\n      <td><a href=\"http://www.benchmarkemail.com/models.htm#ClientNotificationData\"\
        \ >NotificationData</a></td>\n      <td>Array</td>\n    </tr>\n    <tr>\n\
        \      <td>Errors</td>\n      <td><a href=\"http://www.benchmarkemail.com/models.htm#ErrorData\"\
        \ >ErrorData</a></td>\n      <td>Array</"
  /Client/Responsive:
    get:
      tags:
      - General
      summary: Check if Responsive
      operationId: get__client_responsive
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Check if Responsive </h4>\n<b>Response body parameters :</b>\n\
        <table>\n  <thead>\n    <tr>\n      <th>Parameter</th>\n      <th>Type</th>\n\
        \      <th>Description</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n\
        \      <td>IsResponsive</td>\n      <td>String</td>\n      <td>0=Not,1 =Responsive\
        \ </td>\n    </tr>\n    <tr>\n      <td>Errors</td>\n      <td><a href=\"\
        http://www.benchmarkemail.com/models.htm#ErrorData\" >ErrorData</a></td>\n\
        \      <td>Array</td>\n    </tr>\n    <tr>\n      <td>Status</td>\n      <td>string<"
    patch:
      tags:
      - General
      summary: Set Responsive
      operationId: patch__client_responsive
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Set Responsive</h4>\n<b>Body Parameters (to be encoded as\
        \ a JSON string)</b>\n<table>\n<thead>\n<tr>\n<th>Key</th>\n<th>Required</th>\n\
        <th>Description</th>\n</tr>\n</thead>\n<tbody>\n<tr>\n<td>IsResponsive</td>\n\
        <td>Required</td>\n<td>Is Responsive=1,Not = 0 </td>\n</tr>\n</tbody>\n</table>\n\
        <b>Response body parameters :</b>\n<table>\n  <thead>\n    <tr>\n      <th>Parameter</th>\n\
        \      <th>Type</th>\n      <th>Description</th>\n    </tr>\n  </thead>\n\
        \  <tbody>\n    <tr>\n      <td>IsResponsive</td>\n      <td>String</td"
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /Client/RatingRange:
    get:
      tags:
      - General
      summary: Get Clients Rating Range
      operationId: get__client_ratingrange
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Get Clients Rating Range</h4>\n<table>\n  <thead>\n    <tr>\n\
        \      <th>Parameter</th>\n      <th>Type</th>\n      <th>Description</th>\n\
        \    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <td>MinRating</td>\n  \
        \    <td>String</td>\n      <td>Min Rating </td>\n    </tr>\n    <tr>\n  \
        \    <td>MaxRating</td>\n      <td>string</td>\n      <td>Max Rating</td>\n\
        \    </tr>\n  </tbody>\n</table>"
  /Client/Archive/Domain:
    get:
      tags:
      - General
      summary: Get Archive Domain Name
      operationId: get__client_archive_domain
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Get Archive Domain Name</h4>\n<b>Query String Parameters :</b>\
        \ None <br>\n\n<b>Request Body Parameters:</b> None <br>\n\n<b>Response Body\
        \ Parameters :</b>\n<table>\n  <thead>\n    <tr>\n      <th>Parameter</th>\n\
        \      <th>Type</th>\n      <th>Description</th>\n    </tr>\n  </thead>\n\
        \  <tbody>\n    <tr>\n      <td>DomainName</td>\n      <td>string</td>\n \
        \     <td>Domain Name</td>\n    </tr>\n  </tbody>\n</table>"
  /Client/Community/Domain:
    get:
      tags:
      - General
      summary: Get Community Domain
      operationId: get__client_community_domain
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Get Community Domain</h4>\n<b>Query String Parameters :</b>\
        \ None <br>\n\n<b>Request Body Parameters:</b> None <br>\n\n<b>Response Body\
        \ Parameters :</b>\n<table>\n  <thead>\n    <tr>\n      <th>Parameter</th>\n\
        \      <th>Type</th>\n      <th>Description</th>\n    </tr>\n  </thead>\n\
        \  <tbody>\n    <tr>\n      <td>DomainName</td>\n      <td>string</td>\n \
        \     <td>Domain Name</td>\n    </tr>\n  </tbody>\n</table>"
  /Client/DMarc:
    get:
      tags:
      - General
      summary: Get DMARC List
      operationId: get__client_dmarc
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Get DMarc List</h4>\n<b>Query String Parameters :</b> None\
        \ <br>\n\n<b>Request Body Parameters:</b> None <br>\n\n<b>Response Body Parameters\
        \ :</b>\n<table>\n  <thead>\n    <tr>\n      <th>Parameter</th>\n      <th>Type</th>\n\
        \      <th>Description</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n\
        \      <td>Data</td>\n      <td><a href=\"http://www.benchmarkemail.com/models.htm#ClientGenericList\"\
        \ >GenericList</a></td>\n      <td>Generic List</td>\n    </tr>\n  </tbody>\n\
        </table>"
  /Client/ListUploadTerms:
    get:
      tags:
      - General
      summary: Get List Upload Terms
      operationId: get__client_listuploadterms
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Get List Upload Terms</h4>\n<b>Response Body Parameters :</b>\n\
        <table>\n  <thead>\n    <tr>\n      <th>Parameter</th>\n      <th>Type</th>\n\
        \      <th>Description</th>\n    </tr>\n  </thead>\n  <tbody>\n  <tr>\n  \
        \    <td>Status</td>\n      <td>String</td>\n      <td>1=successfull,-1 not\
        \ success</td>\n    </tr>\n    <tr>\n      <td>Error</td>\n      <td><a href=\"\
        http://www.benchmarkemail.com/models.htm#ErrorData\">ErrorData</a></td>\n\
        \      <td>Array of error</td>\n    </tr>\n    <tr>\n      <td>Data</td>\n\
        \      <td><"
  /Contact/:
    post:
      tags:
      - List Configurations & Searches
      summary: / | Create new List, Create List
      operationId: post__contact
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Create List</h4>\r\n\r\n<h4>Body Parameters (To be passed\
        \ as a JSON string)</h4>\r\n<table>\r\n<thead>\r\n<tr>\r\n<th>Key</th><th>Required</th><th>Type</th><th>Description</th></tr>\r\
        \n</thead>\r\n<tbody>\r\n<tr><td>Data</td><td>required</td><td><a href=\"\
        http://www.benchmarkemail.com/models.htm#ContactMasterRecord\">ContactMasterRecord</a></td><td>List\
        \ Details</td></tr>\r\n</tbody>\r\n</table>\r\n\r\n<h4>Response body parameters</h4>\r\
        \n<table>\r\n<thead>\r\n<tr>\r\n<th>Key</th><th>Type</th><th>Description</th></tr>\r\
        \n</thead>"
      requestBody:
        content:
          application/json:
            schema:
              type: object
    get:
      tags:
      - List Configurations & Searches
      summary: /  | All lists or filter for a list, Get a list of contacts
      operationId: get__contact
      parameters:
      - name: Status
        in: query
        required: false
        schema:
          type: string
      - name: PageNumber
        in: query
        required: false
        schema:
          type: string
      - name: PageSize
        in: query
        required: false
        schema:
          type: string
      - name: SearchFilter
        in: query
        required: false
        schema:
          type: string
      - name: OrderBy
        in: query
        required: false
        schema:
          type: string
      - name: SortOrder
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Get a list of contacts</h4>\r\n\r\n<h4>Query String parameters</h4>\r\
        \n<table>\r\n<thead>\r\n<tr>\r\n<th>Key</th><th>Required</th><th>Type</th><th>Description</th></tr>\r\
        \n</thead>\r\n<tbody>\r\n<tr><td>PageNumber</td><td>optional</td><td>int</td><td>Page\
        \ number</td></tr>\r\n<tr><td>PageSize</td><td>optional</td><td>int</td><td>Number\
        \ of records to show per page</td></tr>\r\n<tr><td>OrderBy</td><td>optional</td><td>string</td><td>Field\
        \ to order by, <code>email</code>, <code>date</code>, <code>count</code>,\
        \ <code>"
  /Contact/{ListID}:
    get:
      tags:
      - List Configurations & Searches
      summary: /{{ListID}} | Deep View, Get contact lists detail
      operationId: get__contact__listid
      parameters:
      - name: ListID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Get contact lists detail</h4>\r\n<h4>URL Parameters</h4>\r\
        \n<table>\r\n<thead>\r\n<tr>\r\n<th>Key</th><th>Required</th><th>Type</th><th>Description</th></tr>\r\
        \n</thead>\r\n<tbody>\r\n<tr><td>{{ListIDs}}</td><td>required</td><td>string</td><td>IDs\
        \ of the lists</td></tr>\r\n</tbody>\r\n</table>\r\n\r\n<h4>Response body\
        \ parameters</h4>\r\n<table>\r\n<thead>\r\n<tr>\r\n<th>Key</th><th>Type</th><th>Description</th></tr>\r\
        \n</thead>\r\n<tbody>\r\n<tr><td>Status</td><td>string</td><td>1 if successful,\
        \ -1 if error</td></tr>\r\n<tr><td>Da"
    delete:
      tags:
      - List Configurations & Searches
      summary: /{{ListID}} || Delete list
      operationId: delete__contact__listid
      parameters:
      - name: ListID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Delete Single List</h4>\r\n<h4>URL Parameters</h4>\r\n<table>\r\
        \n<thead>\r\n<tr>\r\n<th>Key</th><th>Required</th><th>Type</th><th>Description</th></tr>\r\
        \n</thead>\r\n<tbody>\r\n<tr><td>{{ListID}}</td><td>required</td><td>string</td><td>ID\
        \ of the list</td></tr>\r\n</tbody>\r\n</table>\r\n\r\n<h4>Response body parameters</h4>\r\
        \n<table>\r\n<thead>\r\n<tr>\r\n<th>Key</th><th>Type</th><th>Description</th></tr>\r\
        \n</thead>\r\n<tbody>\r\n<tr><td>Status</td><td>string</td><td>1 if successful,\
        \ -1 if error</td></tr>\r\n<tr><td>Error</td><"
    patch:
      tags:
      - General
      summary: Modify Contact List
      operationId: patch__contact__listid
      parameters:
      - name: ListID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "Modifies an existing contact list\r\n<h4>URL Parameters</h4>\r\
        \n<table>\r\n<thead>\r\n<tr>\r\n<th>Key</th>\r\n<th>Required</th>\r\n<th>Description</th>\r\
        \n</tr>\r\n</thead>\r\n<tbody>\r\n<tr>\r\n<td>{{ListID}}</td>\r\n<td>required</td>\r\
        \n<td>ID of the contact list</td>\r\n</tr>\r\n</tbody>\r\n</table><br />\r\
        \n<h4>Body Parameters (To be passed as a JSON string)</h4>\r\n<table>\r\n\
        \  <thead>\r\n    <tr><th>Key</th><th>Required</th><th>Description</th></tr>\r\
        \n  </thead>\r\n  <tbody>\r\n    <tr><td>Name</td><td>optional</td><td>List\
        \ Name</td></"
  /Contact/{ListID}/Fields:
    get:
      tags:
      - List Configurations & Searches
      summary: /{{ListID}}/Fields | Field Names, Get contact lists attributes
      operationId: get__contact__listid__fields
      parameters:
      - name: ListID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Get contact lists attributes</h4>\r\n<h4>URL Parameters</h4>\r\
        \n<table>\r\n<thead>\r\n<tr>\r\n<th>Key</th><th>Required</th><th>Type</th><th>Description</th></tr>\r\
        \n</thead>\r\n<tbody>\r\n<tr><td>{{ListIDs}}</td><td>required</td><td>string</td><td>IDs\
        \ of the lists</td></tr>\r\n</tbody>\r\n</table>\r\n\r\n<h4>Response body\
        \ parameters</h4>\r\n<table>\r\n<thead>\r\n<tr>\r\n<th>Key</th><th>Type</th><th>Description</th></tr>\r\
        \n</thead>\r\n<tbody>\r\n<tr><td>Status</td><td>string</td><td>1 if successful,\
        \ -1 if error</td></tr>\r\n<tr><t"
  /Contact/{ListIDs}/All:
    get:
      tags:
      - List Configurations & Searches
      summary: /{{ListID}}/All || Deep View of a list, fields and types, Get contact
        lists
      operationId: get__contact__listids__all
      parameters:
      - name: ListIDs
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Get contact lists</h4>\r\n<h4>URL Parameters</h4>\r\n<table>\r\
        \n<thead>\r\n<tr>\r\n<th>Key</th><th>Required</th><th>Type</th><th>Description</th></tr>\r\
        \n</thead>\r\n<tbody>\r\n<tr><td>{{ListIDs}}</td><td>required</td><td>string</td><td>IDs\
        \ of the lists</td></tr>\r\n</tbody>\r\n</table>\r\n\r\n<h4>Response body\
        \ parameters</h4>\r\n<table>\r\n<thead>\r\n<tr>\r\n<th>Key</th><th>Type</th><th>Description</th></tr>\r\
        \n</thead>\r\n<tbody>\r\n<tr><td>Status</td><td>string</td><td>1 if successful,\
        \ -1 if error</td></tr>\r\n<tr><td>Data</td>"
  /Contact/DeleteListCheck/{ListIDs}:
    get:
      tags:
      - List Configurations & Searches
      summary: Delete List Check
      operationId: get__contact_deletelistcheck__listids
      parameters:
      - name: ListIDs
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Get a list of contacts</h4>\r\n<h4>URL Parameters</h4>\r\n\
        <table>\r\n<thead>\r\n<tr>\r\n<th>Key</th><th>Required</th><th>Type</th><th>Description</th></tr>\r\
        \n</thead>\r\n<tbody>\r\n<tr><td>{{ListIDs}}</td><td>required</td><td>string</td><td>IDs\
        \ of the lists</td></tr>\r\n</tbody>\r\n</table>\r\n\r\n<h4>Response body\
        \ parameters</h4>\r\n<table>\r\n<thead>\r\n<tr>\r\n<th>Key</th><th>Type</th><th>Description</th></tr>\r\
        \n</thead>\r\n<tbody>\r\n<tr><td>Status</td><td>string</td><td>1 if successful,\
        \ -1 if error</td></tr>\r\n<tr><td>Erro"
  /Contact/{ListID}/ContactDetails:
    get:
      tags:
      - Contact Configurations & Searches
      summary: /{{ListID}}/ContactDetails? | Search a List, Get Filtered Contacts
      operationId: get__contact__listid__contactdetails
      parameters:
      - name: ListID
        in: path
        required: true
        schema:
          type: string
      - name: SearchType
        in: query
        required: false
        schema:
          type: string
      - name: SearchField
        in: query
        required: false
        schema:
          type: string
      - name: SearchFilter
        in: query
        required: false
        schema:
          type: string
      - name: PageNumber
        in: query
        required: false
        schema:
          type: string
      - name: PageSize
        in: query
        required: false
        schema:
          type: string
      - name: OrderBy
        in: query
        required: false
        schema:
          type: string
      - name: SortOrder
        in: query
        required: false
        schema:
          type: string
      - name: Filter
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Get Filtered Contacts</h4>\r\n<h4>URL Parameters</h4>\r\n\
        <table>\r\n<thead>\r\n<tr>\r\n<th>Key</th><th>Required</th><th>Type</th><th>Description</th></tr>\r\
        \n</thead>\r\n<tbody>\r\n<tr><td>{{ListID}}</td><td>required</td><td>string</td><td>ID\
        \ of the list</td></tr>\r\n</tbody>\r\n</table>\r\n\r\n<h4>Query String parameters</h4>\r\
        \n<table>\r\n<thead>\r\n<tr>\r\n<th>Key</th><th>Required</th><th>Type</th><th>Description</th></tr>\r\
        \n</thead>\r\n<tbody>\r\n<tr><td>SearchFilter</td><td>optional</td><td>string\
        \ </td><td>Search value</td"
    post:
      tags:
      - Add Contacts
      summary: /Contact/{{ListID}}/ContactDetails  || Add Contact
      operationId: post__contact__listid__contactdetails
      parameters:
      - name: ListID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Add Contact</h4>\r\n<h4>URL Parameters</h4>\r\n<table>\r\n\
        <thead>\r\n<tr>\r\n<th>Key</th><th>Required</th><th>Type</th><th>Description</th></tr>\r\
        \n</thead>\r\n<tbody>\r\n<tr><td>{{ListID}}</td><td>required</td><td>string</td><td>ID\
        \ of the list</td></tr>\r\n</tbody>\r\n</table>\r\n\r\n<h4>Body Parameters\
        \ (To be passed as a JSON string)</h4>\r\n<table>\r\n<thead>\r\n<tr>\r\n<th>Key</th><th>Required</th><th>Type</th><th>Description</th></tr>\r\
        \n</thead>\r\n<tbody>\r\n<tr><td>Data</td><td>required</td><td><a href=\"\
        http://www.benchm"
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /Contact/ContactDetails:
    get:
      tags:
      - Contact Configurations & Searches
      summary: /ContactDetails | Search by email and show lists it belongs to and
        status, Search Contacts
      operationId: get__contact_contactdetails
      parameters:
      - name: Search
        in: query
        required: false
        schema:
          type: string
      - name: SearchFilter
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Search Contacts</h4>\r\n<h4>Query String parameters</h4>\r\
        \n<table>\r\n<thead>\r\n<tr>\r\n<th>Key</th><th>Required</th><th>Type</th><th>Description</th></tr>\r\
        \n</thead>\r\n<tbody>\r\n<tr><td>SearchFilter</td><td>optional</td><td>string\
        \ </td><td>Search Filter</td></tr>\r\n<tr><td>Search</td><td>required</td><td>string\
        \ </td><td>Email Address you want to search</td></tr>\r\n</tbody>\r\n</table>\r\
        \n\r\n<h4>Response body parameters</h4>\r\n<table>\r\n<thead>\r\n<tr>\r\n\
        <th>Key</th><th>Type</th><th>Description</th></tr>\r\n</thead>"
    delete:
      tags:
      - General
      summary: Delete the selected contacts from current lists
      operationId: delete__contact_contactdetails
      parameters:
      - name: Search
        in: query
        required: false
        schema:
          type: string
      - name: Filter
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Delete the selected contacts from current lists </h4>\r\n\
        <h4>Request body  parameters</h4>\r\n<table>\r\n<thead>\r\n<tr>\r\n<th>Key</th><th>Required</th><th>Type</th><th>Description</th></tr>\r\
        \n</thead>\r\n<tbody>\r\n<tr><td>Search</td><td>optional</td><td>string</td><td>Search\
        \ value like email address</td></tr>\r\n<tr><td>Filter</td><td>optional</td><td>string</td><td>Filter\
        \ value</td></tr>\r\n</tbody>\r\n</table>\r\n\r\n<h4>Body Parameters (To be\
        \ passed as a JSON string)</h4>\r\n<table>\r\n<thead>\r\n<tr>\r\n<th>Key</th><"
  /Contact/{ListID}/ContactDetails/{ContactID}:
    get:
      tags:
      - Contact Configurations & Searches
      summary: /{{ListID}}/ContactDetails/{{ContactID}} | Show a contact field names
        valuesand rating , Contact Details
      operationId: get__contact__listid__contactdetails__contactid
      parameters:
      - name: ListID
        in: path
        required: true
        schema:
          type: string
      - name: ContactID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Get Contact Details</h4>\r\n<h4>URL Parameters</h4>\r\n<table>\r\
        \n<thead>\r\n<tr>\r\n<th>Key</th><th>Required</th><th>Type</th><th>Description</th></tr>\r\
        \n</thead>\r\n<tbody\r\n<tr><td>{{ListID}}</td><td>required</td><td>string</td><td>ID\
        \ of the list</td></tr>\r\n<tr><td>{{ContactID}}</td><td>required</td><td>string</td><td>ID\
        \ of the contact</td></tr>\r\n</tbody>\r\n</table>\r\n\r\n<h4>Response body\
        \ parameters</h4>\r\n<table>\r\n<thead>\r\n<tr>\r\n<th>Key</th><th>Type</th><th>Description</th></tr>\r\
        \n</thead>\r\n<tbody>\r\n<tr><t"
    patch:
      tags:
      - Add Contacts
      summary: Update Contact
      operationId: patch__contact__listid__contactdetails__contactid
      parameters:
      - name: ListID
        in: path
        required: true
        schema:
          type: string
      - name: ContactID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Update Contact</h4>\r\n<h4>URL Parameters</h4>\r\n<table>\r\
        \n<thead>\r\n<tr>\r\n<th>Key</th><th>Required</th><th>Type</th><th>Description</th></tr>\r\
        \n</thead>\r\n<tbody\r\n<tr><td>{{ListID}}</td><td>required</td><td>string</td><td>ID\
        \ of the list</td></tr>\r\n<tr><td>{{ContactID}}</td><td>required</td><td>string</td><td>ID\
        \ of the contact</td></tr>\r\n</tbody>\r\n</table>\r\n\r\n<h4>Body Parameters\
        \ (To be passed as a JSON string)</h4>\r\n<table>\r\n<thead>\r\n<tr>\r\n<th>Key</th><th>Required</th><th>Type</th><th>Description</"
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /Contact/ContactDetails/All:
    delete:
      tags:
      - Contact Configurations & Searches
      summary: /ContactDetails/All | Delete the selected contacts from ALL lists
      operationId: delete__contact_contactdetails_all
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Delete the selected contacts from ALL lists</h4>\r\n\r\n<h4>Request\
        \ body  parameters</h4>\r\n<table>\r\n<thead>\r\n<tr>\r\n<th>Key</th><th>Required</th><th>Type</th><th>Description</th></tr>\r\
        \n</thead>\r\n<tbody>\r\n<tr><td>Search</td><td>optional</td><td>string</td><td>Search\
        \ value like email address</td></tr>\r\n<tr><td>Filter</td><td>optional</td><td>string</td><td>Filter\
        \ value</td></tr>\r\n</tbody>\r\n</table>\r\n\r\n<h4>Body Parameters (To be\
        \ passed as a JSON string)</h4>\r\n<table>\r\n<thead>\r\n<tr>\r\n<th>Key</th><th>"
  /Contact/{ListID}/ContactDetails/CSV/Upload:
    post:
      tags:
      - Add Contacts
      summary: '{{ListID}}/ContactDetails/CSV/Upload |Save email address which are
        not verified and uploaded'
      operationId: post__contact__listid__contactdetails_csv_upload
      parameters:
      - name: ListID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Save email address which are not verified and uploaded</h4>\r\
        \n\r\n<h4>URL parameters</h4>\r\n<table>\r\n<thead>\r\n<tr>\r\n<th>Key</th><th>Required</th><th>Type</th><th>Description</th></tr>\r\
        \n</thead>\r\n<tbody>\r\n<tr><td>ListID</td><td>required</td><td>string</td><td>ID\
        \ of the list</td></tr>\r\n</tbody>\r\n</table>\r\n\r\n<h4>Body Parameters\
        \ (To be passed as a JSON string)</h4>\r\n<table>\r\n<thead>\r\n<tr>\r\n<th>Key</th><th>Required</th><th>Type</th><th>Description</th></tr>\r\
        \n</thead>\r\n<tbody>\r\n<tr><td>Data</td><td>re"
  /Contact/{ListID}/Mapping:
    patch:
      tags:
      - Add Contacts
      summary: /{{ListID}}/Mapping | Change mapping
      operationId: patch__contact__listid__mapping
      parameters:
      - name: ListID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Changes file mapping</h4>\r\n<h4>URL Parameters</h4>\r\n<table>\r\
        \n<thead>\r\n<tr>\r\n<th>Key</th><th>Required</th><th>Type</th><th>Description</th></tr>\r\
        \n</thead>\r\n<tbody>\r\n<tr><td>{{ListID}}</td><td>required</td><td>string</td><td>ID\
        \ of the list</td></tr>\r\n</tbody>\r\n</table>\r\n\r\n<h4>Body Parameters\
        \ (to be encoded as a JSON string)</h4>\r\n<table>\r\n<thead>\r\n<tr>\r\n\
        <th>Key</th><th>Required</th><th>Type</th><th>Description</th></tr>\r\n</thead>\r\
        \n<tbody>\r\n<tr><td>FileName</td><td>required</td><td>string</td><"
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /Contact/{ListID}/Compilation:
    patch:
      tags:
      - Add Contacts
      summary: /{{ListID}}/Compilation | Changing list compilation details
      operationId: patch__contact__listid__compilation
      parameters:
      - name: ListID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Changes file upload compilation</h4>\r\n<h4>URL Parameters</h4>\r\
        \n<table>\r\n<thead>\r\n<tr>\r\n<th>Key</th><th>Required</th><th>Type</th><th>Description</th></tr>\r\
        \n</thead>\r\n<tbody>\r\n<tr><td>{{ListID}}</td><td>required</td><td>string</td><td>ID\
        \ of the list</td></tr>\r\n</tbody>\r\n</table>\r\n\r\n<h4>Body Parameters\
        \ (to be encoded as a JSON string)</h4>\r\n<table>\r\n<thead>\r\n<tr>\r\n\
        <th>Key</th><th>Required</th><th>Type</th><th>Description</th></tr>\r\n</thead>\r\
        \n<tbody>\r\n<tr><td>Description</td><td>required</td><t"
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /Contact/{ListID}/Mapping/{FileName}:
    get:
      tags:
      - Add Contacts
      summary: Get list mapping
      operationId: get__contact__listid__mapping__filename
      parameters:
      - name: ListID
        in: path
        required: true
        schema:
          type: string
      - name: FileName
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "Gets the mapping of the uploaded list against its fields\r\n\r\
        \n<h4>URL Parameters</h4>\r\n<table>\r\n<thead>\r\n<tr>\r\n<th>Key</th>\r\n\
        <th>Required</th>\r\n<th>Description</th>\r\n</tr>\r\n</thead>\r\n<tbody>\r\
        \n<tr>\r\n<td>{{ListID}}</td>\r\n<td>required</td>\r\n<td>ID of the list</td>\r\
        \n</tr>\r\n<tr>\r\n<td>{{FileName}}</td>\r\n<td>required</td>\r\n<td>Name\
        \ of the file</td>\r\n</tr>\r\n</tbody>\r\n</table>\r\n\r\n<h4>Response body\
        \ parameters</h4>\r\n<table>\r\n<thead>\r\n<tr>\r\n<th>Key</th>\r\n<th>Type</th>\r\
        \n<th>Description</th>\r\n</tr>\r\n</thead>\r\n<"
  /Contact/{ListID}/ContactDetails/CSV:
    post:
      tags:
      - Add Contacts
      summary: Save email address
      operationId: post__contact__listid__contactdetails_csv
      parameters:
      - name: ListID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Save email address </h4>\r\n<h4>URL Parameters</h4>\r\n<table>\r\
        \n<thead>\r\n<tr>\r\n<th>Key</th><th>Required</th><th>Type</th><th>Description</th></tr>\r\
        \n</thead>\r\n<tbody>\r\n<tr><td>{{ListID}}</td><td>required</td><td>string</td><td>ID\
        \ of the list</td></tr>\r\n</tbody>\r\n</table>\r\n\r\n<h4>Body Parameters\
        \ (To be passed as a JSON string)</h4>\r\n<table>\r\n<thead>\r\n<tr>\r\n<th>Key</th><th>Required</th><th>Type</th><th>Description</th></tr>\r\
        \n</thead>\r\n<tbody>\r\n<tr><td>EmailIDs</td><td>required</td><td>string</td><td"
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /Contact/{ListID}/ContactDetails/CSV/Verified:
    post:
      tags:
      - Add Contacts
      summary: Save email address which verified
      operationId: post__contact__listid__contactdetails_csv_verified
      parameters:
      - name: ListID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Save email address which verified</h4>\r\n<h4>URL Parameters</h4>\r\
        \n<table>\r\n<thead>\r\n<tr>\r\n<th>Key</th><th>Required</th><th>Type</th><th>Description</th></tr>\r\
        \n</thead>\r\n<tbody>\r\n<tr><td>{{ListID}}</td><td>required</td><td>string</td><td>ID\
        \ of the list</td></tr>\r\n</tbody>\r\n</table>\r\n\r\n<h4>Body Parameters\
        \ (To be passed as a JSON string)</h4>\r\n<table>\r\n<thead>\r\n<tr>\r\n<th>Key</th><th>Required</th><th>Type</th><th>Description</th></tr>\r\
        \n</thead>\r\n<tbody>\r\n<tr><td>EmailIDs</td><td>required</td><td>"
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /Contact/{ID}/ContactDetails/CSV/Upload/Verified:
    post:
      tags:
      - Add Contacts
      summary: Save email address which is verified and uploaded
      operationId: post__contact__id__contactdetails_csv_upload_verified
      parameters:
      - name: ID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Save email address which is verified and uploaded</h4>\r\n\
        \r\n<h4>URL parameters</h4>\r\n<table>\r\n<thead>\r\n<tr>\r\n<th>Key</th><th>Required</th><th>Type</th><th>Description</th></tr>\r\
        \n</thead>\r\n<tbody>\r\n<tr><td>ListID</td><td>required</td><td>string</td><td>ID\
        \ of the list</td></tr>\r\n</tbody>\r\n</table>\r\n\r\n<h4>Body Parameters\
        \ (To be passed as a JSON string)</h4>\r\n<table>\r\n<thead>\r\n<tr>\r\n<th>Key</th><th>Required</th><th>Type</th><th>Description</th></tr>\r\
        \n</thead>\r\n<tbody>\r\n<tr><td>Data</td><td>require"
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
  /Contact/{ListID}/ContactSummary:
    get:
      tags:
      - List Reporting or  Metrics
      summary: /{{ListID}}/ContactSummary || Send Performance, Get the contact summary
      operationId: get__contact__listid__contactsummary
      parameters:
      - name: ListID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Get summary details of a contact list

        <h4>URL Parameters</h4>

        <table>

        <thead>

        <tr>

        <th>Key</th>

        <th>Required</th>

        <th>Description</th>

        </tr>

        </thead>

        <tbody>

        <tr>

        <td>{{ListID}}</td>

        <td>required</td>

        <td>ID of the contact list</td>

        </tr>

        </tbody>

        </table>


        <h4>Response body parameters</h4>

        <table>

        <thead>

        <tr>

        <th>Key</th><th>Type</th><th>Description</th></tr>

        </thead>

        <tbody>

        <tr><td>Status</td><td>string</td><td>1 if successful, -1 if error</td></tr>

        <tr><td>Data</td><td>ContactSummaryRecord<'
  /Contact/{ListID}/CleanCount:
    get:
      tags:
      - List Reporting or  Metrics
      summary: 'Get the clean count '
      operationId: get__contact__listid__cleancount
      parameters:
      - name: ListID
        in: path
        required: true
        schema:
          type: string
      - name: ct
        in: query
        required: false
        schema:
          type: string
      - name: ctc
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "Gets the clean count\r\n<h4>URL Parameters</h4>\r\n<table>\r\n\
        <thead>\r\n<tr>\r\n<th>Key</th>\r\n<th>Required</th>\r\n<th>Description</th>\r\
        \n</tr>\r\n</thead>\r\n<tbody>\r\n<tr>\r\n<td>{{ListID}}</td>\r\n<td>required</td>\r\
        \n<td>ID of the contact ID</td>\r\n</tr>\r\n</tbody>\r\n</table>\r\n\r\n<h4>Query\
        \ String Parameters</h4>\r\n<table>\r\n<thead>\r\n<tr>\r\n<th>Key</th>\r\n\
        <th>Required</th>\r\n<th>Description</th>\r\n</tr>\r\n</thead>\r\n<tbody>\r\
        \n<tr>\r\n<td>ct</td>\r\n<td>required</td>\r\n<td>Clean Type</td>\r\n</tr>\r\
        \n<tr>\r\n<td>ctc</td>\r\n<td>required</td>"
  /Contact/{ID}/Download:
    get:
      tags:
      - List Reporting or  Metrics
      summary: Get Download report
      operationId: get__contact__id__download
      parameters:
      - name: ID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Get a list of contacts</h4>\r\n<h4>URL Parameters</h4>\r\n\
        <table>\r\n<thead>\r\n<tr>\r\n<th>Key</th><th>Required</th><th>Type</th><th>Description</th></tr>\r\
        \n</thead>\r\n<tbody>\r\n<tr><td>{{ID}}</td><td>required</td><td>string</td><td>IDs\
        \ of the lists</td></tr>\r\n</tbody>\r\n</table>\r\n\r\n<h4>Response body\
        \ parameters</h4>\r\n<table>\r\n<thead>\r\n<tr>\r\n<th>Key</th><th>Type</th><th>Description</th></tr>\r\
        \n</thead>\r\n<tbody>\r\n<tr><td>Status</td><td>string</td><td>1 if successful,\
        \ -1 error</td></tr>\r\n<tr><td>ListName</td"
    post:
      tags:
      - General
      summary: Download report
      operationId: post__contact__id__download
      parameters:
      - name: ID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Download report</h4>\r\n<h4>URL Parameters</h4>\r\n<table>\r\
        \n<thead>\r\n<tr>\r\n<th>Key</th><th>Required</th><th>Type</th><th>Description</th></tr>\r\
        \n</thead>\r\n<tbody>\r\n<tr><td>{{ID}}</td><td>required</td><td>string</td><td>IDs\
        \ of the list</td></tr>\r\n</tbody>\r\n</table>\r\n\r\n<h4>Body Parameters\
        \ (To be passed as a JSON string)</h4>\r\n<table>\r\n<thead>\r\n<tr>\r\n<th>Key</th><th>Required</th><th>Type</th><th>Description</th></tr>\r\
        \n</thead>\r\n<tbody>\r\n<tr><td>PIN</td><td>required</td><td>string</td><td>4\
        \ digit Sec"
  /Contact/Count/{ListIDs}/{SegmentIDs}:
    get:
      tags:
      - List Reporting or  Metrics
      summary: /Count/{{ListIDs}}/{{SegmentIDs}} ||Get Contacts Count
      operationId: get__contact_count__listids___segmentids
      parameters:
      - name: ListIDs
        in: path
        required: true
        schema:
          type: string
      - name: SegmentIDs
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Get Contacts Count</h4>\r\n<h4>URL Parameters</h4>\r\n<table>\r\
        \n<thead>\r\n<tr>\r\n<th>Key</th><th>Required</th><th>Type</th><th>Description</th></tr>\r\
        \n</thead>\r\n<tbody>\r\n<tr><td>{{ListIDs}}</td><td>required</td><td>string</td><td>IDs\
        \ of the lists</td></tr>\r\n<tr><td>{{SegmentIDs}}</td><td>required</td><td>string</td><td>IDs\
        \ of the segments</td></tr>\r\n</tbody>\r\n</table>\r\n\r\n<h4>Query String\
        \ parameters</h4>\r\n<table>\r\n<thead>\r\n<tr>\r\n<th>Key</th><th>Required</th><th>Type</th><th>Description</th></tr>\r\
        \n</t"
  /Contact/TrashCount:
    get:
      tags:
      - List Reporting or  Metrics
      summary: /TrashCount | Get TrashCount
      operationId: get__contact_trashcount
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Get a list of contacts</h4>\r\n\r\n<h4>Response body parameters</h4>\r\
        \n<table>\r\n<thead>\r\n<tr>\r\n<th>Key</th><th>Type</th><th>Description</th></tr>\r\
        \n</thead>\r\n<tbody>\r\n<tr><td>Status</td><td>string</td><td>1 if successful,\
        \ -1 if error</td></tr>\r\n<tr><td>Count</td><td>int</td><td>Total count</td></tr>\r\
        \n</tbody>\r\n</table>"
  /Contact/ExportToList:
    get:
      tags:
      - List Reporting or  Metrics
      summary: /ExportToList? | Engagement Reporting, Get Export List
      operationId: get__contact_exporttolist
      parameters:
      - name: ReportFor
        in: query
        required: false
        schema:
          type: string
      - name: EmailID
        in: query
        required: false
        schema:
          type: string
      - name: IsOverWrite
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "Export List\r\n\r\n<h4>Query String Parameters</h4>\r\n<table>\r\
        \n<thead>\r\n<tr>\r\n<th>Key</th>\r\n<th>Required</th>\r\n<th>Description</th>\r\
        \n</tr>\r\n</thead>\r\n<tbody>\r\n<tr>\r\n<td>ReportFor</td>\r\n<td>optional</td>\r\
        \n<td><ul><li><code>1</code> - Clicks</li><li><code>2</code> - Forwards</li><li><code>3</code>\
        \ - Bounces</li><li><code>5</code> - Unsubscribe</li><li><code>6</code> -\
        \ Opens</li><li><code>7</code> - Unopens</li><li><code>8</code> – Clicks For\
        \ url</li><li><code>11</code> - Individual Survey</li><li><code"
  /Contact/ContactImportStatus:
    get:
      tags:
      - List Reporting or  Metrics
      summary: /ContactImportStatus | Get Contact Import Status
      operationId: get__contact_contactimportstatus
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Get Contact Import Status</h4>\r\n\r\n<h4>Response body parameters</h4>\r\
        \n<table>\r\n<thead>\r\n<tr>\r\n<th>Key</th><th>Type</th><th>Description</th></tr>\r\
        \n</thead>\r\n<tbody>\r\n<tr><td>Status</td><td>string</td><td>1 if successful,\
        \ -1 if error</td></tr>\r\n<tr><td>ImportType</td><td>string</td><td>Import\
        \ Type</td></tr>\r\n<tr><td>ContactFound</td><td>string</td><td>Contact Found\
        \ Count</td></tr>\r\n<tr><td>ContactIncrease</td><td>string</td><td></td></tr>\r\
        \n<tr><td>Count</td><td>int</td><td>Total count</td></tr>"
  /Contact/{ListID}/AuditHistory:
    get:
      tags:
      - List Reporting or  Metrics
      summary: /{{ListID}}/AuditHistory || Get contact audit history
      operationId: get__contact__listid__audithistory
      parameters:
      - name: ListID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Get contact audit history</h4>\r\n<h4>URL Parameters</h4>\r\
        \n<table>\r\n<thead>\r\n<tr>\r\n<th>Key</th><th>Required</th><th>Type</th><th>Description</th></tr>\r\
        \n</thead>\r\n<tbody>\r\n<tr><td>{{ListID}}</td><td>required</td><td>string</td><td>ID\
        \ of the list</td></tr>\r\n</tbody>\r\n</table>\r\n\r\n<h4>Query String parameters</h4>\r\
        \n<table>\r\n<thead>\r\n<tr>\r\n<th>Key</th><th>Required</th><th>Type</th><th>Description</th></tr>\r\
        \n</thead>\r\n<tbody>\r\n<tr><td>PageNumber</td><td>optional</td><td>int</td><td>Page\
        \ number</td></"
  /Contact/{ListID}/AuditHistoryDetails/{BatchID}/{GroupID}:
    get:
      tags:
      - List Reporting or  Metrics
      summary: Get contact audit history detail
      operationId: get__contact__listid__audithistorydetails__batchid___groupid
      parameters:
      - name: ListID
        in: path
        required: true
        schema:
          type: string
      - name: BatchID
        in: path
        required: true
        schema:
          type: string
      - name: GroupID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h5> see /{{ListID}}/AuditHistory || Get contact audit history\
        \ - to get BatchID</h5>\r\n<h4>Get contact audit history detail</h4>\r\n<h4>URL\
        \ Parameters</h4>\r\n<table>\r\n<thead>\r\n<tr>\r\n<th>Key</th><th>Required</th><th>Type</th><th>Description</th></tr>\r\
        \n</thead>\r\n<tbody>\r\n<tr><td>{{ListID}}</td><td>required</td><td>string</td><td>ID\
        \ of the list</td></tr>\r\n<tr><td>{{BatchID}}</td><td>required</td><td>string</td><td>ID\
        \ of the batch</td></tr>\r\n<tr><td>{{GroupID}}</td><td>required</td><td>string</td><td>ID"
  /Contact/ActiveCount:
    get:
      tags:
      - Contact Reports & Metrics
      summary: /ActiveCount | Total all active emails by account, Get ActiveCount
      operationId: get__contact_activecount
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Get ActiveCount</h4>\r\n\r\n<h4>Response body parameters</h4>\r\
        \n<table>\r\n<thead>\r\n<tr>\r\n<th>Key</th><th>Type</th><th>Description</th></tr>\r\
        \n</thead>\r\n<tbody>\r\n<tr><td>Status</td><td>string</td><td>1 if successful,\
        \ -1 if error</td></tr>\r\n<tr><td>Count</td><td>int</td><td>Total count</td></tr>\r\
        \n</tbody>\r\n</table>"
  /Contact/{ContactEmail}/ContactReportHistory:
    get:
      tags:
      - Contact Reports & Metrics
      summary: /{{ContactEmail}}/ContactReportHistory || Engagement by a Contact,
        Get contact history
      operationId: get__contact__contactemail__contactreporthistory
      parameters:
      - name: ContactEmail
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Get contact history</h4>\r\n<h4>URL Parameters</h4>\r\n<table>\r\
        \n<thead>\r\n<tr>\r\n<th>Key</th><th>Required</th><th>Type</th><th>Description</th></tr>\r\
        \n</thead>\r\n<tbody>\r\n<tr><td>{{EMail}}</td><td>required</td><td>string</td><td>EMail\
        \ Address</td></tr>\r\n</tbody>\r\n</table>\r\n\r\n<h4>Query String parameters</h4>\r\
        \n<table>\r\n<thead>\r\n<tr>\r\n<th>Key</th><th>Required</th><th>Type</th><th>Description</th></tr>\r\
        \n</thead>\r\n<tbody>\r\n<tr><td>PageNumber</td><td>optional</td><td>int</td><td>Page\
        \ number</td></tr>\r\n<tr"
  /Contact/{EMailID}/ContactReportHistory:
    get:
      tags:
      - Contact Reports & Metrics
      summary: /{{ContactID}}/ContactReportHistory || Get contact history
      operationId: get__contact__emailid__contactreporthistory
      parameters:
      - name: EMailID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Get contact history</h4>\r\n<h4>URL Parameters</h4>\r\n<table>\r\
        \n<thead>\r\n<tr>\r\n<th>Key</th><th>Required</th><th>Type</th><th>Description</th></tr>\r\
        \n</thead>\r\n<tbody>\r\n<tr><td>{{EMailID}}</td><td>required</td><td>string</td><td>EMail\
        \ Address</td></tr>\r\n</tbody>\r\n</table>\r\n\r\n<h4>Query String parameters</h4>\r\
        \n<table>\r\n<thead>\r\n<tr>\r\n<th>Key</th><th>Required</th><th>Type</th><th>Description</th></tr>\r\
        \n</thead>\r\n<tbody>\r\n<tr><td>PageNumber</td><td>optional</td><td>int</td><td>Page\
        \ number</td></tr>\r\n<"
  /Contact/UniqueCount:
    get:
      tags:
      - Contact Reports & Metrics
      summary: /UniqueCount || Get UniqueCount
      operationId: get__contact_uniquecount
      parameters: []
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Get UniqueCount</h4>\r\n\r\n<h4>Response body parameters</h4>\r\
        \n<table>\r\n<thead>\r\n<tr>\r\n<th>Key</th><th>Type</th><th>Description</th></tr>\r\
        \n</thead>\r\n<tbody>\r\n<tr><td>Status</td><td>string</td><td>1 if successful,\
        \ -1 if error</td></tr>\r\n<tr><td>Count</td><td>int</td><td>Total count</td></tr>\r\
        \n</tbody>\r\n</table>"
  /Contact/{ListID}/Webhooks/{ID}:
    patch:
      tags:
      - Webhooks
      summary: Update Webhook
      operationId: patch__contact__listid__webhooks__id
      parameters:
      - name: ListID
        in: path
        required: true
        schema:
          type: string
      - name: ID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Update webhook data</h4>\r\n<h4>URL Parameters</h4>\r\n<table>\r\
        \n<thead>\r\n<tr>\r\n<th>Key</th><th>Required</th><th>Type</th><th>Description</th></tr>\r\
        \n</thead>\r\n<tbody>\r\n<tr><td>{{ListID}}</td><td>required</td><td>string</td><td>ID\
        \ of the list</td></tr>\r\n<tr><td>{{ID}}</td><td>required</td><td>string</td><td>ID\
        \ of the webhook</td></tr>\r\n</tbody>\r\n</table>\r\n\r\n<h4>Body Parameters\
        \ (To be passed as a JSON string)</h4>\r\n<table>\r\n<thead>\r\n<tr>\r\n<th>Key</th><th>Required</th><th>Type</th><th>Description</t"
      requestBody:
        content:
          application/json:
            schema:
              type: object
    delete:
      tags:
      - Webhooks
      summary: Delete the Webhooks
      operationId: delete__contact__listid__webhooks__id
      parameters:
      - name: ListID
        in: path
        required: true
        schema:
          type: string
      - name: ID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Delete webhooks</h4>\r\n<h4>URL Parameters</h4>\r\n<table>\r\
        \n<thead>\r\n<tr>\r\n<th>Key</th><th>Required</th><th>Type</th><th>Description</th></tr>\r\
        \n</thead>\r\n<tbody>\r\n<tr><td>{{ListID}}</td><td>required</td><td>string</td><td>ID\
        \ of the list</td></tr>\r\n<tr><td>{{ID}}</td><td>required</td><td>string</td><td>ID\
        \ of the webhook</td></tr>\r\n</tbody>\r\n</table>\r\n\r\n<h4>Response body\
        \ parameters</h4>\r\n<table>\r\n<thead>\r\n<tr>\r\n<th>Key</th><th>Type</th><th>Description</th></tr>\r\
        \n</thead>\r\n<tbody>\r\n<tr><td>Status</"
  /Contact/{ListID}/Webhooks:
    post:
      tags:
      - Webhooks
      summary: Create Webhook
      operationId: post__contact__listid__webhooks
      parameters:
      - name: ListID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Create New Webhook</h4>\r\n<h4>URL Parameters</h4>\r\n<table>\r\
        \n<thead>\r\n<tr>\r\n<th>Key</th><th>Required</th><th>Type</th><th>Description</th></tr>\r\
        \n</thead>\r\n<tbody>\r\n<tr><td>{{ListID}}</td><td>required</td><td>string</td><td>ID\
        \ of the list</td></tr>\r\n</tbody>\r\n</table>\r\n\r\n<h4>Body Parameters\
        \ (To be passed as a JSON string)</h4>\r\n<table>\r\n<thead>\r\n<tr>\r\n<th>Key</th><th>Required</th><th>Type</th><th>Description</th></tr>\r\
        \n</thead>\r\n<tbody>\r\n<tr><td>Data</td><td>required</td><td><a href=\"\
        http://www"
      requestBody:
        content:
          application/json:
            schema:
              type: object
    get:
      tags:
      - Webhooks
      summary: Get Webhooks
      operationId: get__contact__listid__webhooks
      parameters:
      - name: ListID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: "<h4>Get a list of webhooks in the specified list</h4>\r\n<h4>URL\
        \ Parameters</h4>\r\n<table>\r\n<thead>\r\n<tr>\r\n<th>Key</th><th>Required</th><th>Type</th><th>Description</th></tr>\r\
        \n</thead>\r\n<tbody>\r\n<tr><td>{{ListID}}</td><td>required</td><td>string</td><td>ID\
        \ of the list</td></tr>\r\n</tbody>\r\n</table>\r\n\r\n<h4>Response body parameters</h4>\r\
        \n<table>\r\n<thead>\r\n<tr>\r\n<th>Key</th><th>Type</th><th>Description</th></tr>\r\
        \n</thead>\r\n<tbody>\r\n<tr><td>Status</td><td>string</td><td>1 if successful,\
        \ -1 if error</td>"
  /Contact/{ListIDs}/Compare:
    get:
      tags:
      - General
      summary: Compare contacts
      operationId: get__contact__listids__compare
      parameters:
      - name: ListIDs
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      description: 'Compares contacts

        <h4>Response: 1 if successful, -1 if error</h4>

        <h4>URL Parameters</h4>

        <table>

        <thead>

        <tr>

        <th>Key</th>

        <th>Required</th>

        <th>Description</th>

        </tr>

        </thead>

        <tbody>

        <tr>

        <td>{{ListIDs}}</td>

        <td>required</td>

        <td>IDs of the lists</td>

        </tr>

        </tbody>

        </table>


        <h4>Response body parameters</h4>

        <table>

        <thead>

        <tr>

        <th>Key</th><th>Type</th><th>Description</th></tr>

        </thead>

        <tbody>

        <tr><td>Status</td><td>string</td><td>1 if successful, -1 if error</td></tr>

        </tbody>

        </table>'
  /Contact/{CleanListID}/Clean:
    post:
      tags:
      - General
      summary: Clean List
      operationId: post__contact__cleanlistid__clean
      parameters:
      - name: CleanListID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
[...]
